//=====================================================================
// Triangle
//=====================================================================
#triangle {
    ._base() {
        content: '';
        display: block;
        width: 0;
        height: 0;
        position: absolute;
    }
    .topleft( @color; @size: 10px ) {
        #triangle > ._base();
        border-top: @size solid @color;
        border-right: @size solid transparent;
    }
    .topright( @color; @size: 10px ) {
        #triangle > ._base();
        border-top: @size solid @color;
        border-left: @size solid transparent;
    }
    .bottomleft( @color; @size: 10px ) {
        #triangle > ._base();
        border-bottom: @size solid @color;
        border-right: @size solid transparent;
    }
    .bottomright( @color; @size: 10px ) {
        #triangle > ._base();
        border-bottom: @size solid @color;
        border-left: @size solid transparent;
    }
}