//=====================================================================
//Grid column mixins
//=====================================================================
.column-base(@gutter: @grid-gutter-width) {
    @padding: (@gutter / 2);
    .po( relative );
    .lh( 1px );
    .pr( @padding );
    .pl( @padding );
}

// Generate extra small column
.make-xs-column( @column; @grid: @grid-columns-main; @gutter: @grid-gutter-width ) {
    .column-base( @gutter );
    .wp( @grid; @column );
}
.make-xs-column-offset( @column; @grid: @grid-columns-main ) {
    .set-percent( margin-left; @grid; @column );
}
.make-xs-column-push( @column; @grid: @grid-columns-main ) {
    .set-percent( left; @grid; @column );
}
.make-xs-column-pull( @column; @grid: @grid-columns-main ) {
    .set-percent( right; @grid; @column );
}

// Generate the small columns
.make-sm-column( @column; @grid: @grid-columns-main; @gutter: @grid-gutter-width ) {
    .column-base( @gutter );
    @media (min-width: @screen-sm-min) {
        .fol;
        .wp( @grid; @column );
    }
}
.make-sm-column-offset( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-sm-min) {
        .set-percent( margin-left; @grid; @column );
    }
}
.make-sm-column-push( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-sm-min) {
        .set-percent( left; @grid; @column );
    }
}
.make-sm-column-pull( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-sm-min) {
        .set-percent( right; @grid; @column );
    }
}

// Generate the medium columns
.make-md-column( @column; @grid: @grid-columns-main; @gutter: @grid-gutter-width) {
    .column-base( @gutter );

    @media (min-width: @screen-md-min) {
        .fol;
        .wp( @grid; @column );
    }
}
.make-md-column-offset( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-md-min) {
        .set-percent( margin-left; @grid; @column );
    }
}
.make-md-column-push( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-md-min) {
        .set-percent( left; @grid; @column );
    }
}
.make-md-column-pull( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-md-min) {
        .set-percent( right; @grid; @column );
    }
}

// Generate the large columns
.make-lg-column( @column; @grid: @grid-columns-main; @gutter: @grid-gutter-width) {
    .column-base( @gutter );

    @media (min-width: @screen-lg-min) {
        .fol;
        .wp( @grid; @column );
    }
}
.make-lg-column-offset( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-lg-min) {
        .set-percent( margin-left; @grid; @column );
    }
}
.make-lg-column-push( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-lg-min) {
        .set-percent( left; @grid; @column );
    }
}
.make-lg-column-pull( @column; @grid: @grid-columns-main ) {
    @media (min-width: @screen-lg-min) {
        .set-percent( right; @grid; @column );
    }
}

//Making grid columns
.make-grid-columns() {
    // Common styles for all sizes of grid columns, widths 1-12
    // initial
    .col(@index) when (@index = 1)
    {
        @itemxs: ~".@{prefix}@{column-prefix}@{single-separator}xs@{single-separator}@{index}";
        @itemsm: ~".@{prefix}@{column-prefix}@{single-separator}sm@{single-separator}@{index}";
        @itemmd: ~".@{prefix}@{column-prefix}@{single-separator}md@{single-separator}@{index}";
        @itemlg: ~".@{prefix}@{column-prefix}@{single-separator}lg@{single-separator}@{index}";
        @item: ~"@{itemxs}, @{itemsm}, @{itemmd}, @{itemlg}";
        .col((@index + 1); @item);
    }
    // general; "=<" isn't a typo
    .col(@index; @list) when (@index =< @grid-columns-main )
    { 
        @itemxs: ~".@{prefix}@{column-prefix}@{single-separator}xs@{single-separator}@{index}";
        @itemsm: ~".@{prefix}@{column-prefix}@{single-separator}sm@{single-separator}@{index}";
        @itemmd: ~".@{prefix}@{column-prefix}@{single-separator}md@{single-separator}@{index}";
        @itemlg: ~".@{prefix}@{column-prefix}@{single-separator}lg@{single-separator}@{index}";
        @item: ~"@{itemxs}, @{itemsm}, @{itemmd}, @{itemlg}";
        .col((@index + 1); ~"@{list}, @{item}");
    }
    .col(@index; @list) when (@index > @grid-columns-main ) { // terminal
        @{list} {
            position: relative;
            // Prevent columns from collapsing when empty
            min-height: 1px;
            // Inner gutter via padding
            padding-left:  (@grid-gutter-width / 2);
            padding-right: (@grid-gutter-width / 2);
        }
    }
    .col(1); // kickstart it
}

.float-grid-columns(@class) {
    .col(@index) when (@index = 1) { // initial
        @item: ~".@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}@{index}";
        .col((@index + 1); @item);
    }
    .col(@index; @list) when (@index =< @grid-columns-main) { // general
        @item: ~".@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}@{index}";
        .col((@index + 1); ~"@{list}, @{item}");
    }
    .col(@index; @list) when (@index > @grid-columns-main) { // terminal
        @{list} {
            float: left;
        }
    }
    .col(1); // kickstart it
}

.calc-grid-column(@index; @class; @type; @root: container; @grid: @grid-columns-main ) when (@type = width) and (@index > 0) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}@{index} {
        .wp( @index; @grid );
    }
}
.calc-grid-column(@index; @class; @type; @root: container; @grid: @grid-columns-main ) when (@type = push) and (@index > 0) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}push@{single-separator}@{index} {
        .set-percent( left; @index; @grid );
    }
}
.calc-grid-column(@index; @class; @type; @root: container; @grid: @grid-columns-main ) when (@type = push) and (@index = 0) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}push@{single-separator}0 {
        .l( auto );
    }
}
.calc-grid-column(@index; @class; @type; @root: container; @grid: @grid-columns-main ) when (@type = pull) and (@index > 0) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}pull@{single-separator}@{index} {
        .set-percent( right; @index; @grid );
    }
}
.calc-grid-column(@index; @class, @type; @root: container; @grid: @grid-columns-main ) when (@type = pull) and (@index = 0) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}pull@{single-separator}0 {
        .r( auto );
    }
}
.calc-grid-column(@index; @class; @type; @root: container; @grid: @grid-columns-main ) when (@type = offset) {
    .@{root} .@{prefix}@{column-prefix}@{single-separator}@{class}@{single-separator}offset@{single-separator}@{index} {
        .set-percent( margin-left; @index; @grid );
    }
}