// ===============================================
// Button group mixins
// ===============================================
.button-mn() {
    .p( @button-mn-padding );
    .fs( @button-mn-font );
    .lh( @button-mn-line-height );
    .fb( @button-mn-weight );
}
.button-xs() {
    .p( @button-xs-padding );
    .fs( @button-xs-font );
    .lh( @button-xs-line-height );
    .fb( @button-xs-weight );
}
.button-sm() {
    .p( @button-sm-padding );
    .fs( @button-sm-font );
    .lh( @button-sm-line-height );
    .fb( @button-sm-weight );
}
.button-md() {
    .p( @button-md-padding );
    .fs( @button-md-font );
    .lh( @button-md-line-height );
    .fb( @button-md-weight );
}
.button-lg() {
    .p( @button-lg-padding );
    .fs( @button-lg-font );
    .lh( @button-lg-line-height );
    .fb( @button-lg-weight );
}
.button-xg() {
    .p( @button-xg-padding );
    .fs( @button-xg-font );
    .lh( @button-xg-line-height );
    .fb( @button-xg-weight );
}
.button-block() {
    .p( @button-block-padding );
    .fs( @button-block-font );
    .lh( @button-block-line-height );
    .fb( @button-block-weight );
}