// ===============================================
// Button size setup
// ===============================================

@import 'variables.less';
@import 'mixins.less';

.@{prefix}@{button-size-prefix} {
    &@{single-separator}mn {
        .button-mn();
    }
    &@{single-separator}xs {
        .button-xs();
    }
    &@{single-separator}sm {
        .button-sm();
    }
    &@{single-separator}md {
        .button-md();
    }
    &@{single-separator}lg {
        .button-lg();
    }
    &@{single-separator}xg {
        .button-xg();
    }
    &@{single-separator}block {
        .button-block();
    }
}