// ===============================================
// Button size variables
// ===============================================
@button-size-prefix:        btn;

@button-mn-padding:         3px 6px;
@button-mn-font:            10px;
@button-mn-line-height:     1em;
@button-mn-weight:          none;

@button-xs-padding:         4px 8px;
@button-xs-font:            11px;
@button-xs-line-height:     1em;
@button-xs-weight:          none;

@button-sm-padding:         6px 12px;
@button-sm-font:            12px;
@button-sm-line-height:     1em;
@button-sm-weight:          none;

@button-md-padding:         8px 15px;
@button-md-font:            12px;
@button-md-line-height:     1em;
@button-md-weight:          bold;

@button-lg-padding:         12px 18px;
@button-lg-font:            14px;
@button-lg-line-height:     1em;
@button-lg-weight:          bold;

@button-xg-padding:         14px 20px;
@button-xg-font:            16px;
@button-xg-line-height:     1em;
@button-xg-weight:          bold;

@button-block-padding:      10px 0;
@button-block-font:         14px;
@button-block-line-height:  1em;
@button-block-weight:       bold;