.about-us-main-title {
	margin: 10px 0 15px;
	font-size: 35px;
	line-height: 36px;
	font-weight: bold;
} 

.image-content {
	.m (25px 0);
}

.question_ask {

	.m( 15px 0);
	
	span{
		vertical-align: top;
	}

	p{
		.w (80%);
		display: inline-block;
		.m (0px);
	}
}


.news-main_item_content_cctv{
	background-color: #fff;
	padding: 20px;
	position: relative;
}
h3.title-page {
	font-size:14px;
	margin:0 0 20px 0;
}

.cctv-list a {
	 font-family: 'PT Sans', sans-serif;
	 font-size:18px;
	 color:#333333;
	 text-decoration:none;
}

.cctv-list {
	margin-bottom:20px;
}
.news-main_item_main_cctv {
	min-height: 1400px;
}

.b_tab_content_item {
	min-height:1927px;  
}
.form-hilang-temu {
	margin-top:40px;
	padding-top:20px;
	border-top:2px solid #b7b7b7;
}
span.tagline-hilang {
	display:block;
	font-family: 'PT Sans', sans-serif;
	font-size:13px;
	font-weight:bold;
}
.news-main_item_text ul.form-maintance{
	margin:20px 0;
	padding:0px;
}
ul.form-maintance li{
	list-style:none;
	margin-bottom:20px;
}
ul.form-maintance li label {
	margin-right:20px;
	width: 112px;
	display: inline-block;
}
input[type='text'].form-new{
	border-radius:5px;
	-webkit-border-radius:5px;
	border:1px solid #949494;
	padding:5px;
	-webkit-box-shadow: inset 3px 0px 31px -10px rgba(0,0,0,0.75);
-moz-box-shadow: inset 3px 0px 31px -10px rgba(0,0,0,0.75);
box-shadow: inset 3px 0px 31px -10px rgba(0,0,0,0.75);
}

.news-main_item_contact-us {
	background-color: #fff;
	padding: 20px;
	position: relative;
	margin-left: 72px;
}
.ico-mail {
	background: url('../img/mail-ico.png') no-repeat;
	width:24px;
	height:20px;
	text-indent:-9999px;
}
.list-contact-us {
	margin:20px 0px;
}

.top_site-menu li ul {
	padding: 0;
  	position: absolute;
  	top: 48px;
  	left: 0;
	 display: none;
  opacity: 0;
  visibility: hidden;
  z-index:100;
             
}

.top_site-menu li ul li a, .top_site-menu li ul li:first-child  {
	border:none;
	background: url('../img/bg-dropdown.png') repeat; 
	width: 210px;
	
}

.top_site-menu li ul li:hover a{
	color:#e07a1f;
}

.top_site-menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.grey-background {
	background:#f6f6f6;
	border-top:1px solid #dddddd;
}

.news-main_item_content_grey {
	margin-left: 72px;
	background-color: #f6f6f6;
	padding: 20px 0;
	position: relative;
	min-height:1020px;
}
.title-message {
	display: inline-block;
	font-size: 14px;
	color: #000;
	padding: 10px;
	background: #f6f6f6;
	margin-bottom: 0px;
	margin-left: 72px;
	border-top:1px solid #dddddd;
	border-left:1px solid #dddddd;
	border-right:1px solid #dddddd;
}

.news-main_item_content_grey h3 {
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

form.keluhan {
	font-size:13px;
	font-family: 'Open Sans', sans-serif;
	font-weight:400;
}

form.keluhan label {
	display:block;
}

input[type='text'].keluhan-text{
	display:block;
	width:40%;
	margin:10px 0;
	border:1px solid #dddddd;
	padding:10px;
	webkit-border-radius:3px;
	border-radius:3px;
}

textarea.keluhan-text {
	min-height:150px;
	display:block;
	width:40%;
	margin:10px 0;
	border:1px solid #dddddd;
	padding:10px;
	webkit-border-radius:3px;
	border-radius:3px;
}

input[type='submit'].send-message {
	border:none;
	background:#23af44;
	webkit-border-radius:3px;
	border-radius:3px;
	color:#fff;
	padding:10px 25px;
	font-size:16px;
	font-family: 'Open Sans', sans-serif;
	text-transform:uppercase;
	font-weight:bold;
	margin:10px 0;
	
}

.top_site-title {
	font-family:verdana!important;
}