//==============================================
// Import libs
//==============================================
@import 'libs/variables.less';
@import 'variables.less';
@import 'bian.less';

//Import all mixins
@import 'libs/mixins/mixins.less';


/*===============================================
 * Normalize browser default
 *===============================================*/
.normalize();

//
//Call font tools
//
@import 'general/font.less';

/*
 * Body font
 */
body {
    .ff-text;
}

//
//Call all tools
//
/*===============================================
 * Margin tools class
 *===============================================*/
.create-margin-tools();

/*===============================================
 * Padding tools class
 *===============================================*/
.create-padding-tools();

/*===============================================
 * Grid tools class
 *===============================================*/
@import 'libs/blocks/grid/setup.less';

//
//Call color tools
//
@import 'general/color.less';

//
//Font Awesome
//
@import 'libs/blocks/icon/fa/setup.less';


/**
 * General
 */
.root {
    .bg( url( '../img/bg-police.png' ) no-repeat center top );
	background-size:cover;
    
    .wrapper {
        .bg( url( '../img/bg-gedung.png' ) no-repeat center top );
    }
}
 
/**
 * Header
 */
@import 'blocks/header.less';
 
/**
 * Main
 */
@import 'blocks/main.less';

/**
 * Widget
 */
@import 'blocks/widget.less';
 
/**
 * Bottom
 */
@import 'blocks/bottom.less';
@import 'blocks/footer.less';