//
//Margin
//
@margin-tools-min:          0;
@margin-tools-gap:          5;
@margin-tools-max:          50;

//
//Padding
//
@padding-tools-min:        0;
@padding-tools-gap:        5;
@padding-tools-max:        50;
