//==============================================
// Label size mixins
//==============================================
.label-xs() {
    .fs(  @label-xs-font )!important;
    .p( @label-xs-padding );
    .fb( @label-xs-weight );
}
.label-sm() {
    .fs(  @label-sm-font )!important;
    .p( @label-sm-padding );
    .fb( @label-sm-weight );
}
.label-md() {
    .fs(  @label-md-font )!important;
    .p( @label-md-padding );
    .fb( @label-md-weight );
}
.label-lg() {
    .fs(  @label-lg-font )!important;
    .p( @label-lg-padding );
    .fb( @label-lg-weight );
}