//==============================================
// Label size setup
//==============================================
@import 'mixins.less';
@import 'variables.less';

.@{prefix}@{label-size-prefix} {
    &@{single-separator}xs {
        .label-xs();
    }
    &@{single-separator}sm {
        .label-sm();
    }
    &@{single-separator}md {
        .label-md();
    }
    &@{single-separator}lg {
        .label-lg();
    }
}