//==============================================
// Label size variables
//==============================================
@label-size-prefix:     label;

@label-xs-font:         10px;
@label-xs-padding:      1px 2px;
@label-xs-weight:       none;

@label-sm-font:         11px;
@label-sm-padding:      2px 4px;
@label-sm-weight:       none;

@label-md-font:         12px;
@label-md-padding:      3px 5px;
@label-md-weight:       bold;

@label-lg-font:         14px;
@label-lg-padding:      4px 7px;
@label-lg-weight:       bold;