// ===============================================
// Alert mixins
// ===============================================

.alert-bordered() {
    .m( @alert-bordered-margin );
    .p( @alert-bordered-padding );
    .bo( transparent );
    .rad( @alert-bordered-radius );
}

//Alert Coloring
.alert-bordered-color( @color ) when (lightness(@color) >= 50%) and (lightness(@color) <= 80%)
{
    @border-color: darken( @color, 20% );
    @text-color:   darken( @color, 50% );
    
    .bgc( @color );
    .boc( @border-color );
    .c( @text-color );
}
.alert-bordered-color( @color ) when (lightness(@color) >= 80%)
{
    @border-color: darken( @color, 20% );
    @text-color:   darken( @color, 80% );
    
    .bgc( @color );
    .boc( @border-color );
    .c( @text-color );
}
.alert-bordered-color( @color ) when ( lightness(@color) <= 50% ) and (lightness(@color) >= 30%)
{
    @border-color: darken( @color, 20% );
    @text-color:   lighten( @color, 60% );
    
    .bgc( @color );
    .boc( @border-color );
    .c( @text-color );
}
.alert-bordered-color( @color ) when (lightness(@color) <= 30%)
{
    @border-color: darken( @color, 20% );
    @text-color:   lighten( @color, 80% );
    
    .bgc( @color );
    .boc( @border-color );
    .c( @text-color );
}
