// ===============================================
// Alert class
// ===============================================

@import 'mixins.less';
@import 'variables.less';

@alert-bordered-class: ~"@{prefix}@{alert-bordered-prefix}";
.@{alert-bordered-class} {

    .alert-bordered();
    
    &&@{single-separator}success {
        .alert-bordered-color( @alert-bordered-success-color );
    }
    &&@{single-separator}danger {
        .alert-bordered-color( @alert-bordered-danger-color );
    }
    &&@{single-separator}warning {
        .alert-bordered-color( @alert-bordered-warning-color );
    }
    &&@{single-separator}info {
        .alert-bordered-color( @alert-bordered-info-color );
    }
}
