// ===============================================
// Alert variables
// ===============================================

@alert-bordered-prefix:              alert;
@alert-bordered-padding:             10px 15px;
@alert-bordered-margin:              0 0 15px;
@alert-bordered-radius:              5px;

@alert-bordered-success-color:       #ceebcd;
@alert-bordered-danger-color:        #efccca;
@alert-bordered-warning-color:       #f4e3c7;
@alert-bordered-info-color:          #e4eef7;
