/* Ico moon definition */

@ec-icons-list: download, pencil, chat, archive, user, users, archive2, earth, location, contract, mobile, screen, mail, support, help, videos, pictures, link, clock, photoshop, illustrator, star, heart, bookmark, file, feed, locked, unlocked, refresh, list, share, archive3, images, images2, search, cog, trashcan, pencil2, info;

@ec-icon-lenght: length( @ec-icons-list );
.add-ec-icon( @index ) when ( @index <= @ec-icon-lenght ) {
    @var: extract( @ec-icons-list, @index );
    @attr: ~".@{ec-css-prefix}-@{var}";
    @vname: ~"ec-var-@{var}";
    
    @{attr}:before { content: @@vname; }
    
    @newindex: @index + 1;
    .add-ec-icon( @newindex );
}
.add-ec-icon(1);