// Variables
// --------------------------

@ec-font-path:              "../fonts/ec";
@ec-css-prefix:             ec;

@ec-var-download:           "\e600";
@ec-var-pencil:             "\e601";
@ec-var-chat:               "\e602";
@ec-var-archive:            "\e603";
@ec-var-user:               "\e604";
@ec-var-users:              "\e605";
@ec-var-archive2:           "\e606";
@ec-var-earth:              "\e607";
@ec-var-location:           "\e608";
@ec-var-contract:           "\e609";
@ec-var-mobile:             "\e60a";
@ec-var-screen:             "\e60b";
@ec-var-mail:               "\e60c";
@ec-var-support:            "\e60d";
@ec-var-help:               "\e60e";
@ec-var-videos:             "\e60f";
@ec-var-pictures:           "\e610";
@ec-var-link:               "\e611";
@ec-var-clock:              "\e612";
@ec-var-photoshop:          "\e613";
@ec-var-illustrator:        "\e614";
@ec-var-star:               "\e615";
@ec-var-heart:              "\e616";
@ec-var-bookmark:           "\e617";
@ec-var-file:               "\e618";
@ec-var-feed:               "\e619";
@ec-var-locked:             "\e61a";
@ec-var-unlocked:           "\e61b";
@ec-var-refresh:            "\e61c";
@ec-var-list:               "\e61d";
@ec-var-share:              "\e61e";
@ec-var-archive3:           "\e61f";
@ec-var-images:             "\e620";
@ec-var-images2:            "\e621";
@ec-var-search:             "\e622";
@ec-var-cog:                "\e623";
@ec-var-trashcan:           "\e624";
@ec-var-pencil2:            "\e625";
@ec-var-info:               "\e626";