// ===============================================
// Menu Pills setup
// ===============================================

@import 'variables.less';

@nav-pills-class: ~"@{prefix}@{menu-pills-prefix}";
.@{nav-pills-class} {

    ul {
        .m0;
        .p0;
        .ls0;
    }
    >ul {
        .dib;
        
        >li {
            .fol;
            .por;
            
            >a {
                .db;
                .ttuc;
                .c( #555555 );
                .fs( 16px );
                .ff-title;
                .p( 4px 16px );
                .mx( 15px );
                .rad( 5px );
                
                &:hover {
                    .td0;
                }
                &:hover,
                &.active {
                    .bgc( #f16c43 );
                    .c( #ffffff );
                }
            }
            
            &.has-submenu:hover>a {
                #rad>.top(5px);
            }
            &:hover>.submenu {
                .translateY( 0 );
                .vi;
                .o(1);
                .zi( 9999 );
            }
        }
    }
    
    .submenu {
        .w( 200px );
        .rad( 5px );
        .poa;
        .l( 15px );
        .tal;
        
        .transition( 0.3s ease all );
        .translateY( -200px );
        .vi(0);
        .o(0);
        .zi( -99 );
        
        a {
            .db;
            .c( #ffffff );
            .p( 10px );
            .bgc( #f16c43 );
            
            &:hover {
                .bgc( #d85c36 );
                .td0;
            }
        }
    }
}