
            
            <!-- start: .bottom -->
            <div class="bottom">
                <div class="bottom_content"><!--
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 section">
                                <div class="section_inner bottom_about-us">
                                    <h2 class="section_title">About Us</h2>
                                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.</p>
                                </div>
                            </div>
                            <div class="col-md-4 section">
                                <div class="section_inner bottom_news">
                                    <h2 class="section_title">Latest News</h2>
                                    <div class="bottom_news_list">
                                        <div class="bottom_news_item clear">
                                            <div class="bottom_news_item_thumb">
                                                <img src="assets/img/news-1.jpg" alt="">
                                            </div>
                                            <div class="bottom_news_item_content">
                                                <div class="bottom_news_item_category">
                                                    Sosialita
                                                </div>
                                                <h3 class="bottom_news_item_title">Bentrok di Timika, 100 Orang Tewas</h3>
                                            </div>
                                        </div>
                                        <div class="bottom_news_item clear">
                                            <div class="bottom_news_item_thumb">
                                                <img src="assets/img/news-2.jpg" alt="">
                                            </div>
                                            <div class="bottom_news_item_content">
                                                <div class="bottom_news_item_category">
                                                    Hiburan
                                                </div>
                                                <h3 class="bottom_news_item_title">Kuartet Pembawa Berita Lalu Lintas Beraksi</h3>
                                            </div>
                                        </div>
                                        <div class="bottom_news_item clear">
                                            <div class="bottom_news_item_thumb">
                                                <img src="assets/img/news-3.jpg" alt="">
                                            </div>
                                            <div class="bottom_news_item_content">
                                                <div class="bottom_news_item_category">
                                                    Teknologi
                                                </div>
                                                <h3 class="bottom_news_item_title">Polri Dilengkapi Peralatan dan Gear Baru</h3>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 section">
                                <div class="section_inner">
                                    <h2 class="section_title">News Line Navigation</h2>
                                    <nav class="bottom_nav">
                                        <ul>
                                            <li><i class="fa fa-caret-right"></i><a href="">Home</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">About Us</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">CCTV</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">Info</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">Edukasi</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">Contact Us</a></li>
                                            <li><i class="fa fa-caret-right"></i><a href="">Layanan Masyarakat</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <footer> 
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="footer_copyright"><small>Copyright &copy; NTMC Polri</small></div>
                            </div>
                            <div class="col-md-4">
                               
                            </div>
                            <div class="col-md-4">
                                <div class="footer_social-links">
                                    <a href="https://www.facebook.com/NTMCPOLRI" target="_blank"><i class="fa fa-facebook"></i></a>
                                    <a href="https://twitter.com/NTMCLantasPolri" target="_blank"><i class="fa fa-twitter"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
            <!-- end: .bottom -->