		<div class="sidebar col-md-4">
                                <aside>
                                    <ul>
                                        <!-- start: .widget_today -->
                                        <li class="widget widget_today">
                                            <div class="widget_inner">
                                                <div class="row">
                                                    <div class="col-sm-9">
                                                        <p id="todaydate" class="widget_today_date"></p>
														<script>getDate();</script>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <div class="widget_today_celcius">
                                                            <i id="weather" class="fa fa-cloud"></i>
                                                            <strong></strong>
															<!--div id="weather" ></div-->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_today -->
                                        
                                        <!-- start: .widget_stat -->
                                        <li class="widget widget_stat">
                                            <div class="widget_inner">
                                                <div class="clear">
                                                    <div class="col-md-4 widget_stat_item widget_stat_item_facebook">
                                                        <i class="fa fa-facebook"></i>
                                                        <strong class="widget_stat_item_value">28.229</strong>
                                                        <em class="widget_stat_item_label">Likes</em>
                                                    </div>
                                                    <div class="col-md-4 widget_stat_item widget_stat_item_twitter">
                                                        <i class="fa fa-twitter"></i>
                                                        <strong class="widget_stat_item_value">12K</strong>
                                                        <em class="widget_stat_item_label">Followers</em>
                                                    </div>
                                                    <div class="col-md-4 widget_stat_item widget_stat_item_visitor">
                                                        <i class="fa fa-user"></i>
                                                        <strong class="widget_stat_item_value">12M</strong>
                                                        <em class="widget_stat_item_label">VIsitors</em>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_stat -->
                                        
                                        <!-- start: .widget_search -->
                                        <li class="widget widget_search widget_shadow">
                                            <div class="widget_inner">
                                                <h3>Search For More News</h3>
                                                <div class="widget_search_input">
                                                    <form action="" method="get">
                                                        <input type="text" name="keyword" value="" placeholder="Search">
                                                        <i class="fa fa-search"></i>
                                                    </form>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_search -->
                                        
                                        <!-- start: .widget_hot-news -->
                                        <li class="widget widget_hot-news widget_shadow">
                                            <div class="widget_inner">
                                                <div class="widget_title">
                                                    <h3><span>Hot News</span></h3>
                                                </div>
                                                <div class="widget_hot-news_list">
                                                    <div class="widget_hot-news_item clear">
                                                        <div class="widget_hot-news_item_thumb">
                                                            <img src="assets/img/headline-1.jpg" alt="">
                                                        </div>
                                                        <div class="widget_hot-news_item_content">
                                                            <div class="widget_hot-news_item_category">
                                                                Sosialita
                                                            </div>
                                                            <h3 class="widget_hot-news_item_title">Bentrok di Timika, 100 Orang Tewas</h3>
                                                        </div>
                                                    </div>
                                                    <div class="widget_hot-news_item clear">
                                                        <div class="widget_hot-news_item_thumb">
                                                            <img src="assets/img/news-2.jpg" alt="">
                                                        </div>
                                                        <div class="widget_hot-news_item_content">
                                                            <div class="widget_hot-news_item_category">
                                                                Hiburan
                                                            </div>
                                                            <h3 class="widget_hot-news_item_title">Kuartet Pembawa Berita Lalu Lintas Beraksi</h3>
                                                        </div>
                                                    </div>
                                                    <div class="widget_hot-news_item clear">
                                                        <div class="widget_hot-news_item_thumb">
                                                            <img src="assets/img/news-3.jpg" alt="">
                                                        </div>
                                                        <div class="widget_hot-news_item_content">
                                                            <div class="widget_hot-news_item_category">
                                                                Teknologi
                                                            </div>
                                                            <h3 class="widget_hot-news_item_title">Polri Dilengkapi Peralatan dan Gear Baru</h3>
                                                        </div>
                                                    </div>
                                                    <div class="widget_hot-news_item clear">
                                                        <div class="widget_hot-news_item_thumb">
                                                            <img src="assets/img/news-4.jpg" alt="">
                                                        </div>
                                                        <div class="widget_hot-news_item_content">
                                                            <div class="widget_hot-news_item_category">
                                                                Edukasi
                                                            </div>
                                                            <h3 class="widget_hot-news_item_title">Safety Riding SMAN 3 Untuk Keselamatan Berkendara</h3>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_hot-news -->
                                        
                                        <!-- start: .widget_ad -->
										<li class="widget widget_ym widget_shadow" >
                                             <div class="widget_inner">
                                                <a href="http://www.ntmcpolri.info/"><img src="assets/img/sb-ad-1.jpg" alt="" style="max-width:100%"></a>
                                            </div>
                                        </li>
                                        <li class="widget widget_ad widget_shadow" >
                                            <div class="widget_inner">
                                                <a href=""><img src="assets/img/sb-ad-1.jpg" alt="" ></a>
                                            </div>
                                        </li>
                                        <!-- end: .widget_ad -->
                                        
                                        <!-- start: .widget_tweet -->
                                        <li class="widget widget_tweet widget_shadow">
                                            <div class="widget_inner">
                                                
                                                <div class="widget_tweet_list">
                                                 <a class="twitter-timeline" href="https://twitter.com/NTMCLantasPolri" data-widget-id="569479461821620224"  width="350" data-tweet-limit="4" data-chrome="nofooter noborders transparent" data-link-color="#e7d02c">Tweet oleh @NTMCLantasPolri</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
<script type="text/javascript">
    
    var $iframeHead;

var twitterStylesTimer = window.setInterval(function(){

    $iframeHead = $("iframe#twitter-widget-0").contents().find('head');

    if( !$('#twitter-widget-styles', $iframeHead).length ){ //If our stylesheet does not exist tey to place it
        $iframeHead.append('<link rel="stylesheet" href="assets/css/twitter.css" id="twitter-widget-styles">');
    }else if( $('#twitter-widget-styles', $iframeHead).length ){    //If stylesheet exists then quit timer
        clearInterval(twitterStylesTimer);
    }

}, 200);
</script>
                                     
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_tweet -->
                                        
                                        <!-- start: .widget_ym -->
                                        <li class="widget widget_ym widget_shadow" style="padding: 30px 0;"> 
                                            <div class="widget_inner">
                                              <ul class="ym-list"> 
                                                <li><a href="ymsgr:sendIM?korps.lantas"> <img src="http://opi.yahoo.com/online?u=korps.lantas&amp;m=g&amp;t=14&amp;l=us"/></a></li>
                                                <li><a href="ymsgr:sendIM?korps.lantas"> <img src="http://opi.yahoo.com/online?u=korps.lantas&amp;m=g&amp;t=14&amp;l=us"/></a></li>
                                                <li><a href="ymsgr:sendIM?korps.lantas"> <img src="http://opi.yahoo.com/online?u=korps.lantas&amp;m=g&amp;t=14&amp;l=us"/></a></li>
                                                <li><a href="ymsgr:sendIM?korps.lantas"> <img src="http://opi.yahoo.com/online?u=korps.lantas&amp;m=g&amp;t=14&amp;l=us"/></a></li>
                                                <li><a href="ymsgr:sendIM?korps.lantas"> <img src="http://opi.yahoo.com/online?u=korps.lantas&amp;m=g&amp;t=14&amp;l=us"/></a></li>
                                              </ul>
                                            </div>
                                        </li>
										
                                        <!-- end: .widget_ym -->
                                        
                                        <!-- start: .widget_facebook -->
                                        <li class="widget widget_facebook widget_shadow">
                                            <div class="widget_inner">
                                                <div class="widget_title">
                                                    <h3><span>Like Us On Facebook</span></h3>
                                                </div>
                                                <div class="fb-like-box" data-href="http://www.facebook.com/NTMCPOLRI" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true"></div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_facebook -->
                                        
                                        <!-- start: .widget_video -->
                                        <li class="widget widget_video widget_shadow">
                                            <div class="widget_inner">
                                                <div class="widget_title">
                                                    <h3>Video</h3>
                                                </div>
                                                <div class="widget_video_list">
                                                    <div class="widget_video_item clear">
                                                        <div class="widget_video_item_thumb">
                                                            <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Terminal_Kampung_Rambutan" draggable="false">
                                                        </div>
                                                        <div class="widget_video_item_info">
                                                            <h3><a id="camside1_1" href="cctv-page.html?camera=Terminal_Kampung_Rambutan#cam-obj"></a><a id="camside1_2" href="cctv-page.html?camera=Terminal_Kampung_Rambutan#cam-obj" onclick="updateVideo('Hyatt_Bundaran_Hotel_Indonesia');">Terminal Kampung Rambutan</a></h3>
                                                            <div class="widget_video_item_meta">
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-eye"></i>
                                                                    <strong>23 views</strong>
                                                                </span>
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-heart"></i>
                                                                    <strong>48 likes</strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget_video_item clear">
                                                        <div class="widget_video_item_thumb">
                                                            <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Hyatt_Bundaran_Hotel_Indonesia" >
                                                        </div>
                                                        <div class="widget_video_item_info">
                                                            <h3><a id="camside1_1" href="cctv-page.html?camera=Hyatt_Bundaran_Hotel_Indonesia#cam-obj"></a><a id="camside1_2" href="cctv-page.html?camera=Hyatt_Bundaran_Hotel_Indonesia#cam-obj" onclick="updateVideo('Hyatt_Bundaran_Hotel_Indonesia');">Hyatt Bundaran Hotel Indonesia</a></h3>
                                                            <div class="widget_video_item_meta">
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-eye"></i>
                                                                    <strong>23 views</strong>
                                                                </span>
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-heart"></i>
                                                                    <strong>48 likes</strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="widget_video_item clear">
                                                        <div class="widget_video_item_thumb">
                                                            <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Bunderan_Pondok_Indah" draggable="false">
                                                        </div>
                                                        <div class="widget_video_item_info">
                                                            <h3><a id="camside1_1" href="cctv-page.html?camera=Hyatt_Bundaran_Hotel_Indonesia#cam-obj"></a><a id="camside1_2" href="cctv-page.html?camera=Bunderan_Pondok_Indah#cam-obj" onclick="updateVideo('Bunderan_Pondok_Indah');">Bunderan Pondok Indah</a></h3>
                                                            <div class="widget_video_item_meta">
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-eye"></i>
                                                                    <strong>23 views</strong>
                                                                </span>
                                                                <span class="widget_video_item_meta_info">
                                                                    <i class="fa fa-heart"></i>
                                                                    <strong>48 likes</strong>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="widget_video_more">
                                                    <a href="cctv-page.html">See more our videos <i class="fa fa-caret-right"></i></a>
                                                </div>
                                            </div>
                                        </li>
                                        <!-- end: .widget_tweet -->
                                    </ul>
                                </aside>
                            </div>
							<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
							<script src="assets/js/homepage.min.js"></script>
							
