<div class="content">
                    <!-- start: .content_category -->
                    <div class="content_category">
                        <div class="container">
                            <div class="row">
                                <!-- start: .content_category_item -->
                                <div class="content_category_item col-md-3 col-sm-6">
                                    <div class="content_category_item_title">
                                        <h2>Info Pelayanan</h2>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="content_category_item_main">
                                        <img src="assets/img/hilang.png" alt="" >
                                        <h3>Tata Cara dan Persyaratan Untuk Pengajuan SIM</h3>
                                    </div>
                                    <div class="content_category_item_other">
                                        <ul>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tata Cara dan Persyaratan Untuk Pengajuan SIM</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tata Cara dan Persyaratan Untuk Pengajuan SIM</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tata Cara dan Persyaratan Untuk Pengajuan SIM</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tata Cara dan Persyaratan Untuk Pengajuan SIM</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end: .content_category_item -->
                                
                                <!-- start: .content_category_item -->
                                <div class="content_category_item col-md-3 col-sm-6">
                                    <div class="content_category_item_title">
                                        <h2>Info Kecelakaan Lalu Lintas</h2>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="content_category_item_main">
                                        <img src="assets/img/other-2.jpg" alt="">
                                        <h3>Waspadai 5 Daerah Dengan Tingkat Kecelakaan Tinggi</h3>
                                    </div>
                                    <div class="content_category_item_other">
                                        <ul>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Waspadai 5 Daerah Dengan Tingkat Kecelakaan Tinggi</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Waspadai 5 Daerah Dengan Tingkat Kecelakaan Tinggi</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Waspadai 5 Daerah Dengan Tingkat Kecelakaan Tinggi</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Waspadai 5 Daerah Dengan Tingkat Kecelakaan Tinggi</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end: .content_category_item -->
                                
                                <!-- start: .content_category_item -->
                                <div class="content_category_item col-md-3 col-sm-6">
                                    <div class="content_category_item_title">
                                        <h2>Info Pelanggaran Lalu Lintas</h2>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="content_category_item_main">
                                        <img src="assets/img/other-3.jpg" alt="">
                                        <h3>Tertib Berlalu Lintas Sesuai Jalur Kendaraan</h3>
                                    </div>
                                    <div class="content_category_item_other">
                                        <ul>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tertib Berlalu Lintas Sesuai Jalur Kendaraan</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tertib Berlalu Lintas Sesuai Jalur Kendaraan</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tertib Berlalu Lintas Sesuai Jalur Kendaraan</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Tertib Berlalu Lintas Sesuai Jalur Kendaraan</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end: .content_category_item -->
                                
                                <!-- start: .content_category_item -->
                                <div class="content_category_item col-md-3 col-sm-6">
                                    <div class="content_category_item_title">
                                        <h2>Info Hilang Temu</h2>
                                        <i class="fa fa-long-arrow-right"></i>
                                    </div>
                                    <div class="content_category_item_main">
                                        <img src="assets/img/other-4.jpg" alt="">
                                        <h3>Konfirmasi Kehilangan dan Penemuan Orang/Barang</h3>
                                    </div>
                                    <div class="content_category_item_other">
                                        <ul>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Konfirmasi Kehilangan dan Penemuan Orang/Barang</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Konfirmasi Kehilangan dan Penemuan Orang/Barang</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Konfirmasi Kehilangan dan Penemuan Orang/Barang</a>
                                            </li>
                                            <li>
                                                <i class="fa fa-file-text-o"></i>
                                                <a href="">Konfirmasi Kehilangan dan Penemuan Orang/Barang</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- end: .content_category_item -->
                            </div>
                        </div>
                    </div>
                    <!-- end: .content_category -->
                </div>
            </main>
            <!-- end: main -->