       		<script>
				function getCurrentPage() {
					var a = location.pathname.substring(location.pathname.lastIndexOf('/') + 1);
					var b = a.split("\?");
					var c = b[0];
					return c;
				}
			</script>
		   <!-- start: .top -->
            <header class="top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="top_site-logo">
                                <img src="assets/img/logo-korlantas.png" alt="Korlantas Polri">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="top_site-title">
                                <h1>Korlantas Polri</h1>
                                <h2>Korps Lalu Lintas Polri</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <!--start menu-->
                <div class="top_site-menu">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-offset-3 col-md-9">
                                <nav class="top_site-menu_nav">
                                    <ul class="clear">
                                       <li>
                                            <a href="index.html">Home</a>
                                        </li>
                                         <li>
                                            <a href="cctv-page.html">CCTV</a>
                                        </li>
                                         <li>
                                            <a href="faq-page.html">Layanan Masyarakat</a>
                                            	<ul>
                                                	<li><a href="faq-page.html">Faq</a></li>
                                                    <li><a href="keluhan-masyarakat.html">Keluhan Masyarakat</a></li>
                                                    <li><a href="info_hilang.html">Hilang Temu</a></li>
                                                    <li><a href="http://www.korlantas-irsms.info/">IRSMS</a></li>
                                                    <li><a href="http://ntmc-korlantaspolri.blogspot.com/">Blog NTMC</a></li>
                                                    <li><a href="">Multimedia</a></li>
                                                </ul>
                                        </li>
                                        <li>
                                            <a href="faq-page.html">Info</a>
                                            <ul>
                                            		<li><a href="faq-page.html">INFO PELAYANAN</a></li>
                                                	<li><a href="info_sim_keliling.html">INFO SIM KELILING</a></li>
                                                    <li><a href="info-kecelakan-lantas.html">INFO KECELAKAAN LANTAS</a></li>
                                                   
                                                </ul>
                                        </li>
                                        <li>
                                            <a href="education.php">Edukasi</a>
                                        </li>
                                         <li>
                                            <a href="about-us.html">About Us</a>
                                        </li>
                                        <li>
                                            <a href="contact-us.html">Contact Us</a>
                                        </li>
                                       
                                    <!--   <li class="top_site-menu_nav_user b_fade-menu">
    <a class="b_fade-menu_link" href=""><i class="fa fa-user"></i></a>
    <div class="b_fade-menu_content" style="display:none;">
        <div class="b_fade-menu_content_inner">
            <div class="b_login">
                <div class="b_login_form">
                    <form class="b_form b_form_vertical" method="post" action="">
                        <div class="b_form_fields">
                            <div class="b_form_field">
                                <div class="b_form_label">
                                    <label for="input-username">Username or email</label>
                                </div>
                                <div class="b_form_input">
                                    <input id="input-username"  type="text" class="b_form_control" name="username" value="">
                                </div>
                            </div>
                            <div class="b_form_field">
                                <div class="b_form_label">
                                    <label for="input-password">Password</label>
                                </div>
                                <div class="b_form_input">
                                    <input id="input-password"  type="text" class="b_form_control" name="password" value="">
                                </div>
                            </div>
                        </div>
                        <div class="b_form_submit clear">
                            <span class="b_login_form_remember">
                                <label>
                                    <input type="checkbox" name="rememberme" value="1">
                                    Remember me
                                </label>
                            </span>
                            <button type="submit" class="btn btn_dark" name="submit_login">Sign in</button>
                        </div>
                    </form>
                </div>
                <div class="b_login_links">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>
</li>-->

                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end: .top -->

