            <section id="wraper-carousel" class="block-video">
                <div class="container">
				<script>
					function changeLink(location,countarg) {
						var count = parseInt(countarg);
						var currentPage = getCurrentPage();
						if (currentPage == 'index.html' || currentPage == 'cctv-page.html') {
							document.getElementById('camlink'+count+"_1").href = "#cam-obj";
							document.getElementById('camlink'+count+"_2").href = "#cam-obj";

						}
					}
				</script>
				<script>
					function updateVideo(location) {
						var newCamValue="source=http://118.97.77.140:8080/api/videos/flv/"+location+"&amp;type=video&amp;streamtype=file&amp;controltype=0&amp;duration=52&amp;poster=http://118.97.77.140:8080/api/Image/jpg/"+location+"&amp;aspectratio=&amp;autostart=false&amp;logo=http://118.97.77.140:8080/Images/NTMClogo.png&amp;logoposition=top left&amp;logoalpha=30&amp;logowidth=130&amp;logolink=http://jarisflvplayer.org&amp;hardwarescaling=false&amp;controls=true&amp;darkcolor=000000&amp;brightcolor=4c4c4c&amp;controlcolor=FFFFFF&amp;hovercolor=67A8C1&amp;seekcolor=D3D3D3&amp;jsapi=flase"
						var newCamSrc="http://ntmc.musdi.web.id:8080/api/Image/jpg/"+location;
						var obj = document.getElementById('cam-obj');
						var newObj = obj.cloneNode(true);
						var param = document.getElementsByName('flashvars')[0];
						var newParam = param.cloneNode(true);
						newParam.setAttribute('value', newCamValue);
						obj.replaceChild(newParam, param);
						document.getElementById('cam-img').src = newCamSrc;
						document.getElementById('cam-title').innerHTML = location.split("_").join(" ");
						var checkvalue = document.getElementById('cam-vid').value;
						var checksrc = document.getElementById('cam-img').src;
						var check = checkvalue + "\n\n" + checksrc;
						return check;
					}
				</script>
                    <div class="top-flash flexslider">
                        <ul class="slides clear">
                            <li class="block-video_item clear">
                                <div class="block-video_item_inner">
                                    <div class="block-video_item_thumb">
                                        <img alt="50x50" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Hyatt_Bundaran_Hotel_Indonesia" >
                                    </div>
                                    <div class="block-video_item_title">
                                        <a id="camlink1_1" href="cctv-page.html?camera=Hyatt_Bundaran_Hotel_Indonesia#cam-obj"></a><a id="camlink1_2" href="cctv-page.html?camera=Hyatt_Bundaran_Hotel_Indonesia#cam-obj" onclick="updateVideo('Hyatt_Bundaran_Hotel_Indonesia');">Hyatt Bundaran Hotel Indonesia</a>
                                        <span class="post-date">Updated, Recently</span>
                                    </div>
									<script>changeLink('Hyatt_Bundaran_Hotel_Indonesia',1);</script>
                                </div>
                            </li>
                            <li class="block-video_item clear">
                                <div class="block-video_item_inner">
                                    <div class="block-video_item_thumb">
                                        <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Terminal_Kampung_Rambutan" draggable="false">
                                    </div>
                                    <div class="block-video_item_title">
                                        <a id="camlink2_1" href="cctv-page.html?camera=Terminal_Kampung_Rambutan#cam-obj"></a><a id="camlink2_2" href="cctv-page.html?camera=Terminal_Kampung_Rambutan#cam-obj" onclick="updateVideo('Terminal_Kampung_Rambutan');">Terminal Kampung Rambutan</a>
                                        <span class="post-date">Updated, Recently</span>
                                    </div>
									<script>changeLink('Terminal_Kampung_Rambutan',2);</script>
                                </div>
                            </li>
                            <li class="block-video_item clear">
                                <div class="block-video_item_inner">
                                    <div class="block-video_item_thumb">
                                        <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Patung_Kuda_Thamrin_JKT" draggable="false">
                                    </div>
                                    <div class="block-video_item_title">
                                        <a id="camlink3_1" href="cctv-page.html?camera=Patung_Kuda_Thamrin_JKT#cam-obj"></a><a id="camlink3_2" href="cctv-page.html?camera=Patung_Kuda_Thamrin_JKT#cam-obj" onclick="updateVideo('Patung_Kuda_Thamrin_JKT');">Patung Kuda Thamrin JKT</a>
										<span class="post-date">Updated, Recently</span>
									</div>
									<script>changeLink('Patung_Kuda_Thamrin_JKT',3);</script>
                                </div>
                            </li>
                            <li class="block-video_item clear">
                                <div class="block-video_item_inner">
                                    <div class="block-video_item_thumb">
                                        <img alt="140x140" src="http://ntmc.musdi.web.id:8080/api/Image/jpg/Bunderan_Pondok_Indah" draggable="false">
                                    </div>
                                    <div class="block-video_item_title">
                                        <a id="camlink4_1" href="cctv-page.html?camera=Bunderan_Pondok_Indah#cam-obj"></a><a id="camlink4_2" href="cctv-page.html?camera=Bunderan_Pondok_Indah#cam-obj" onclick="updateVideo('Bunderan_Pondok_Indah');">Bunderan Pondok Indah</a>
										<span class="post-date">Updated, Recently</span>
									</div>
									<script>changeLink('Bunderan_Pondok_Indah',4);</script>
                                </div>
                            </li>
                            <!-- items mirrored twice, total of 12 -->
                          </ul>
                    </div>
                </div>
            </section>

<script src="assets/js/homepage.min.js"></script>