//==============================================
// Label flat mixins
//==============================================
.label-flat() 
{
    @text-color: darken( @label-flat-color, 60% );
    
    .dib;
    .m( @label-flat-margin );
    .p( @label-flat-padding );
    .bgc( @label-flat-color );
    .c( @text-color );
    .rad( @label-flat-radius );
    .fs( @label-flat-font-size )!important;
    .ff( @label-flat-font-family );
    .fb( @label-flat-font-weight );
    .ts( 0; 1px; 0; rgba(0,0,0,0.1) );
}

//Label coloring
.label-flat-color( @color ) when (lightness(@color) >= 50%) and (lightness(@color) <= 80%) {
    @text-color: darken( @color, 50% );
    
    .bgc( @color );
    .c( @text-color );
}
.label-flat-color( @color ) when (lightness(@color) >= 80%) {
    @text-color: darken( @color, 80% );
    
    .bgc( @color );
    .c( @text-color );
}
.label-flat-color( @color ) when ( lightness(@color) <= 50% ) and (lightness(@color) >= 30%) {
    @text-color: lighten( @color, 60% );
    
    .bgc( @color );
    .c( @text-color );
}
.label-flat-color( @color ) when (lightness(@color) <= 30%) {
    @text-color: lighten( @color, 80% );
    
    .bgc( @color );
    .c( @text-color );
}