//==============================================
// Label flat setup
//==============================================
@import 'variables.less';
@import 'mixins.less';

@label-flat-class: ~"@{prefix}@{label-flat-prefix}";
.@{label-flat-class} {
    .label-flat();

    &&@{single-separator}primary {
        .label-flat-color( @label-flat-primary-color );
    }
    &&@{single-separator}success {
        .label-flat-color( @label-flat-success-color );
    }
    &&@{single-separator}danger {
        .label-flat-color( @label-flat-danger-color );
    }
    &&@{single-separator}warning {
        .label-flat-color( @label-flat-warning-color );
    }
    &&@{single-separator}info {
        .label-flat-color( @label-flat-info-color );
    }
    &&@{single-separator}inverse {
        .label-flat-color( @label-flat-inverse-color );
    }
}