//==============================================
// Label flat mixins
//==============================================
@label-flat-prefix:          label;
@label-flat-margin:          0 5px;
@label-flat-padding:         3px 5px;
@label-flat-color:           #dddddd;
@label-flat-radius:          3px;
@label-flat-font-size:       12px;
@label-flat-font-family:     @font-family-title;
@label-flat-font-weight:     bold;

@label-flat-primary-color:   #7bbbe7;
@label-flat-success-color:   #58a057;
@label-flat-danger-color:    #ca433f;
@label-flat-warning-color:   #c9903f;
@label-flat-info-color:      #bdd4e2;
@label-flat-inverse-color:   #555555;