//=====================================================================
//Margin shortcode
//=====================================================================
.m( @size ) {
    margin: @size;
}
//Margin top
.mt( @size ) {
    margin-top: @size;
}
//Margin bottom
.mb( @size ) {
    margin-bottom: @size;
}
//Margin left
.ml( @size ) {
    margin-left: @size;
}
//Margin right
.mr( @size ) {
    margin-right: @size;
}
//Margin horizontal
.mx( @size ) {
    margin-left: @size;
    margin-right: @size;
}
//Margin vertical
.my( @size ) {
    margin-top: @size;
    margin-bottom: @size;
}
//Margin clear
.m0() {
    .m(0);
}