//=====================================================================
//Padding shortcode
//=====================================================================
.p( @size ) {
    padding: @size;
}
//Padding top
.pt( @size ) {
    padding-top: @size;
}
//Padding bottom
.pb( @size ) {
    padding-bottom: @size;
}
//Padding left
.pl( @size ) {
    padding-left: @size;
}
//Padding right
.pr( @size ) {
    padding-right: @size;
}
//Padding horizontal
.px( @size ) {
    padding-left: @size;
    padding-right: @size;
}
//Padding vertical
.py( @size ) {
    padding-top: @size;
    padding-bottom: @size;
}
//Margin clear
.p0() {
    .p(0);
}