// ===============================================
// Basic button mixins
// ===============================================
.button() {
    .dib;
    .tac;
    .vam;
    .td0;
    .cup;
    .ol0()!important;
    
    &:hover {
        .cup;
    }
    &:hover,
    &:focus {
        .ol0()!important;
        .td0;
    }
    &.disabled,
    &[disabled] {
        .o( 0.7 );
        filter: alpha(opacity=85);
        pointer-events: none;
        .cu( not-allowed );
    }
    
    //Icon
    i {
        .mr( 6px );
        .mt( -2px );
    }
    &.@{prefix}icon-right i {
        .ml( 6px );
    }
}