//=====================================================================
// Grid mixins
//=====================================================================

// Basic looping in LESS
.loop-grid-columns(@index; @class; @type) when (@index >= 0) {
    
    @root: ~"@{prefix}@{container-prefix}";
    .calc-grid-column(@index; @class; @type; @root );
    // next iteration
    .loop-grid-columns((@index - 1); @class; @type);
}
.loop-grid-10columns(@index; @class; @type) when (@index >= 0) {

    @root: ~"@{prefix}@{container10-prefix}";
    .calc-grid-column(@index; @class; @type; @root; 10);
    // next iteration
    .loop-grid-10columns((@index - 1); @class; @type);
}

// Create grid for specific class
.make-grid( @class ) {

    //General grid sistem

    .float-grid-columns(@class);
    
    .loop-grid-columns( @grid-columns-main; @class; width );
    .loop-grid-columns( @grid-columns-main; @class; push );
    .loop-grid-columns( @grid-columns-main; @class; pull );
    .loop-grid-columns( @grid-columns-main; @class; offset );
    
    //10 Grid system for create column 5
    .loop-grid-10columns( 10; @class; width );
    .loop-grid-10columns( 10; @class; push );
    .loop-grid-10columns( 10; @class; pull );
    .loop-grid-10columns( 10; @class; offset );
    
}



