//=====================================================================
// Grid Variables
//=====================================================================

@import 'variables.less';
@import '__container/mixins.less';
@import '__row/mixins.less';
@import '__column/mixins.less';
@import 'mixins.less';


// Container widths
//
.@{prefix}@{container-prefix} {
    .container-fixed();

    @media (min-width: @screen-sm-min) {
        .w( @container-sm );
    }
    @media (min-width: @screen-md-min) {
        .w( @container-md );
    }
    @media (min-width: @screen-lg-min) {
        .w( @container-lg );
    }
}


// Container for 10 grid system
//
.@{prefix}@{container10-prefix} {
    &:extend( .container all );
}


// Container fluid
//
.@{prefix}@{container-fluid-prefix} {
    .container-fixed();
}
.@{prefix}@{container-fluid-prefix}.@{prefix}@{container-prefix},
.@{prefix}@{container-fluid-prefix}.@{prefix}@{container10-prefix} {
    .wa;
    .p0;
}


//
// Row
// Rows contain and clear the floats of your columns.
//

.@{prefix}@{row-prefix} {
  .make-row();
}


//
// Columns
// Common styles for small and large grid columns
//

.make-grid-columns();


//
// Extra small grid
// Columns, offsets, pushes, and pulls for extra small devices like smartphones.
//

.make-grid(xs);


//
// Small grid
// Columns, offsets, pushes, and pulls for the small device range, from phones to tablets.
//

@media (min-width: @screen-sm-min) {
  .make-grid(sm);
}


//
// Medium grid
// Columns, offsets, pushes, and pulls for the desktop device range.
//

@media (min-width: @screen-md-min) {
  .make-grid(md);
}


//
// Large grid
// Columns, offsets, pushes, and pulls for the large desktop device range.
//

@media (min-width: @screen-lg-min) {
  .make-grid(lg);
}
