//=====================================================================
// Grid Variables
//=====================================================================
@container-prefix:              container;
@container10-prefix:            container10;
@container-fluid-prefix:        ~"container@{single-separator}fluid";
@row-prefix:                    row;
@column-prefix:                 col;

//
// Grid
//
@grid-columns-main:             12;
@grid-gutter-width:             30px;

//
// Container Size
// Define the maximum width of `.container` for different screen sizes
//

// Small screen / tablet
@container-sm:                 ((720px + @grid-gutter-width));

// Medium screen / desktop
@container-md:                 ((940px + @grid-gutter-width));

// Large screen / wide desktop
@container-lg:                 ((1140px + @grid-gutter-width));


// 
// Media queries breakpoints
// Define the breakpoints at which your layout will change, adapting to different screen sizes.
//

// Extra small screen / phone
@screen-xs-min:              480px;

// Small screen / tablet
@screen-sm-min:              768px;

// Medium screen / desktop
@screen-md-min:              992px;

// Large screen / wide desktop
@screen-lg-min:              1200px;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);