// ===============================================
// Button group mixins
// ===============================================
.button-group() {
    .dib;
    .vam;
    .clearfix();
    
    .@{prefix}@{button-group-sub-class} {
        .fol;
        #rad>.right( 0 );
        
        &:last-child {
            .mr( 0 );
            #rad>.right( @button-group-padding );
        }
        &:first-child {
            #rad>.left( @button-group-padding );
        }
    }
}