// ===============================================
// Gradation button mixins
// ===============================================

@import ~"../mixins.less";

.button-gradation() 
{
    //Call basic button
    .button();
    
    @color-dark:        darken( @button-gradation-color, 20% );
    @color-border:      darken( @button-gradation-color, 30% );
    @color-text:        darken( @button-gradation-color, 70% );
    @color-text-hover:  darken( @button-gradation-color, 90% );
    
    .fs( @button-gradation-font );
    .lh( @button-gradation-line-height );
    .fb;
    .bo( @color-border );
    .bgc( @button-gradation-color );
    .c( @color-text );
    .p( @button-gradation-padding );
    
    #box-shadow>.innerY( 1px; 0; rgba(255,255,255,0.2) );
    #gradient>.vertical( @button-gradation-color; @color-dark );
    
    &:focus,
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        .bgc( @color-dark );
        .c( @color-text );
    }
    
    &:hover,
    &:focus {
        .c( @color-text-hover );
        .bgp( 0; -15px );
        .transition( ~"background-position 0.1s linear" );
    }
    &:active,
    &.active {
        .bgi0;
        .bs( ~"inset 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.05)" );
    }
    &.disabled,
    &[disabled] {
        .bs0;
    }
}

//
//Coloring Button gradation
//
.button-gradation-color( @color ) when (lightness(@color) >= 50%) and (lightness(@color) <= 80%)
{
    @darken-color: darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @text-color:   darken( @color, 60% );
    
    #gradient>.vertical( @color; @darken-color );
    .boc( @border-color );
    .c( @text-color );
    
    &:focus,
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        .bgc( @darken-color );
        .c( @text-color );
    }
}
.button-gradation-color( @color ) when (lightness(@color) >= 80%)
{
    @darken-color: darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @text-color:   darken( @color, 80% );
    
    #gradient>.vertical( @color; @darken-color );
    .boc( @border-color );
    .c( @text-color );
    
    &:focus,
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        .bgc( @darken-color );
        .c( @text-color );
    }
}
.button-gradation-color( @color ) when ( lightness(@color) <= 50% ) and (lightness(@color) >= 30%)
{
    @darken-color: darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @text-color:   lighten( @color, 60% );
    
    #gradient>.vertical( @color; @darken-color );
    .boc( @border-color );
    .c( @text-color );
    
    &:focus,
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        .bgc( @darken-color );
        .c( @text-color );
    }
}
.button-gradation-color( @color ) when (lightness(@color) <= 30%)
{
    @darken-color: darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @text-color:   lighten( @color, 90% );
    
    #gradient>.vertical( @color; @darken-color );
    .boc( @border-color );
    .c( @text-color );
    
    &:focus,
    &:hover,
    &:active,
    &.active,
    &.disabled,
    &[disabled] {
        .bgc( @darken-color );
        .c( @text-color );
    }
}