// ===============================================
// Gradation button class
// ===============================================

@import 'variables.less';
@import 'mixins.less';

@button-gradation-class: ~"@{prefix}@{button-gradation-prefix}";
.@{button-gradation-class} {
    
    .button-gradation();
    
    &&@{single-separator}default {
        .button-gradation-color( @button-gradation-color );
    }
    &&@{single-separator}primary {
        .button-gradation-color( @button-gradation-primary-color );
    }
    &&@{single-separator}success {
        .button-gradation-color( @button-gradation-success-color );
    }
    &&@{single-separator}danger {
        .button-gradation-color( @button-gradation-danger-color );
    }
    &&@{single-separator}warning {
        .button-gradation-color( @button-gradation-warning-color );
    }
    &&@{single-separator}info {
        .button-gradation-color( @button-gradation-info-color );
    }
}