// ===============================================
// Button variables
// ===============================================

@button-gradation-prefix:               btn;
@button-gradation-font:                 12px;
@button-gradation-line-height:          14px;
@button-gradation-font-weight:          bold;
@button-gradation-color:                #e9e9e9;
@button-gradation-padding:              8px 15px;

@button-gradation-primary-color:        #76b8e8;
@button-gradation-success-color:        #5aa259;
@button-gradation-danger-color:         #cd4340;
@button-gradation-warning-color:        #dca04a;
@button-gradation-info-color:           #cfe2f0;