//=====================================================================
// Color Variables
//=====================================================================
@color-key-list:            primary, clean, ~"grey", grey-light, grey-dark, ~"dark", ~"red", ~"blue", ~"green", ~"orange";
@color-primary:             #0074a3;
@color-clean:               #f9f9f9;
@color-grey:                #a8a8a8;
@color-grey-light:          #eeeeee;
@color-grey-dark:           #888888;
@color-dark:                #333333;
@color-red:                 #cd4341;
@color-blue:                #5ea2d3;
@color-green:               #5ca25a;
@color-orange:              #d07e35;


/*===============================================
 * Color Tools class
 *===============================================*/
.create-color-tools();
.create-bgcolor-tools();