/*===============================================
 * Font face
 *===============================================*/
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url( "../font/Gotham-Medium.otf" );
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: url( "../font/Gotham-MediumIta.otf" );
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url( "../font/Gotham-Bold.otf" );
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 800;
  src: url( "../font/Gotham-BoldIta.otf" );
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url( "../font/Gotham-Book.otf" );
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: url( "../font/Gotham-BookIta.otf" );
}
@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 400;
  src: url( "../font/Gotham-Black.otf" );
}
@font-face {
  font-family: 'Gotham Black';
  font-style: italic;
  font-weight: 400;
  src: url( "../font/Gotham-BlackIta.otf" );
}
@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);

//
//Font variables
//
@font-key-list:             xs, sm, md, lg, xlg, h1, h2, h3, h4, h5, h6, p;
@font-size-xs:              10px;
@font-size-sm:              12px;
@font-size-md:              14px;
@font-size-lg:              18px;
@font-size-xlg:             24px;
@font-size-h1:              26px;
@font-size-h2:              22px;
@font-size-h3:              18px;
@font-size-h4:              16px;
@font-size-h5:              14px;
@font-size-h6:              12px;
@font-size-p:               14px;

@font-family-text:          ~"'PT Sans', sans-serif";
@font-family-title:         ~"Gotham, sans-serif";
@font-family-subtitle:      ~"PT Sans, sans-serif";
@line-height-text:          18px;


/*===============================================
 * Font size class
 *===============================================*/
.create-font-tools();


/*===============================================
 * Text class
 *===============================================*/
@import 'libs/blocks/text/setup.less';