//=====================================================================
//Create color toolkits
//=====================================================================
.create-color-tools() {

    @color-key-max: length( @color-key-list );
    .add-color( @index ) when ( @index <= @color-key-max ) {
        @var: extract( @color-key-list, @index );
        @vname: ~"color-@{var}";
        @value: @@vname;
        .color-@{var} {
            .c( @value );
        }
        @newindex: @index + 1;
        .add-color( @newindex );
    }
    .add-color(1);
}