//=====================================================================
//Create font toolkits
//=====================================================================
.create-font-tools() {

    @font-key-max: length( @font-key-list );
    .add-font( @index ) when ( @index <= @font-key-max ) {
        @var: extract( @font-key-list, @index );
        @vname: ~"font-size-@{var}";
        @size: @@vname;
        .font-@{var} {
            .fs( @size );
        }
        @newindex: @index + 1;
        .add-font( @newindex );
    }
    .add-font(1);
}

