//=====================================================================
//Create margin toolkits
//=====================================================================
.create-margin-tools() {

    .add-margin( @index: @margin-tools-min ) when ( @index <= @margin-tools-max ) {
        @size: ~"@{index}px";
        .m@{index} {
            .m( @size ) !important;
        }
        .mt@{index} {
            .mt( @size ) !important;
        }
        .mb@{index} {
            .mb( @size ) !important;
        }
        .ml@{index} {
            .ml( @size ) !important;
        }
        .mr@{index} {
            .mr( @size ) !important;
        }
        .my@{index} {
            .mt( @size ) !important;
            .mb( @size ) !important;
        }
        .mx@{index} {
            .ml( @size ) !important;
            .mr( @size ) !important;
        }
        @newindex: @index + @margin-tools-gap;
        .add-margin( @newindex );
    }
    .add-margin(0);
}