//=====================================================================
//Create padding toolkits
//=====================================================================
.create-padding-tools() {

    .add-padding( @index: @padding-tools-min ) when ( @index <= @padding-tools-max ) {
        @size: ~"@{index}px";
        .p@{index} {
            .p( @size ) !important;
        }
        .pt@{index} {
            .pt( @size ) !important;
        }
        .pb@{index} {
            .pb( @size ) !important;
        }
        .pl@{index} {
            .pl( @size ) !important;
        }
        .pr@{index} {
            .pr( @size ) !important;
        }
        .py@{index} {
            .pt( @size ) !important;
            .pb( @size ) !important;
        }
        .px@{index} {
            .pl( @size ) !important;
            .pr( @size ) !important;
        }
        @newindex: @index + @padding-tools-gap;
        .add-padding( @newindex );
    }
    .add-padding(0);
}


