/* Ico moon definition */

@en-icons-list: download, phone, mobile, mouse, directions, mail, paperplane, pencil, feather, paperclip, drawer, reply, reply-all, forward, user, users, user-add, vcard, export, location, map, sharable, heart, heart2, star, star2, thumbs-up, thumbs-down, chat, comment, quote, house, popup, search, flashlight, printer, bell, link, flag, cog, tools, moon, palette, leaf, music, music2, new, graduation, book, newspaper, bag, airplane, lifebuoy, eye, clock, microphone, calendar, bolt, thunder, droplet, cd, language, network, key, battery, bucket, magnet, drive, cup, rocket, brush, suitcase, cone, earth, keyboard, browser, publish, progress-3, progress-2, brogress-1, progress-0, screen, infinity, light-bulb, credit-card, database, voicemail, clipboard, cart, box, ticket, rss, signal, thermometer, droplets, uniE65E, statistics, pie, bars, graph, lock, cross, minus, plus, cross2, minus2, plus2, cross3, minus3, plus3, erase, blocked, info, info2, question, help, warning, cycle, cw, ccw, shuffle, history, back, switch, list, add-to-list, layout, list2, text, text2, document, docs, landscape, pictures, video, music3, folder, archive, trash, upload, download, bookmark, bookmarks, book2, play, pause, record, stop, next, previous, first, last, resize-enlarge, resize-shrink, volume, sound, mute, flow-cascade, flow-branch, flow-tree, flow-line, arrow-right, arrow-left, arrow-down, arrow-up, arrow-right2, arrow-left2, arrow-down2, arrow-up2, arrow-right3, arrow-left3, arrow-down3, arrow-up3, arrow-right4, arrow-left4, arrow-down4, arrow-up4, arrow-right5, arrow-left5, arrow-down5, arrow-up5, arrow-right8, arrow-left6, arrow-down6, arrow-up6, arrow-right6, menu, ellipsis, dots, dot, cc, cc-by, cc-nc, cc-nc-eu, cc-nc-jp, cc-sa, cc-nd, cc-pd, cc-zero, cc-share, cc-share2, flickr, flickr2, vimeo, vimeo2, twitter, twitter2, facebook, facebook2, facebook3, googleplus, googleplus2, pinterest, pinterest2, tumblr, tumblr2, linkedin, linkedin2, dribbble, dribbble2, stumbleupon, rdio, spotify, spotify2, qq, instagram, dropbox, evernote, flattr, skype, skype2, renren, sina-weibo, paypal, picasa, soundcloud, mixi, behance, circles, vk, smashing, compass, location2, target, share, trophy, tag, camera, megaphone, briefcase, air, hourglass, gauge, sun, sun2, adjust, code, lock-open, logout, login, checkmark, arrow, arrow2, retweet, loop, disk, install, cloud, upload2, flow-parallel, arrow-left7, arrow-down7, arrow-up--upload, arrow-right7, arrow-left8, arrow-down8, arrow-up7, daniel-bruce, daniel-bruce2, github, github2, stumbleupon2, lastfm, lastfm2, rdio2;

@en-icon-lenght: length( @en-icons-list );
.add-en-icon( @index ) when ( @index <= @en-icon-lenght ) {
    @var: extract( @en-icons-list, @index );
    @attr: ~".@{en-css-prefix}-@{var}";
    @vname: ~"en-var-@{var}";
    
    @{attr}:before { content: @@vname; }
    
    @newindex: @index + 1;
    .add-en-icon( @newindex );
}
.add-en-icon(1);