// Variables
// --------------------------

@en-font-path:              "../fonts/en";
@en-css-prefix:             en;

@en-var-download:           "\e600";
@en-var-phone:           "\e600";
@en-var-mobile:           "\e601";
@en-var-mouse:           "\e602";
@en-var-directions:           "\e603";
@en-var-mail:           "\e604";
@en-var-paperplane:           "\e605";
@en-var-pencil:           "\e606";
@en-var-feather:           "\e607";
@en-var-paperclip:           "\e608";
@en-var-drawer:           "\e609";
@en-var-reply:           "\e60a";
@en-var-reply-all:           "\e60b";
@en-var-forward:           "\e60c";
@en-var-user:           "\e60d";
@en-var-users:           "\e60e";
@en-var-user-add:           "\e60f";
@en-var-vcard:           "\e610";
@en-var-export:           "\e611";
@en-var-location:           "\e612";
@en-var-map:           "\e613";
@en-var-sharable:           "\e614";
@en-var-heart:           "\e615";
@en-var-heart2:           "\e616";
@en-var-star:           "\e617";
@en-var-star2:           "\e618";
@en-var-thumbs-up:           "\e619";
@en-var-thumbs-down:           "\e61a";
@en-var-chat:           "\e61b";
@en-var-comment:           "\e61c";
@en-var-quote:           "\e61d";
@en-var-house:           "\e61e";
@en-var-popup:           "\e61f";
@en-var-search:           "\e620";
@en-var-flashlight:           "\e621";
@en-var-printer:           "\e622";
@en-var-bell:           "\e623";
@en-var-link:           "\e624";
@en-var-flag:           "\e625";
@en-var-cog:           "\e626";
@en-var-tools:           "\e627";
@en-var-moon:           "\e628";
@en-var-palette:           "\e629";
@en-var-leaf:           "\e62a";
@en-var-music:           "\e62b";
@en-var-music2:           "\e62c";
@en-var-new:           "\e62d";
@en-var-graduation:           "\e62e";
@en-var-book:           "\e62f";
@en-var-newspaper:           "\e630";
@en-var-bag:           "\e631";
@en-var-airplane:           "\e632";
@en-var-lifebuoy:           "\e633";
@en-var-eye:           "\e634";
@en-var-clock:           "\e635";
@en-var-microphone:           "\e636";
@en-var-calendar:           "\e637";
@en-var-bolt:           "\e638";
@en-var-thunder:           "\e639";
@en-var-droplet:           "\e63a";
@en-var-cd:           "\e63b";
@en-var-language:           "\e63c";
@en-var-network:           "\e63d";
@en-var-key:           "\e63e";
@en-var-battery:           "\e63f";
@en-var-bucket:           "\e640";
@en-var-magnet:           "\e641";
@en-var-drive:           "\e642";
@en-var-cup:           "\e643";
@en-var-rocket:           "\e644";
@en-var-brush:           "\e645";
@en-var-suitcase:           "\e646";
@en-var-cone:           "\e647";
@en-var-earth:           "\e648";
@en-var-keyboard:           "\e649";
@en-var-browser:           "\e64a";
@en-var-publish:           "\e64b";
@en-var-progress-3:           "\e64c";
@en-var-progress-2:           "\e64d";
@en-var-brogress-1:           "\e64e";
@en-var-progress-0:           "\e64f";
@en-var-screen:           "\e650";
@en-var-infinity:           "\e651";
@en-var-light-bulb:           "\e652";
@en-var-credit-card:           "\e653";
@en-var-database:           "\e654";
@en-var-voicemail:           "\e655";
@en-var-clipboard:           "\e656";
@en-var-cart:           "\e657";
@en-var-box:           "\e658";
@en-var-ticket:           "\e659";
@en-var-rss:           "\e65a";
@en-var-signal:           "\e65b";
@en-var-thermometer:           "\e65c";
@en-var-droplets:           "\e65d";
@en-var-uniE65E:           "\e65e";
@en-var-statistics:           "\e65f";
@en-var-pie:           "\e660";
@en-var-bars:           "\e661";
@en-var-graph:           "\e662";
@en-var-lock:           "\e663";
@en-var-cross:           "\e664";
@en-var-minus:           "\e665";
@en-var-plus:           "\e666";
@en-var-cross2:           "\e667";
@en-var-minus2:           "\e668";
@en-var-plus2:           "\e669";
@en-var-cross3:           "\e66a";
@en-var-minus3:           "\e66b";
@en-var-plus3:           "\e66c";
@en-var-erase:           "\e66d";
@en-var-blocked:           "\e66e";
@en-var-info:           "\e66f";
@en-var-info2:           "\e670";
@en-var-question:           "\e671";
@en-var-help:           "\e672";
@en-var-warning:           "\e673";
@en-var-cycle:           "\e674";
@en-var-cw:           "\e675";
@en-var-ccw:           "\e676";
@en-var-shuffle:           "\e677";
@en-var-history:           "\e678";
@en-var-back:           "\e679";
@en-var-switch:           "\e67a";
@en-var-list:           "\e67b";
@en-var-add-to-list:           "\e67c";
@en-var-layout:           "\e67d";
@en-var-list2:           "\e67e";
@en-var-text:           "\e67f";
@en-var-text2:           "\e680";
@en-var-document:           "\e681";
@en-var-docs:           "\e682";
@en-var-landscape:           "\e683";
@en-var-pictures:           "\e684";
@en-var-video:           "\e685";
@en-var-music3:           "\e686";
@en-var-folder:           "\e687";
@en-var-archive:           "\e688";
@en-var-trash:           "\e689";
@en-var-upload:           "\e68a";
@en-var-download:           "\e68b";
@en-var-bookmark:           "\e68c";
@en-var-bookmarks:           "\e68d";
@en-var-book2:           "\e68e";
@en-var-play:           "\e68f";
@en-var-pause:           "\e690";
@en-var-record:           "\e691";
@en-var-stop:           "\e692";
@en-var-next:           "\e693";
@en-var-previous:           "\e694";
@en-var-first:           "\e695";
@en-var-last:           "\e696";
@en-var-resize-enlarge:           "\e697";
@en-var-resize-shrink:           "\e698";
@en-var-volume:           "\e699";
@en-var-sound:           "\e69a";
@en-var-mute:           "\e69b";
@en-var-flow-cascade:           "\e69c";
@en-var-flow-branch:           "\e69d";
@en-var-flow-tree:           "\e69e";
@en-var-flow-line:           "\e69f";
@en-var-arrow-right:           "\e6a0";
@en-var-arrow-left:           "\e6a1";
@en-var-arrow-down:           "\e6a2";
@en-var-arrow-up:           "\e6a3";
@en-var-arrow-right2:           "\e6a4";
@en-var-arrow-left2:           "\e6a5";
@en-var-arrow-down2:           "\e6a6";
@en-var-arrow-up2:           "\e6a7";
@en-var-arrow-right3:           "\e6a8";
@en-var-arrow-left3:           "\e6a9";
@en-var-arrow-down3:           "\e6aa";
@en-var-arrow-up3:           "\e6ab";
@en-var-arrow-right4:           "\e6ac";
@en-var-arrow-left4:           "\e6ad";
@en-var-arrow-down4:           "\e6ae";
@en-var-arrow-up4:           "\e6af";
@en-var-arrow-right5:           "\e6b0";
@en-var-arrow-left5:           "\e6b1";
@en-var-arrow-down5:           "\e6b2";
@en-var-arrow-up5:           "\e6b3";
@en-var-arrow-right8:           "\e6b4";
@en-var-arrow-left6:           "\e6b5";
@en-var-arrow-down6:           "\e6b6";
@en-var-arrow-up6:           "\e6b7";
@en-var-arrow-right6:           "\e6b8";
@en-var-menu:           "\e6b9";
@en-var-ellipsis:           "\e6ba";
@en-var-dots:           "\e6bb";
@en-var-dot:           "\e6bc";
@en-var-cc:           "\e6bd";
@en-var-cc-by:           "\e6be";
@en-var-cc-nc:           "\e6bf";
@en-var-cc-nc-eu:           "\e6c0";
@en-var-cc-nc-jp:           "\e6c1";
@en-var-cc-sa:           "\e6c2";
@en-var-cc-nd:           "\e6c3";
@en-var-cc-pd:           "\e6c4";
@en-var-cc-zero:           "\e6c5";
@en-var-cc-share:           "\e6c6";
@en-var-cc-share2:           "\e6c7";
@en-var-flickr:           "\e6c8";
@en-var-flickr2:           "\e6c9";
@en-var-vimeo:           "\e6ca";
@en-var-vimeo2:           "\e6cb";
@en-var-twitter:           "\e6cc";
@en-var-twitter2:           "\e6cd";
@en-var-facebook:           "\e6ce";
@en-var-facebook2:           "\e6cf";
@en-var-facebook3:           "\e6d0";
@en-var-googleplus:           "\e6d1";
@en-var-googleplus2:           "\e6d2";
@en-var-pinterest:           "\e6d3";
@en-var-pinterest2:           "\e6d4";
@en-var-tumblr:           "\e6d5";
@en-var-tumblr2:           "\e6d6";
@en-var-linkedin:           "\e6d7";
@en-var-linkedin2:           "\e6d8";
@en-var-dribbble:           "\e6d9";
@en-var-dribbble2:           "\e6da";
@en-var-stumbleupon:           "\e6db";
@en-var-rdio:           "\e6dc";
@en-var-spotify:           "\e6dd";
@en-var-spotify2:           "\e6de";
@en-var-qq:           "\e6df";
@en-var-instagram:           "\e6e0";
@en-var-dropbox:           "\e6e1";
@en-var-evernote:           "\e6e2";
@en-var-flattr:           "\e6e3";
@en-var-skype:           "\e6e4";
@en-var-skype2:           "\e6e5";
@en-var-renren:           "\e6e6";
@en-var-sina-weibo:           "\e6e7";
@en-var-paypal:           "\e6e8";
@en-var-picasa:           "\e6e9";
@en-var-soundcloud:           "\e6ea";
@en-var-mixi:           "\e6eb";
@en-var-behance:           "\e6ec";
@en-var-circles:           "\e6ed";
@en-var-vk:           "\e6ee";
@en-var-smashing:           "\e6ef";
@en-var-compass:           "\e6f0";
@en-var-location2:           "\e6f1";
@en-var-target:           "\e6f2";
@en-var-share:           "\e6f3";
@en-var-trophy:           "\e6f4";
@en-var-tag:           "\e6f5";
@en-var-camera:           "\e6f6";
@en-var-megaphone:           "\e6f7";
@en-var-briefcase:           "\e6f8";
@en-var-air:           "\e6f9";
@en-var-hourglass:           "\e6fa";
@en-var-gauge:           "\e6fb";
@en-var-sun:           "\e6fc";
@en-var-sun2:           "\e6fd";
@en-var-adjust:           "\e6fe";
@en-var-code:           "\e6ff";
@en-var-lock-open:           "\e700";
@en-var-logout:           "\e701";
@en-var-login:           "\e702";
@en-var-checkmark:           "\e703";
@en-var-arrow:           "\e704";
@en-var-arrow2:           "\e705";
@en-var-retweet:           "\e706";
@en-var-loop:           "\e707";
@en-var-disk:           "\e708";
@en-var-install:           "\e709";
@en-var-cloud:           "\e70a";
@en-var-upload2:           "\e70b";
@en-var-flow-parallel:           "\e70c";
@en-var-arrow-left7:           "\e70d";
@en-var-arrow-down7:           "\e70e";
@en-var-arrow-up--upload:           "\e70f";
@en-var-arrow-right7:           "\e710";
@en-var-arrow-left8:           "\e711";
@en-var-arrow-down8:           "\e712";
@en-var-arrow-up7:           "\e713";
@en-var-daniel-bruce:           "\e714";
@en-var-daniel-bruce2:           "\e715";
@en-var-github:           "\e716";
@en-var-github2:           "\e717";
@en-var-stumbleupon2:           "\e718";
@en-var-lastfm:           "\e719";
@en-var-lastfm2:           "\e71a";
@en-var-rdio2:           "\e71b";