//==============================================
// Line space mixins
//==============================================

#line-space 
{
    .top( @color; @width: 1px; @space: 20px; @style: solid ) {
        .bot( @color; @width; @style );
        .mt( @space );
        .pt( @space );
    }
    .bottom( @color; @width: 1px; @space: 20px; @style: solid ) {
        .bob( @color; @width; @style );
        .mb( @space );
        .pb( @space );
    }
    .left( @color; @width: 1px; @space: 20px; @style: solid ) {
        .bol( @color; @width; @style );
        .ml( @space );
        .pl( @space );
    }
    .right( @color; @width: 1px; @space: 20px; @style: solid ) {
        .bor( @color; @width; @style );
        .mr( @space );
        .pr( @space );
    }
}