//==============================================
// Line space setup
//==============================================

@import 'variables.less';
@import 'mixins.less';

@line-space-class: ~"@{prefix}@{line-space-prefix}";
.@{line-space-class} {
    
    //Top line
    &@{single-separator}@{line-space-top-prefix} {
        #line-space>.top( @line-space-color );
        
        &@{single-separator}md {
            #line-space>.top( @line-space-color; @line-space-md-width; @line-space-md-space );
        }
        &@{single-separator}lg {
            #line-space>.top( @line-space-color; @line-space-lg-width; @line-space-lg-space );
        }
    }
    
    //Bottom line
    &@{single-separator}@{line-space-bottom-prefix} {
        #line-space>.bottom( @line-space-color );
        
        &@{single-separator}md {
            #line-space>.bottom( @line-space-color; @line-space-md-width; @line-space-md-space );
        }
        &@{single-separator}lg {
            #line-space>.bottom( @line-space-color; @line-space-lg-width; @line-space-lg-space );
        }
    }
}