//==============================================
// Line space variables
//==============================================

@line-space-prefix:             line-space;
@line-space-top-prefix:         top;
@line-space-bottom-prefix:      bottom;
@line-space-left-prefix:        left;
@line-space-right-prefix:       right;

@line-space-color:              #e6e6e6;

@line-space-md-width:           2px;
@line-space-md-space:           25px;
@line-space-lg-width:           3px;
@line-space-lg-space:           30px;