/* Ico moon definition */

@im-icons-list: home, home2, home3, office, newspaper, pencil, pencil2, quill, pen, headphones, play, film, camera, dice, pacman, spades, clubs, diamonds, file, profile, file2, file3, file4, copy, copy2, copy3, paste, qrcode, ticket, cart, cart2, cart3, coin, credit, calculate, support, compass, map, map2, history, clock, clock2, alarm, alarm2, bell, mobile, tablet, tv, cabinet, drawer, drawer2, drawer3, box-add, box-remove, undo, redo, forward, reply, bubble, bubbles, bubbles2, bubble2, bubbles3, busy, spinner, spinner2, spinner3, spinner4, spinner5, spinner6, binoculars, search, lock, lock2, unlocked, wrench, settings, equalizer, cog, cogs, cog2, gift, trophy, glass, mug, food, leaf, rocket, meter, meter2, airplane, truck, road, accessibility, target, shield, lightning, switch, power-cord, cloud-download, cloud-upload, download, upload, download2, upload2, globe, earth, link, brightness-contrast, contrast, star, star2, star3, heart, heart2, heart-broken, thumbs-up, sad, wink, wink2, grin, grin2, cool, cool2, angry, angry2, wondering, wondering2, point-up, point-right, point-down, point-left, warning, notification, question, checkmark, spell-check, minus, plus, enter, exit, play2, pause, stop, last, previous, next, eject, volume-high, volume-medium, volume-low, volume-mute, volume-mute2, arrow-up-right, arrow-right, arrow-down-right, arrow-down, arrow-down-left, arrow-left, arrow-up-left, arrow-up, arrow-up-right2, arrow-right2, arrow-down-right2, arrow-down2, arrow-down-left2, arrow-left2, tab, checkbox-checked, checkbox-unchecked, checkbox-partial, text-width, bold, underline, italic, strikethrough, omega, sigma, table, table2, paragraph-left, paragraph-center, paragraph-right, paragraph-justify, indent-increase, indent-decrease, new-tab, embed, code, google-plus, google-plus2, google-plus3, google-drive, facebook, facebook2, facebook3, instagram, twitter, vimeo2, vimeo, lanyrd, flickr, flickr2, flickr3, flickr4, picassa, picassa2, steam, github, github2, github3, github4, github5, wordpress, wordpress2, joomla, android, windows, windows8, soundcloud, soundcloud2, skype, reddit, linkedin, xing, flattr, foursquare, foursquare2, paypal, paypal2, paypal3, yelp, html5, html52, css3, chrome, firefox, IE, opera, safari, blogger, blogger2, tumblr, tumblr2, yahoo, tux, apple, finder, lastfm, delicious, stumbleupon, stumbleupon2, stackoverflow, pinterest, pinterest2, xing2, file-pdf, file-openoffice, file-word, file-excel, file-zip, file-powerpoint, file-xml, file-css, lastfm2, libreoffice, IcoMoon, blog, droplet, paint-format, image, image2, images, camera2, music, pawn, bullhorn, connection, podcast, feed, book, books, library, paste2, paste3, stack, folder, folder-open, tag, tags, barcode, phone, phone-hang-up, address-book, notebook, envelope, pushpin, location, location2, stopwatch, calendar, calendar2, print, keyboard, screen, laptop, mobile2, download3, upload3, disk, storage, undo2, redo2, flip, flip2, bubbles4, user, users, user2, users2, user3, user4, quotes-left, zoom-in, zoom-out, expand, contract, expand2, contract2, key, key2, hammer, wand, aid, bug, pie, stats, bars, bars2, dashboard, hammer2, fire, lab, magnet, remove, remove2, briefcase, signup, list, list2, numbered-list, menu, menu2, tree, cloud, flag, attachment, eye, eye-blocked, eye2, bookmark, bookmarks, brightness-medium, thumbs-up2, happy, happy2, smiley, smiley2, tongue, tongue2, sad2, evil, evil2, shocked, shocked2, confused, confused2, neutral, neutral2, info, info2, blocked, cancel-circle, checkmark-circle, spam, close, checkmark2, backward, forward2, play3, pause2, stop2, backward2, forward3, first, volume-increase, volume-decrease, loop, loop2, loop3, shuffle, arrow-up-left2, arrow-up2, arrow-right3, arrow-down-right3, arrow-down3, arrow-down-left3, arrow-left3, arrow-up-left3, arrow-up3, arrow-up-right3, radio-checked, radio-unchecked, crop, scissors, filter, filter2, font, text-height, insert-template, pilcrow, left-toright, right-toleft, paragraph-left2, paragraph-center2, paragraph-right2, paragraph-justify2, console, share, mail, mail2, mail3, mail4, google, google-plus4, twitter2, twitter3, feed2, feed3, feed4, youtube, youtube2, vimeo3, dribbble, dribbble2, dribbble3, forrst, forrst2, deviantart, deviantart2, steam2;

@im-icon-lenght: length( @im-icons-list );
.add-im-icon( @index ) when ( @index <= @im-icon-lenght ) {
    @var: extract( @im-icons-list, @index );
    @attr: ~".@{im-css-prefix}-@{var}";
    @vname: ~"im-var-@{var}";
    
    @{attr}:before { content: @@vname; }
    
    @newindex: @index + 1;
    .add-im-icon( @newindex );
}
.add-im-icon(1);