// Font awesome setup
// --------------------------

@import "variables.less";

/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'icomoon';
    src:url('@{im-font-path}/icomoon.eot');
    src:url('@{im-font-path}/icomoon.eot?#iefix') format('embedded-opentype'),
        url('@{im-font-path}/icomoon.ttf') format('truetype'),
        url('@{im-font-path}/icomoon.woff') format('woff'),
        url('@{im-font-path}/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base Class Definition
 * -------------------------- */
.@{im-css-prefix} {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "icons.less";