// Variables
// --------------------------

@im-font-path:        "../fonts/im";
@im-css-prefix:       im;

@im-var-home:           "\e600";
@im-var-home2:          "\e601";
@im-var-home3:          "\e602";
@im-var-office:         "\e603";
@im-var-newspaper:      "\e604";
@im-var-pencil:         "\e605";
@im-var-pencil2:        "\e606";
@im-var-quill:          "\e607";
@im-var-pen:            "\e608";
@im-var-headphones:     "\e609";
@im-var-play:           "\e60a";
@im-var-film:           "\e60b";
@im-var-camera:         "\e60c";
@im-var-dice:           "\e60d";
@im-var-pacman:         "\e60e";
@im-var-spades:         "\e60f";
@im-var-clubs:          "\e610";
@im-var-diamonds:       "\e611";
@im-var-file:           "\e612";
@im-var-profile:        "\e613";
@im-var-file2:          "\e614";
@im-var-file3:          "\e615";
@im-var-file4:          "\e616";
@im-var-copy:           "\e617";
@im-var-copy2:          "\e618";
@im-var-copy3:          "\e619";
@im-var-paste:          "\e61a";
@im-var-qrcode:         "\e61b";
@im-var-ticket:         "\e61c";
@im-var-cart:           "\e61d";
@im-var-cart2:          "\e61e";
@im-var-cart3:          "\e61f";
@im-var-coin:           "\e620";
@im-var-credit:         "\e621";
@im-var-calculate:      "\e622";
@im-var-support:        "\e623";
@im-var-compass:        "\e624";
@im-var-map:            "\e625";
@im-var-map2:           "\e626";
@im-var-history:        "\e627";
@im-var-clock:          "\e628";
@im-var-clock2:         "\e629";
@im-var-alarm:          "\e62a";
@im-var-alarm2:         "\e62b";
@im-var-bell:           "\e62c";
@im-var-mobile:         "\e62d";
@im-var-tablet:         "\e62e";
@im-var-tv:             "\e62f";
@im-var-cabinet:        "\e630";
@im-var-drawer:         "\e631";
@im-var-drawer2:        "\e632";
@im-var-drawer3:        "\e633";
@im-var-box-add:        "\e634";
@im-var-box-remove:     "\e635";
@im-var-undo:           "\e636";
@im-var-redo:           "\e637";
@im-var-forward:        "\e638";
@im-var-reply:          "\e639";
@im-var-bubble:         "\e63a";
@im-var-bubbles:        "\e63b";
@im-var-bubbles2:       "\e63c";
@im-var-bubble2:        "\e63d";
@im-var-bubbles3:       "\e63e";
@im-var-busy:           "\e63f";
@im-var-spinner:        "\e640";
@im-var-spinner2:       "\e641";
@im-var-spinner3:       "\e642";
@im-var-spinner4:       "\e643";
@im-var-spinner5:       "\e644";
@im-var-spinner6:       "\e645";
@im-var-binoculars:     "\e646";
@im-var-search:         "\e647";
@im-var-lock:           "\e648";
@im-var-lock2:          "\e649";
@im-var-unlocked:       "\e64a";
@im-var-wrench:         "\e64b";
@im-var-settings:       "\e64c";
@im-var-equalizer:      "\e64d";
@im-var-cog:            "\e64e";
@im-var-cogs:           "\e64f";
@im-var-cog2:           "\e650";
@im-var-gift:           "\e651";
@im-var-trophy:         "\e652";
@im-var-glass:          "\e653";
@im-var-mug:            "\e654";
@im-var-food:           "\e655";
@im-var-leaf:           "\e656";
@im-var-rocket:         "\e657";
@im-var-meter:          "\e658";
@im-var-meter2:         "\e659";
@im-var-airplane:       "\e65a";
@im-var-truck:          "\e65b";
@im-var-road:           "\e65c";
@im-var-accessibility:  "\e65d";
@im-var-target:         "\e65e";
@im-var-shield:         "\e65f";
@im-var-lightning:      "\e660";
@im-var-switch:         "\e661";
@im-var-power-cord:     "\e662";
@im-var-cloud-download: "\e663";
@im-var-cloud-upload:   "\e664";
@im-var-download:       "\e665";
@im-var-upload:         "\e666";
@im-var-download2:      "\e667";
@im-var-upload2:        "\e668";
@im-var-globe:          "\e669";
@im-var-earth:          "\e66a";
@im-var-link:           "\e66b";
@im-var-brightness-contrast:    "\e66c";
@im-var-contrast:               "\e66d";
@im-var-star:                   "\e66e";
@im-var-star2:                  "\e66f";
@im-var-star3:                  "\e670";
@im-var-heart:                  "\e671";
@im-var-heart2:                 "\e672";
@im-var-heart-broken:           "\e673";
@im-var-thumbs-up:              "\e674";
@im-var-sad:                    "\e675";
@im-var-wink:                   "\e676";
@im-var-wink2:                  "\e677";
@im-var-grin:                   "\e678";
@im-var-grin2:                  "\e679";
@im-var-cool:                   "\e67a";
@im-var-cool2:                  "\e67b";
@im-var-angry:                  "\e67c";
@im-var-angry2:                 "\e67d";
@im-var-wondering:              "\e67e";
@im-var-wondering2:             "\e67f";
@im-var-point-up:               "\e680";
@im-var-point-right:            "\e681";
@im-var-point-down:             "\e682";
@im-var-point-left:             "\e683";
@im-var-warning:                "\e684";
@im-var-notification:           "\e685";
@im-var-question:               "\e686";
@im-var-checkmark:              "\e687";
@im-var-spell-check:            "\e688";
@im-var-minus:                  "\e689";
@im-var-plus:                   "\e68a";
@im-var-enter:                  "\e68b";
@im-var-exit:                   "\e68c";
@im-var-play2:                  "\e68d";
@im-var-pause:                  "\e68e";
@im-var-stop:                   "\e68f";
@im-var-last:                   "\e690";
@im-var-previous:               "\e691";
@im-var-next:                   "\e692";
@im-var-eject:                  "\e693";
@im-var-volume-high:            "\e694";
@im-var-volume-medium:          "\e695";
@im-var-volume-low:             "\e696";
@im-var-volume-mute:            "\e697";
@im-var-volume-mute2:           "\e698";
@im-var-arrow-up-right:         "\e699";
@im-var-arrow-right:            "\e69a";
@im-var-arrow-down-right:       "\e69b";
@im-var-arrow-down:             "\e69c";
@im-var-arrow-down-left:        "\e69d";
@im-var-arrow-left:             "\e69e";
@im-var-arrow-up-left:          "\e69f";
@im-var-arrow-up:               "\e6a0";
@im-var-arrow-up-right2:        "\e6a1";
@im-var-arrow-right2:           "\e6a2";
@im-var-arrow-down-right2:      "\e6a3";
@im-var-arrow-down2:            "\e6a4";
@im-var-arrow-down-left2:       "\e6a5";
@im-var-arrow-left2:            "\e6a6";
@im-var-tab:                    "\e6a7";
@im-var-checkbox-checked:       "\e6a8";
@im-var-checkbox-unchecked:     "\e6a9";
@im-var-checkbox-partial:       "\e6aa";
@im-var-text-width:             "\e6ab";
@im-var-bold:                   "\e6ac";
@im-var-underline:              "\e6ad";
@im-var-italic:                 "\e6ae";
@im-var-strikethrough:          "\e6af";
@im-var-omega:                  "\e6b0";
@im-var-sigma:                  "\e6b1";
@im-var-table:                  "\e6b2";
@im-var-table2:                 "\e6b3";
@im-var-paragraph-left:         "\e6b4";
@im-var-paragraph-center:       "\e6b5";
@im-var-paragraph-right:        "\e6b6";
@im-var-paragraph-justify:      "\e6b7";
@im-var-indent-increase:        "\e6b8";
@im-var-indent-decrease:        "\e6b9";
@im-var-new-tab:                "\e6ba";
@im-var-embed:                  "\e6bb";
@im-var-code:                   "\e6bc";
@im-var-google-plus:            "\e6bd";
@im-var-google-plus2:           "\e6be";
@im-var-google-plus3:           "\e6bf";
@im-var-google-drive:           "\e6c0";
@im-var-facebook:               "\e6c1";
@im-var-facebook2:              "\e6c2";
@im-var-facebook3:              "\e6c3";
@im-var-instagram:              "\e6c4";
@im-var-twitter:                "\e6c5";
@im-var-vimeo2:                 "\e6c6";
@im-var-vimeo:                  "\e6c7";
@im-var-lanyrd:                 "\e6c8";
@im-var-flickr:                 "\e6c9";
@im-var-flickr2:                "\e6ca";
@im-var-flickr3:                "\e6cb";
@im-var-flickr4:                "\e6cc";
@im-var-picassa:                "\e6cd";
@im-var-picassa2:               "\e6ce";
@im-var-steam:                  "\e6cf";
@im-var-github:                 "\e6d0";
@im-var-github2:                "\e6d1";
@im-var-github3:                "\e6d2";
@im-var-github4:                "\e6d3";
@im-var-github5:                "\e6d4";
@im-var-wordpress:              "\e6d5";
@im-var-wordpress2:             "\e6d6";
@im-var-joomla:                 "\e6d7";
@im-var-android:                "\e6d8";
@im-var-windows:                "\e6d9";
@im-var-windows8:               "\e6da";
@im-var-soundcloud:             "\e6db";
@im-var-soundcloud2:            "\e6dc";
@im-var-skype:                  "\e6dd";
@im-var-reddit:                 "\e6de";
@im-var-linkedin:               "\e6df";
@im-var-xing:                   "\e6e0";
@im-var-flattr:                 "\e6e1";
@im-var-foursquare:             "\e6e2";
@im-var-foursquare2:            "\e6e3";
@im-var-paypal:                 "\e6e4";
@im-var-paypal2:                "\e6e5";
@im-var-paypal3:                "\e6e6";
@im-var-yelp:                   "\e6e7";
@im-var-html5:                  "\e6e8";
@im-var-html52:                 "\e6e9";
@im-var-css3:                   "\e6ea";
@im-var-chrome:                 "\e6eb";
@im-var-firefox:                "\e6ec";
@im-var-IE:                     "\e6ed";
@im-var-opera:                  "\e6ee";
@im-var-safari:                 "\e6ef";
@im-var-blogger:                "\e6f0";
@im-var-blogger2:               "\e6f1";
@im-var-tumblr:                 "\e6f2";
@im-var-tumblr2:                "\e6f3";
@im-var-yahoo:                  "\e6f4";
@im-var-tux:                    "\e6f5";
@im-var-apple:                  "\e6f6";
@im-var-finder:                 "\e6f7";
@im-var-lastfm:                 "\e6f8";
@im-var-delicious:              "\e6f9";
@im-var-stumbleupon:            "\e6fa";
@im-var-stumbleupon2:           "\e6fb";
@im-var-stackoverflow:          "\e6fc";
@im-var-pinterest:              "\e6fd";
@im-var-pinterest2:             "\e6fe";
@im-var-xing2:                  "\e6ff";
@im-var-file-pdf:               "\e700";
@im-var-file-openoffice:        "\e701";
@im-var-file-word:              "\e702";
@im-var-file-excel:             "\e703";
@im-var-file-zip:               "\e704";
@im-var-file-powerpoint:        "\e705";
@im-var-file-xml:               "\e706";
@im-var-file-css:               "\e707";
@im-var-lastfm2:                "\e708";
@im-var-libreoffice:            "\e709";
@im-var-IcoMoon:                "\e70a";
@im-var-blog:                   "\e70b";
@im-var-droplet:                "\e70c";
@im-var-paint-format:           "\e70d";
@im-var-image:                  "\e70e";
@im-var-image2:                 "\e70f";
@im-var-images:                 "\e710";
@im-var-camera2:                "\e711";
@im-var-music:                  "\e712";
@im-var-pawn:                   "\e713";
@im-var-bullhorn:               "\e714";
@im-var-connection:             "\e715";
@im-var-podcast:                "\e716";
@im-var-feed:                   "\e717";
@im-var-book:                   "\e718";
@im-var-books:                  "\e719";
@im-var-library:                "\e71a";
@im-var-paste2:                 "\e71b";
@im-var-paste3:                 "\e71c";
@im-var-stack:                  "\e71d";
@im-var-folder:                 "\e71e";
@im-var-folder-open:            "\e71f";
@im-var-tag:                    "\e720";
@im-var-tags:                   "\e721";
@im-var-barcode:                "\e722";
@im-var-phone:                  "\e723";
@im-var-phone-hang-up:          "\e724";
@im-var-address-book:           "\e725";
@im-var-notebook:               "\e726";
@im-var-envelope:               "\e727";
@im-var-pushpin:                "\e728";
@im-var-location:               "\e729";
@im-var-location2:              "\e72a";
@im-var-stopwatch:              "\e72b";
@im-var-calendar:               "\e72c";
@im-var-calendar2:              "\e72d";
@im-var-print:                  "\e72e";
@im-var-keyboard:               "\e72f";
@im-var-screen:                 "\e730";
@im-var-laptop:                 "\e731";
@im-var-mobile2:                "\e732";
@im-var-download3:              "\e733";
@im-var-upload3:                "\e734";
@im-var-disk:                   "\e735";
@im-var-storage:                "\e736";
@im-var-undo2:                  "\e737";
@im-var-redo2:                  "\e738";
@im-var-flip:                   "\e739";
@im-var-flip2:                  "\e73a";
@im-var-bubbles4:               "\e73b";
@im-var-user:                   "\e73c";
@im-var-users:                  "\e73d";
@im-var-user2:                  "\e73e";
@im-var-users2:                 "\e73f";
@im-var-user3:                  "\e740";
@im-var-user4:                  "\e741";
@im-var-quotes-left:            "\e742";
@im-var-zoom-in:                "\e743";
@im-var-zoom-out:               "\e744";
@im-var-expand:                 "\e745";
@im-var-contract:               "\e746";
@im-var-expand2:                "\e747";
@im-var-contract2:              "\e748";
@im-var-key:                    "\e749";
@im-var-key2:                   "\e74a";
@im-var-hammer:                 "\e74b";
@im-var-wand:                   "\e74c";
@im-var-aid:                    "\e74d";
@im-var-bug:                    "\e74e";
@im-var-pie:                    "\e74f";
@im-var-stats:                  "\e750";
@im-var-bars:                   "\e751";
@im-var-bars2:                  "\e752";
@im-var-dashboard:              "\e753";
@im-var-hammer2:                "\e754";
@im-var-fire:                   "\e755";
@im-var-lab:                    "\e756";
@im-var-magnet:                 "\e757";
@im-var-remove:                 "\e758";
@im-var-remove2:                "\e759";
@im-var-briefcase:              "\e75a";
@im-var-signup:                 "\e75b";
@im-var-list:                   "\e75c";
@im-var-list2:                  "\e75d";
@im-var-numbered-list:          "\e75e";
@im-var-menu:                   "\e75f";
@im-var-menu2:                  "\e760";
@im-var-tree:                   "\e761";
@im-var-cloud:                  "\e762";
@im-var-flag:                   "\e763";
@im-var-attachment:             "\e764";
@im-var-eye:                    "\e765";
@im-var-eye-blocked:            "\e766";
@im-var-eye2:                   "\e767";
@im-var-bookmark:               "\e768";
@im-var-bookmarks:              "\e769";
@im-var-brightness-medium:      "\e76a";
@im-var-thumbs-up2:             "\e76b";
@im-var-happy:                  "\e76c";
@im-var-happy2:                 "\e76d";
@im-var-smiley:                 "\e76e";
@im-var-smiley2:                "\e76f";
@im-var-tongue:                 "\e770";
@im-var-tongue2:                "\e771";
@im-var-sad2:                   "\e772";
@im-var-evil:                   "\e773";
@im-var-evil2:                  "\e774";
@im-var-shocked:                "\e775";
@im-var-shocked2:               "\e776";
@im-var-confused:               "\e777";
@im-var-confused2:              "\e778";
@im-var-neutral:                "\e779";
@im-var-neutral2:               "\e77a";
@im-var-info:                   "\e77b";
@im-var-info2:                  "\e77c";
@im-var-blocked:                "\e77d";
@im-var-cancel-circle:          "\e77e";
@im-var-checkmark-circle:       "\e77f";
@im-var-spam:                   "\e780";
@im-var-close:                  "\e781";
@im-var-checkmark2:             "\e782";
@im-var-backward:               "\e783";
@im-var-forward2:               "\e784";
@im-var-play3:                  "\e785";
@im-var-pause2:                 "\e786";
@im-var-stop2:                  "\e787";
@im-var-backward2:              "\e788";
@im-var-forward3:               "\e789";
@im-var-first:                  "\e78a";
@im-var-volume-increase:        "\e78b";
@im-var-volume-decrease:        "\e78c";
@im-var-loop:                   "\e78d";
@im-var-loop2:                  "\e78e";
@im-var-loop3:                  "\e78f";
@im-var-shuffle:                "\e790";
@im-var-arrow-up-left2:         "\e791";
@im-var-arrow-up2:              "\e792";
@im-var-arrow-right3:           "\e793";
@im-var-arrow-down-right3:      "\e794";
@im-var-arrow-down3:            "\e795";
@im-var-arrow-down-left3:       "\e796";
@im-var-arrow-left3:            "\e797";
@im-var-arrow-up-left3:         "\e798";
@im-var-arrow-up3:              "\e799";
@im-var-arrow-up-right3:        "\e79a";
@im-var-radio-checked:          "\e79b";
@im-var-radio-unchecked:        "\e79c";
@im-var-crop:                   "\e79d";
@im-var-scissors:               "\e79e";
@im-var-filter:                 "\e79f";
@im-var-filter2:                "\e7a0";
@im-var-font:                   "\e7a1";
@im-var-text-height:            "\e7a2";
@im-var-insert-template:        "\e7a3";
@im-var-pilcrow:                "\e7a4";
@im-var-left-toright:           "\e7a5";
@im-var-right-toleft:           "\e7a6";
@im-var-paragraph-left2:        "\e7a7";
@im-var-paragraph-center2:      "\e7a8";
@im-var-paragraph-right2:       "\e7a9";
@im-var-paragraph-justify2:     "\e7aa";
@im-var-console:                "\e7ab";
@im-var-share:                  "\e7ac";
@im-var-mail:                   "\e7ad";
@im-var-mail2:                  "\e7ae";
@im-var-mail3:                  "\e7af";
@im-var-mail4:                  "\e7b0";
@im-var-google:                 "\e7b1";
@im-var-google-plus4:           "\e7b2";
@im-var-twitter2:               "\e7b3";
@im-var-twitter3:               "\e7b4";
@im-var-feed2:                  "\e7b5";
@im-var-feed3:                  "\e7b6";
@im-var-feed4:                  "\e7b7";
@im-var-youtube:                "\e7b8";
@im-var-youtube2:               "\e7b9";
@im-var-vimeo3:                 "\e7ba";
@im-var-dribbble:               "\e7bb";
@im-var-dribbble2:              "\e7bc";
@im-var-dribbble3:              "\e7bd";
@im-var-forrst:                 "\e7be";
@im-var-forrst2:                "\e7bf";
@im-var-deviantart:             "\e7c0";
@im-var-deviantart2:            "\e7c1";
@im-var-steam2:                 "\e7c2";