@import url(http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic,700italic);
.about-us-main-title {
  margin: 10px 0 15px;
  font-size: 35px;
  line-height: 36px;
  font-weight: bold;
}
.image-content {
  margin: 25px 0;
}
.question_ask {
  margin: 15px 0;
}
.question_ask span {
  vertical-align: top;
}
.question_ask p {
  width: 80%;
  display: inline-block;
  margin: 0px;
}
.news-main_item_content_cctv {
  background-color: #fff;
  padding: 20px;
  position: relative;
}
h3.title-page {
  font-size: 14px;
  margin: 0 0 20px 0;
}
.cctv-list a {
  font-family: 'PT Sans', sans-serif;
  font-size: 18px;
  color: #333333;
  text-decoration: none;
}
.cctv-list {
  margin-bottom: 20px;
}
.news-main_item_main_cctv {
  min-height: 1400px;
}
.b_tab_content_item {
  min-height: 1927px;
}
.form-hilang-temu {
  margin-top: 40px;
  padding-top: 20px;
  border-top: 2px solid #b7b7b7;
}
span.tagline-hilang {
  display: block;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  font-weight: bold;
}
.news-main_item_text ul.form-maintance {
  margin: 20px 0;
  padding: 0px;
}
ul.form-maintance li {
  list-style: none;
  margin-bottom: 20px;
}
ul.form-maintance li label {
  margin-right: 20px;
  width: 112px;
  display: inline-block;
}
input[type='text'].form-new {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  border: 1px solid #949494;
  padding: 5px;
  -webkit-box-shadow: inset 3px 0px 31px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 3px 0px 31px -10px rgba(0, 0, 0, 0.75);
  box-shadow: inset 3px 0px 31px -10px rgba(0, 0, 0, 0.75);
}
.news-main_item_contact-us {
  background-color: #fff;
  padding: 20px;
  position: relative;
  margin-left: 72px;
}
.ico-mail {
  background: url('../img/mail-ico.png') no-repeat;
  width: 24px;
  height: 20px;
  text-indent: -9999px;
}
.list-contact-us {
  margin: 20px 0px;
}
.top_site-menu li ul {
  padding: 0;
  position: absolute;
  top: 48px;
  left: 0;
  display: none;
  opacity: 0;
  visibility: hidden;
  z-index: 100;
}
.top_site-menu li ul li a,
.top_site-menu li ul li:first-child {
  border: none;
  background: url('../img/bg-dropdown.png') repeat;
  width: 210px;
}
.top_site-menu li ul li:hover a {
  color: #e07a1f;
}
.top_site-menu li:hover ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
.grey-background {
  background: #f6f6f6;
  border-top: 1px solid #dddddd;
}
.news-main_item_content_grey {
  margin-left: 72px;
  background-color: #f6f6f6;
  padding: 20px 0;
  position: relative;
  min-height: 1020px;
}
.title-message {
  display: inline-block;
  font-size: 14px;
  color: #000;
  padding: 10px;
  background: #f6f6f6;
  margin-bottom: 0px;
  margin-left: 72px;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
.news-main_item_content_grey h3 {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
form.keluhan {
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
form.keluhan label {
  display: block;
}
input[type='text'].keluhan-text {
  display: block;
  width: 40%;
  margin: 10px 0;
  border: 1px solid #dddddd;
  padding: 10px;
  webkit-border-radius: 3px;
  border-radius: 3px;
}
textarea.keluhan-text {
  min-height: 150px;
  display: block;
  width: 40%;
  margin: 10px 0;
  border: 1px solid #dddddd;
  padding: 10px;
  webkit-border-radius: 3px;
  border-radius: 3px;
}
input[type='submit'].send-message {
  border: none;
  background: #23af44;
  webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  padding: 10px 25px;
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}
.top_site-title {
  font-family: verdana!important;
}
/*===============================================
 * Normalize browser default
 *===============================================*/
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* normalize.css - http://github.com/necolas/normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
body {
  margin: 0;
}
a:focus {
  outline: thin dotted;
}
a:hover,
a:active {
  outline: 0;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
p,
pre {
  margin: 1em 0;
}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*===============================================
 * Font face
 *===============================================*/
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Gotham-Medium.otf");
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 400;
  src: url("../font/Gotham-MediumIta.otf");
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 800;
  src: url("../font/Gotham-Bold.otf");
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 800;
  src: url("../font/Gotham-BoldIta.otf");
}
@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 300;
  src: url("../font/Gotham-Book.otf");
}
@font-face {
  font-family: 'Gotham';
  font-style: italic;
  font-weight: 300;
  src: url("../font/Gotham-BookIta.otf");
}
@font-face {
  font-family: 'Gotham Black';
  font-style: normal;
  font-weight: 400;
  src: url("../font/Gotham-Black.otf");
}
@font-face {
  font-family: 'Gotham Black';
  font-style: italic;
  font-weight: 400;
  src: url("../font/Gotham-BlackIta.otf");
}
/*===============================================
 * Font size class
 *===============================================*/
.font-xs {
  font-size: 10px;
}
.font-sm {
  font-size: 12px;
}
.font-md {
  font-size: 14px;
}
.font-lg {
  font-size: 18px;
}
.font-xlg {
  font-size: 24px;
}
.font-h1 {
  font-size: 26px;
}
.font-h2 {
  font-size: 22px;
}
.font-h3 {
  font-size: 18px;
}
.font-h4 {
  font-size: 16px;
}
.font-h5 {
  font-size: 14px;
}
.font-h6 {
  font-size: 12px;
}
.font-p {
  font-size: 14px;
}
/*===============================================
 * Text class
 *===============================================*/
.clear:before,
.clear:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.clear:after {
  clear: both;
}
.bold {
  font-weight: bold;
}
.italic {
  font-style: italic;
}
.nobold {
  font-weight: normal;
}
.noitalic {
  font-style: normal;
}
.underline {
  text-decoration: underline;
}
.strike {
  text-decoration: line-through;
}
.nodeco {
  text-decoration: none;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.ff-text {
  font-family: 'PT Sans', sans-serif;
}
.ff-title {
  font-family: Gotham, sans-serif;
}
.ff-subtitle {
  font-family: PT Sans, sans-serif;
}
/*
 * Body font
 */
body {
  font-family: 'PT Sans', sans-serif;
}
/*===============================================
 * Margin tools class
 *===============================================*/
.m0 {
  margin: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.my0 {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
.mx0 {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.m5 {
  margin: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.my5 {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mx5 {
  margin-left: 5px !important;
  margin-right: 5px !important;
}
.m10 {
  margin: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.my10 {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mx10 {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.m15 {
  margin: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.my15 {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mx15 {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.m20 {
  margin: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.my20 {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.mx20 {
  margin-left: 20px !important;
  margin-right: 20px !important;
}
.m25 {
  margin: 25px !important;
}
.mt25 {
  margin-top: 25px !important;
}
.mb25 {
  margin-bottom: 25px !important;
}
.ml25 {
  margin-left: 25px !important;
}
.mr25 {
  margin-right: 25px !important;
}
.my25 {
  margin-top: 25px !important;
  margin-bottom: 25px !important;
}
.mx25 {
  margin-left: 25px !important;
  margin-right: 25px !important;
}
.m30 {
  margin: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.my30 {
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}
.mx30 {
  margin-left: 30px !important;
  margin-right: 30px !important;
}
.m35 {
  margin: 35px !important;
}
.mt35 {
  margin-top: 35px !important;
}
.mb35 {
  margin-bottom: 35px !important;
}
.ml35 {
  margin-left: 35px !important;
}
.mr35 {
  margin-right: 35px !important;
}
.my35 {
  margin-top: 35px !important;
  margin-bottom: 35px !important;
}
.mx35 {
  margin-left: 35px !important;
  margin-right: 35px !important;
}
.m40 {
  margin: 40px !important;
}
.mt40 {
  margin-top: 40px !important;
}
.mb40 {
  margin-bottom: 40px !important;
}
.ml40 {
  margin-left: 40px !important;
}
.mr40 {
  margin-right: 40px !important;
}
.my40 {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
}
.mx40 {
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.m45 {
  margin: 45px !important;
}
.mt45 {
  margin-top: 45px !important;
}
.mb45 {
  margin-bottom: 45px !important;
}
.ml45 {
  margin-left: 45px !important;
}
.mr45 {
  margin-right: 45px !important;
}
.my45 {
  margin-top: 45px !important;
  margin-bottom: 45px !important;
}
.mx45 {
  margin-left: 45px !important;
  margin-right: 45px !important;
}
.m50 {
  margin: 50px !important;
}
.mt50 {
  margin-top: 50px !important;
}
.mb50 {
  margin-bottom: 50px !important;
}
.ml50 {
  margin-left: 50px !important;
}
.mr50 {
  margin-right: 50px !important;
}
.my50 {
  margin-top: 50px !important;
  margin-bottom: 50px !important;
}
.mx50 {
  margin-left: 50px !important;
  margin-right: 50px !important;
}
/*===============================================
 * Padding tools class
 *===============================================*/
.p0 {
  padding: 0px !important;
}
.pt0 {
  padding-top: 0px !important;
}
.pb0 {
  padding-bottom: 0px !important;
}
.pl0 {
  padding-left: 0px !important;
}
.pr0 {
  padding-right: 0px !important;
}
.py0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.px0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.p5 {
  padding: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.py5 {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.px5 {
  padding-left: 5px !important;
  padding-right: 5px !important;
}
.p10 {
  padding: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.py10 {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.px10 {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.p15 {
  padding: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.py15 {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.px15 {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.p20 {
  padding: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.py20 {
  padding-top: 20px !important;
  padding-bottom: 20px !important;
}
.px20 {
  padding-left: 20px !important;
  padding-right: 20px !important;
}
.p25 {
  padding: 25px !important;
}
.pt25 {
  padding-top: 25px !important;
}
.pb25 {
  padding-bottom: 25px !important;
}
.pl25 {
  padding-left: 25px !important;
}
.pr25 {
  padding-right: 25px !important;
}
.py25 {
  padding-top: 25px !important;
  padding-bottom: 25px !important;
}
.px25 {
  padding-left: 25px !important;
  padding-right: 25px !important;
}
.p30 {
  padding: 30px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.py30 {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.px30 {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.p35 {
  padding: 35px !important;
}
.pt35 {
  padding-top: 35px !important;
}
.pb35 {
  padding-bottom: 35px !important;
}
.pl35 {
  padding-left: 35px !important;
}
.pr35 {
  padding-right: 35px !important;
}
.py35 {
  padding-top: 35px !important;
  padding-bottom: 35px !important;
}
.px35 {
  padding-left: 35px !important;
  padding-right: 35px !important;
}
.p40 {
  padding: 40px !important;
}
.pt40 {
  padding-top: 40px !important;
}
.pb40 {
  padding-bottom: 40px !important;
}
.pl40 {
  padding-left: 40px !important;
}
.pr40 {
  padding-right: 40px !important;
}
.py40 {
  padding-top: 40px !important;
  padding-bottom: 40px !important;
}
.px40 {
  padding-left: 40px !important;
  padding-right: 40px !important;
}
.p45 {
  padding: 45px !important;
}
.pt45 {
  padding-top: 45px !important;
}
.pb45 {
  padding-bottom: 45px !important;
}
.pl45 {
  padding-left: 45px !important;
}
.pr45 {
  padding-right: 45px !important;
}
.py45 {
  padding-top: 45px !important;
  padding-bottom: 45px !important;
}
.px45 {
  padding-left: 45px !important;
  padding-right: 45px !important;
}
.p50 {
  padding: 50px !important;
}
.pt50 {
  padding-top: 50px !important;
}
.pb50 {
  padding-bottom: 50px !important;
}
.pl50 {
  padding-left: 50px !important;
}
.pr50 {
  padding-right: 50px !important;
}
.py50 {
  padding-top: 50px !important;
  padding-bottom: 50px !important;
}
.px50 {
  padding-left: 50px !important;
  padding-right: 50px !important;
}
/*===============================================
 * Grid tools class
 *===============================================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container:before,
.container:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container:after {
  clear: both;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}
.container-fluid:before,
.container-fluid:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.container-fluid:after {
  clear: both;
}
.container-fluid.container,
.container-fluid.container10 {
  width: auto;
  padding: 0;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.row:before,
.row:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.row:after {
  clear: both;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.container .col-xs-12 {
  width: 100%;
}
.container .col-xs-11 {
  width: 91.66666667%;
}
.container .col-xs-10 {
  width: 83.33333333%;
}
.container .col-xs-9 {
  width: 75%;
}
.container .col-xs-8 {
  width: 66.66666667%;
}
.container .col-xs-7 {
  width: 58.33333333%;
}
.container .col-xs-6 {
  width: 50%;
}
.container .col-xs-5 {
  width: 41.66666667%;
}
.container .col-xs-4 {
  width: 33.33333333%;
}
.container .col-xs-3 {
  width: 25%;
}
.container .col-xs-2 {
  width: 16.66666667%;
}
.container .col-xs-1 {
  width: 8.33333333%;
}
.container .col-xs-push-12 {
  left: 100%;
}
.container .col-xs-push-11 {
  left: 91.66666667%;
}
.container .col-xs-push-10 {
  left: 83.33333333%;
}
.container .col-xs-push-9 {
  left: 75%;
}
.container .col-xs-push-8 {
  left: 66.66666667%;
}
.container .col-xs-push-7 {
  left: 58.33333333%;
}
.container .col-xs-push-6 {
  left: 50%;
}
.container .col-xs-push-5 {
  left: 41.66666667%;
}
.container .col-xs-push-4 {
  left: 33.33333333%;
}
.container .col-xs-push-3 {
  left: 25%;
}
.container .col-xs-push-2 {
  left: 16.66666667%;
}
.container .col-xs-push-1 {
  left: 8.33333333%;
}
.container .col-xs-push-0 {
  left: auto;
}
.container .col-xs-pull-12 {
  right: 100%;
}
.container .col-xs-pull-11 {
  right: 91.66666667%;
}
.container .col-xs-pull-10 {
  right: 83.33333333%;
}
.container .col-xs-pull-9 {
  right: 75%;
}
.container .col-xs-pull-8 {
  right: 66.66666667%;
}
.container .col-xs-pull-7 {
  right: 58.33333333%;
}
.container .col-xs-pull-6 {
  right: 50%;
}
.container .col-xs-pull-5 {
  right: 41.66666667%;
}
.container .col-xs-pull-4 {
  right: 33.33333333%;
}
.container .col-xs-pull-3 {
  right: 25%;
}
.container .col-xs-pull-2 {
  right: 16.66666667%;
}
.container .col-xs-pull-1 {
  right: 8.33333333%;
}
.container .col-xs-offset-12 {
  margin-left: 100%;
}
.container .col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.container .col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.container .col-xs-offset-9 {
  margin-left: 75%;
}
.container .col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.container .col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.container .col-xs-offset-6 {
  margin-left: 50%;
}
.container .col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.container .col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.container .col-xs-offset-3 {
  margin-left: 25%;
}
.container .col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.container .col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.container .col-xs-offset-0 {
  margin-left: 0%;
}
.container10 .col-xs-10 {
  width: 100%;
}
.container10 .col-xs-9 {
  width: 90%;
}
.container10 .col-xs-8 {
  width: 80%;
}
.container10 .col-xs-7 {
  width: 70%;
}
.container10 .col-xs-6 {
  width: 60%;
}
.container10 .col-xs-5 {
  width: 50%;
}
.container10 .col-xs-4 {
  width: 40%;
}
.container10 .col-xs-3 {
  width: 30%;
}
.container10 .col-xs-2 {
  width: 20%;
}
.container10 .col-xs-1 {
  width: 10%;
}
.container10 .col-xs-push-10 {
  left: 100%;
}
.container10 .col-xs-push-9 {
  left: 90%;
}
.container10 .col-xs-push-8 {
  left: 80%;
}
.container10 .col-xs-push-7 {
  left: 70%;
}
.container10 .col-xs-push-6 {
  left: 60%;
}
.container10 .col-xs-push-5 {
  left: 50%;
}
.container10 .col-xs-push-4 {
  left: 40%;
}
.container10 .col-xs-push-3 {
  left: 30%;
}
.container10 .col-xs-push-2 {
  left: 20%;
}
.container10 .col-xs-push-1 {
  left: 10%;
}
.container10 .col-xs-push-0 {
  left: auto;
}
.container10 .col-xs-pull-10 {
  right: 100%;
}
.container10 .col-xs-pull-9 {
  right: 90%;
}
.container10 .col-xs-pull-8 {
  right: 80%;
}
.container10 .col-xs-pull-7 {
  right: 70%;
}
.container10 .col-xs-pull-6 {
  right: 60%;
}
.container10 .col-xs-pull-5 {
  right: 50%;
}
.container10 .col-xs-pull-4 {
  right: 40%;
}
.container10 .col-xs-pull-3 {
  right: 30%;
}
.container10 .col-xs-pull-2 {
  right: 20%;
}
.container10 .col-xs-pull-1 {
  right: 10%;
}
.container10 .col-xs-offset-10 {
  margin-left: 100%;
}
.container10 .col-xs-offset-9 {
  margin-left: 90%;
}
.container10 .col-xs-offset-8 {
  margin-left: 80%;
}
.container10 .col-xs-offset-7 {
  margin-left: 70%;
}
.container10 .col-xs-offset-6 {
  margin-left: 60%;
}
.container10 .col-xs-offset-5 {
  margin-left: 50%;
}
.container10 .col-xs-offset-4 {
  margin-left: 40%;
}
.container10 .col-xs-offset-3 {
  margin-left: 30%;
}
.container10 .col-xs-offset-2 {
  margin-left: 20%;
}
.container10 .col-xs-offset-1 {
  margin-left: 10%;
}
.container10 .col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .container .col-sm-12 {
    width: 100%;
  }
  .container .col-sm-11 {
    width: 91.66666667%;
  }
  .container .col-sm-10 {
    width: 83.33333333%;
  }
  .container .col-sm-9 {
    width: 75%;
  }
  .container .col-sm-8 {
    width: 66.66666667%;
  }
  .container .col-sm-7 {
    width: 58.33333333%;
  }
  .container .col-sm-6 {
    width: 50%;
  }
  .container .col-sm-5 {
    width: 41.66666667%;
  }
  .container .col-sm-4 {
    width: 33.33333333%;
  }
  .container .col-sm-3 {
    width: 25%;
  }
  .container .col-sm-2 {
    width: 16.66666667%;
  }
  .container .col-sm-1 {
    width: 8.33333333%;
  }
  .container .col-sm-push-12 {
    left: 100%;
  }
  .container .col-sm-push-11 {
    left: 91.66666667%;
  }
  .container .col-sm-push-10 {
    left: 83.33333333%;
  }
  .container .col-sm-push-9 {
    left: 75%;
  }
  .container .col-sm-push-8 {
    left: 66.66666667%;
  }
  .container .col-sm-push-7 {
    left: 58.33333333%;
  }
  .container .col-sm-push-6 {
    left: 50%;
  }
  .container .col-sm-push-5 {
    left: 41.66666667%;
  }
  .container .col-sm-push-4 {
    left: 33.33333333%;
  }
  .container .col-sm-push-3 {
    left: 25%;
  }
  .container .col-sm-push-2 {
    left: 16.66666667%;
  }
  .container .col-sm-push-1 {
    left: 8.33333333%;
  }
  .container .col-sm-push-0 {
    left: auto;
  }
  .container .col-sm-pull-12 {
    right: 100%;
  }
  .container .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .container .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .container .col-sm-pull-9 {
    right: 75%;
  }
  .container .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .container .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .container .col-sm-pull-6 {
    right: 50%;
  }
  .container .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .container .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .container .col-sm-pull-3 {
    right: 25%;
  }
  .container .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .container .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .container .col-sm-offset-12 {
    margin-left: 100%;
  }
  .container .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .container .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .container .col-sm-offset-9 {
    margin-left: 75%;
  }
  .container .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .container .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .container .col-sm-offset-6 {
    margin-left: 50%;
  }
  .container .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .container .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .container .col-sm-offset-3 {
    margin-left: 25%;
  }
  .container .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .container .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .container .col-sm-offset-0 {
    margin-left: 0%;
  }
  .container10 .col-sm-10 {
    width: 100%;
  }
  .container10 .col-sm-9 {
    width: 90%;
  }
  .container10 .col-sm-8 {
    width: 80%;
  }
  .container10 .col-sm-7 {
    width: 70%;
  }
  .container10 .col-sm-6 {
    width: 60%;
  }
  .container10 .col-sm-5 {
    width: 50%;
  }
  .container10 .col-sm-4 {
    width: 40%;
  }
  .container10 .col-sm-3 {
    width: 30%;
  }
  .container10 .col-sm-2 {
    width: 20%;
  }
  .container10 .col-sm-1 {
    width: 10%;
  }
  .container10 .col-sm-push-10 {
    left: 100%;
  }
  .container10 .col-sm-push-9 {
    left: 90%;
  }
  .container10 .col-sm-push-8 {
    left: 80%;
  }
  .container10 .col-sm-push-7 {
    left: 70%;
  }
  .container10 .col-sm-push-6 {
    left: 60%;
  }
  .container10 .col-sm-push-5 {
    left: 50%;
  }
  .container10 .col-sm-push-4 {
    left: 40%;
  }
  .container10 .col-sm-push-3 {
    left: 30%;
  }
  .container10 .col-sm-push-2 {
    left: 20%;
  }
  .container10 .col-sm-push-1 {
    left: 10%;
  }
  .container10 .col-sm-push-0 {
    left: auto;
  }
  .container10 .col-sm-pull-10 {
    right: 100%;
  }
  .container10 .col-sm-pull-9 {
    right: 90%;
  }
  .container10 .col-sm-pull-8 {
    right: 80%;
  }
  .container10 .col-sm-pull-7 {
    right: 70%;
  }
  .container10 .col-sm-pull-6 {
    right: 60%;
  }
  .container10 .col-sm-pull-5 {
    right: 50%;
  }
  .container10 .col-sm-pull-4 {
    right: 40%;
  }
  .container10 .col-sm-pull-3 {
    right: 30%;
  }
  .container10 .col-sm-pull-2 {
    right: 20%;
  }
  .container10 .col-sm-pull-1 {
    right: 10%;
  }
  .container10 .col-sm-offset-10 {
    margin-left: 100%;
  }
  .container10 .col-sm-offset-9 {
    margin-left: 90%;
  }
  .container10 .col-sm-offset-8 {
    margin-left: 80%;
  }
  .container10 .col-sm-offset-7 {
    margin-left: 70%;
  }
  .container10 .col-sm-offset-6 {
    margin-left: 60%;
  }
  .container10 .col-sm-offset-5 {
    margin-left: 50%;
  }
  .container10 .col-sm-offset-4 {
    margin-left: 40%;
  }
  .container10 .col-sm-offset-3 {
    margin-left: 30%;
  }
  .container10 .col-sm-offset-2 {
    margin-left: 20%;
  }
  .container10 .col-sm-offset-1 {
    margin-left: 10%;
  }
  .container10 .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .container .col-md-12 {
    width: 100%;
  }
  .container .col-md-11 {
    width: 91.66666667%;
  }
  .container .col-md-10 {
    width: 83.33333333%;
  }
  .container .col-md-9 {
    width: 75%;
  }
  .container .col-md-8 {
    width: 66.66666667%;
  }
  .container .col-md-7 {
    width: 58.33333333%;
  }
  .container .col-md-6 {
    width: 50%;
  }
  .container .col-md-5 {
    width: 41.66666667%;
  }
  .container .col-md-4 {
    width: 33.33333333%;
  }
  .container .col-md-3 {
    width: 25%;
  }
  .container .col-md-2 {
    width: 16.66666667%;
  }
  .container .col-md-1 {
    width: 8.33333333%;
  }
  .container .col-md-push-12 {
    left: 100%;
  }
  .container .col-md-push-11 {
    left: 91.66666667%;
  }
  .container .col-md-push-10 {
    left: 83.33333333%;
  }
  .container .col-md-push-9 {
    left: 75%;
  }
  .container .col-md-push-8 {
    left: 66.66666667%;
  }
  .container .col-md-push-7 {
    left: 58.33333333%;
  }
  .container .col-md-push-6 {
    left: 50%;
  }
  .container .col-md-push-5 {
    left: 41.66666667%;
  }
  .container .col-md-push-4 {
    left: 33.33333333%;
  }
  .container .col-md-push-3 {
    left: 25%;
  }
  .container .col-md-push-2 {
    left: 16.66666667%;
  }
  .container .col-md-push-1 {
    left: 8.33333333%;
  }
  .container .col-md-push-0 {
    left: auto;
  }
  .container .col-md-pull-12 {
    right: 100%;
  }
  .container .col-md-pull-11 {
    right: 91.66666667%;
  }
  .container .col-md-pull-10 {
    right: 83.33333333%;
  }
  .container .col-md-pull-9 {
    right: 75%;
  }
  .container .col-md-pull-8 {
    right: 66.66666667%;
  }
  .container .col-md-pull-7 {
    right: 58.33333333%;
  }
  .container .col-md-pull-6 {
    right: 50%;
  }
  .container .col-md-pull-5 {
    right: 41.66666667%;
  }
  .container .col-md-pull-4 {
    right: 33.33333333%;
  }
  .container .col-md-pull-3 {
    right: 25%;
  }
  .container .col-md-pull-2 {
    right: 16.66666667%;
  }
  .container .col-md-pull-1 {
    right: 8.33333333%;
  }
  .container .col-md-offset-12 {
    margin-left: 100%;
  }
  .container .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .container .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .container .col-md-offset-9 {
    margin-left: 75%;
  }
  .container .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .container .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .container .col-md-offset-6 {
    margin-left: 50%;
  }
  .container .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .container .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .container .col-md-offset-3 {
    margin-left: 25%;
  }
  .container .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .container .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .container .col-md-offset-0 {
    margin-left: 0%;
  }
  .container10 .col-md-10 {
    width: 100%;
  }
  .container10 .col-md-9 {
    width: 90%;
  }
  .container10 .col-md-8 {
    width: 80%;
  }
  .container10 .col-md-7 {
    width: 70%;
  }
  .container10 .col-md-6 {
    width: 60%;
  }
  .container10 .col-md-5 {
    width: 50%;
  }
  .container10 .col-md-4 {
    width: 40%;
  }
  .container10 .col-md-3 {
    width: 30%;
  }
  .container10 .col-md-2 {
    width: 20%;
  }
  .container10 .col-md-1 {
    width: 10%;
  }
  .container10 .col-md-push-10 {
    left: 100%;
  }
  .container10 .col-md-push-9 {
    left: 90%;
  }
  .container10 .col-md-push-8 {
    left: 80%;
  }
  .container10 .col-md-push-7 {
    left: 70%;
  }
  .container10 .col-md-push-6 {
    left: 60%;
  }
  .container10 .col-md-push-5 {
    left: 50%;
  }
  .container10 .col-md-push-4 {
    left: 40%;
  }
  .container10 .col-md-push-3 {
    left: 30%;
  }
  .container10 .col-md-push-2 {
    left: 20%;
  }
  .container10 .col-md-push-1 {
    left: 10%;
  }
  .container10 .col-md-push-0 {
    left: auto;
  }
  .container10 .col-md-pull-10 {
    right: 100%;
  }
  .container10 .col-md-pull-9 {
    right: 90%;
  }
  .container10 .col-md-pull-8 {
    right: 80%;
  }
  .container10 .col-md-pull-7 {
    right: 70%;
  }
  .container10 .col-md-pull-6 {
    right: 60%;
  }
  .container10 .col-md-pull-5 {
    right: 50%;
  }
  .container10 .col-md-pull-4 {
    right: 40%;
  }
  .container10 .col-md-pull-3 {
    right: 30%;
  }
  .container10 .col-md-pull-2 {
    right: 20%;
  }
  .container10 .col-md-pull-1 {
    right: 10%;
  }
  .container10 .col-md-offset-10 {
    margin-left: 100%;
  }
  .container10 .col-md-offset-9 {
    margin-left: 90%;
  }
  .container10 .col-md-offset-8 {
    margin-left: 80%;
  }
  .container10 .col-md-offset-7 {
    margin-left: 70%;
  }
  .container10 .col-md-offset-6 {
    margin-left: 60%;
  }
  .container10 .col-md-offset-5 {
    margin-left: 50%;
  }
  .container10 .col-md-offset-4 {
    margin-left: 40%;
  }
  .container10 .col-md-offset-3 {
    margin-left: 30%;
  }
  .container10 .col-md-offset-2 {
    margin-left: 20%;
  }
  .container10 .col-md-offset-1 {
    margin-left: 10%;
  }
  .container10 .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .container .col-lg-12 {
    width: 100%;
  }
  .container .col-lg-11 {
    width: 91.66666667%;
  }
  .container .col-lg-10 {
    width: 83.33333333%;
  }
  .container .col-lg-9 {
    width: 75%;
  }
  .container .col-lg-8 {
    width: 66.66666667%;
  }
  .container .col-lg-7 {
    width: 58.33333333%;
  }
  .container .col-lg-6 {
    width: 50%;
  }
  .container .col-lg-5 {
    width: 41.66666667%;
  }
  .container .col-lg-4 {
    width: 33.33333333%;
  }
  .container .col-lg-3 {
    width: 25%;
  }
  .container .col-lg-2 {
    width: 16.66666667%;
  }
  .container .col-lg-1 {
    width: 8.33333333%;
  }
  .container .col-lg-push-12 {
    left: 100%;
  }
  .container .col-lg-push-11 {
    left: 91.66666667%;
  }
  .container .col-lg-push-10 {
    left: 83.33333333%;
  }
  .container .col-lg-push-9 {
    left: 75%;
  }
  .container .col-lg-push-8 {
    left: 66.66666667%;
  }
  .container .col-lg-push-7 {
    left: 58.33333333%;
  }
  .container .col-lg-push-6 {
    left: 50%;
  }
  .container .col-lg-push-5 {
    left: 41.66666667%;
  }
  .container .col-lg-push-4 {
    left: 33.33333333%;
  }
  .container .col-lg-push-3 {
    left: 25%;
  }
  .container .col-lg-push-2 {
    left: 16.66666667%;
  }
  .container .col-lg-push-1 {
    left: 8.33333333%;
  }
  .container .col-lg-push-0 {
    left: auto;
  }
  .container .col-lg-pull-12 {
    right: 100%;
  }
  .container .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .container .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .container .col-lg-pull-9 {
    right: 75%;
  }
  .container .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .container .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .container .col-lg-pull-6 {
    right: 50%;
  }
  .container .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .container .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .container .col-lg-pull-3 {
    right: 25%;
  }
  .container .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .container .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .container .col-lg-offset-12 {
    margin-left: 100%;
  }
  .container .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .container .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .container .col-lg-offset-9 {
    margin-left: 75%;
  }
  .container .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .container .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .container .col-lg-offset-6 {
    margin-left: 50%;
  }
  .container .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .container .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .container .col-lg-offset-3 {
    margin-left: 25%;
  }
  .container .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .container .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .container .col-lg-offset-0 {
    margin-left: 0%;
  }
  .container10 .col-lg-10 {
    width: 100%;
  }
  .container10 .col-lg-9 {
    width: 90%;
  }
  .container10 .col-lg-8 {
    width: 80%;
  }
  .container10 .col-lg-7 {
    width: 70%;
  }
  .container10 .col-lg-6 {
    width: 60%;
  }
  .container10 .col-lg-5 {
    width: 50%;
  }
  .container10 .col-lg-4 {
    width: 40%;
  }
  .container10 .col-lg-3 {
    width: 30%;
  }
  .container10 .col-lg-2 {
    width: 20%;
  }
  .container10 .col-lg-1 {
    width: 10%;
  }
  .container10 .col-lg-push-10 {
    left: 100%;
  }
  .container10 .col-lg-push-9 {
    left: 90%;
  }
  .container10 .col-lg-push-8 {
    left: 80%;
  }
  .container10 .col-lg-push-7 {
    left: 70%;
  }
  .container10 .col-lg-push-6 {
    left: 60%;
  }
  .container10 .col-lg-push-5 {
    left: 50%;
  }
  .container10 .col-lg-push-4 {
    left: 40%;
  }
  .container10 .col-lg-push-3 {
    left: 30%;
  }
  .container10 .col-lg-push-2 {
    left: 20%;
  }
  .container10 .col-lg-push-1 {
    left: 10%;
  }
  .container10 .col-lg-push-0 {
    left: auto;
  }
  .container10 .col-lg-pull-10 {
    right: 100%;
  }
  .container10 .col-lg-pull-9 {
    right: 90%;
  }
  .container10 .col-lg-pull-8 {
    right: 80%;
  }
  .container10 .col-lg-pull-7 {
    right: 70%;
  }
  .container10 .col-lg-pull-6 {
    right: 60%;
  }
  .container10 .col-lg-pull-5 {
    right: 50%;
  }
  .container10 .col-lg-pull-4 {
    right: 40%;
  }
  .container10 .col-lg-pull-3 {
    right: 30%;
  }
  .container10 .col-lg-pull-2 {
    right: 20%;
  }
  .container10 .col-lg-pull-1 {
    right: 10%;
  }
  .container10 .col-lg-offset-10 {
    margin-left: 100%;
  }
  .container10 .col-lg-offset-9 {
    margin-left: 90%;
  }
  .container10 .col-lg-offset-8 {
    margin-left: 80%;
  }
  .container10 .col-lg-offset-7 {
    margin-left: 70%;
  }
  .container10 .col-lg-offset-6 {
    margin-left: 60%;
  }
  .container10 .col-lg-offset-5 {
    margin-left: 50%;
  }
  .container10 .col-lg-offset-4 {
    margin-left: 40%;
  }
  .container10 .col-lg-offset-3 {
    margin-left: 30%;
  }
  .container10 .col-lg-offset-2 {
    margin-left: 20%;
  }
  .container10 .col-lg-offset-1 {
    margin-left: 10%;
  }
  .container10 .col-lg-offset-0 {
    margin-left: 0%;
  }
}
/*===============================================
 * Color Tools class
 *===============================================*/
.color-primary {
  color: #0074a3;
}
.color-clean {
  color: #f9f9f9;
}
.color-grey {
  color: #a8a8a8;
}
.color-grey-light {
  color: #eeeeee;
}
.color-grey-dark {
  color: #888888;
}
.color-dark {
  color: #333333;
}
.color-red {
  color: #cd4341;
}
.color-blue {
  color: #5ea2d3;
}
.color-green {
  color: #5ca25a;
}
.color-orange {
  color: #d07e35;
}
.bg-primary {
  background-color: #0074a3;
}
.bg-clean {
  background-color: #f9f9f9;
}
.bg-grey {
  background-color: #a8a8a8;
}
.bg-grey-light {
  background-color: #eeeeee;
}
.bg-grey-dark {
  background-color: #888888;
}
.bg-dark {
  background-color: #333333;
}
.bg-red {
  background-color: #cd4341;
}
.bg-blue {
  background-color: #5ea2d3;
}
.bg-green {
  background-color: #5ca25a;
}
.bg-orange {
  background-color: #d07e35;
}
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'FontAwesome';
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?v=4.2.0');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.eot?#iefix&v=4.2.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.woff?v=4.2.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.ttf?v=4.2.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.2.0/fonts/fontawesome-webfont.svg?v=4.2.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Base Class Definition
 * -------------------------- */
.fa {
  display: inline-block;
  vertical-align: middle;
  margin-top: -1px;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-glass:before {
  content: "\f000";
}
.fa-music:before {
  content: "\f001";
}
.fa-search:before {
  content: "\f002";
}
.fa-envelope-o:before {
  content: "\f003";
}
.fa-heart:before {
  content: "\f004";
}
.fa-star:before {
  content: "\f005";
}
.fa-star-o:before {
  content: "\f006";
}
.fa-user:before {
  content: "\f007";
}
.fa-film:before {
  content: "\f008";
}
.fa-th-large:before {
  content: "\f009";
}
.fa-th:before {
  content: "\f00a";
}
.fa-th-list:before {
  content: "\f00b";
}
.fa-check:before {
  content: "\f00c";
}
.fa-remove:before,
.fa-close:before,
.fa-times:before {
  content: "\f00d";
}
.fa-search-plus:before {
  content: "\f00e";
}
.fa-search-minus:before {
  content: "\f010";
}
.fa-power-off:before {
  content: "\f011";
}
.fa-signal:before {
  content: "\f012";
}
.fa-gear:before,
.fa-cog:before {
  content: "\f013";
}
.fa-trash-o:before {
  content: "\f014";
}
.fa-home:before {
  content: "\f015";
}
.fa-file-o:before {
  content: "\f016";
}
.fa-clock-o:before {
  content: "\f017";
}
.fa-road:before {
  content: "\f018";
}
.fa-download:before {
  content: "\f019";
}
.fa-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-inbox:before {
  content: "\f01c";
}
.fa-play-circle-o:before {
  content: "\f01d";
}
.fa-rotate-right:before,
.fa-repeat:before {
  content: "\f01e";
}
.fa-refresh:before {
  content: "\f021";
}
.fa-list-alt:before {
  content: "\f022";
}
.fa-lock:before {
  content: "\f023";
}
.fa-flag:before {
  content: "\f024";
}
.fa-headphones:before {
  content: "\f025";
}
.fa-volume-off:before {
  content: "\f026";
}
.fa-volume-down:before {
  content: "\f027";
}
.fa-volume-up:before {
  content: "\f028";
}
.fa-qrcode:before {
  content: "\f029";
}
.fa-barcode:before {
  content: "\f02a";
}
.fa-tag:before {
  content: "\f02b";
}
.fa-tags:before {
  content: "\f02c";
}
.fa-book:before {
  content: "\f02d";
}
.fa-bookmark:before {
  content: "\f02e";
}
.fa-print:before {
  content: "\f02f";
}
.fa-camera:before {
  content: "\f030";
}
.fa-font:before {
  content: "\f031";
}
.fa-bold:before {
  content: "\f032";
}
.fa-italic:before {
  content: "\f033";
}
.fa-text-height:before {
  content: "\f034";
}
.fa-text-width:before {
  content: "\f035";
}
.fa-align-left:before {
  content: "\f036";
}
.fa-align-center:before {
  content: "\f037";
}
.fa-align-right:before {
  content: "\f038";
}
.fa-align-justify:before {
  content: "\f039";
}
.fa-list:before {
  content: "\f03a";
}
.fa-dedent:before,
.fa-outdent:before {
  content: "\f03b";
}
.fa-indent:before {
  content: "\f03c";
}
.fa-video-camera:before {
  content: "\f03d";
}
.fa-photo:before,
.fa-image:before,
.fa-picture-o:before {
  content: "\f03e";
}
.fa-pencil:before {
  content: "\f040";
}
.fa-map-marker:before {
  content: "\f041";
}
.fa-adjust:before {
  content: "\f042";
}
.fa-tint:before {
  content: "\f043";
}
.fa-edit:before,
.fa-pencil-square-o:before {
  content: "\f044";
}
.fa-share-square-o:before {
  content: "\f045";
}
.fa-check-square-o:before {
  content: "\f046";
}
.fa-arrows:before {
  content: "\f047";
}
.fa-step-backward:before {
  content: "\f048";
}
.fa-fast-backward:before {
  content: "\f049";
}
.fa-backward:before {
  content: "\f04a";
}
.fa-play:before {
  content: "\f04b";
}
.fa-pause:before {
  content: "\f04c";
}
.fa-stop:before {
  content: "\f04d";
}
.fa-forward:before {
  content: "\f04e";
}
.fa-fast-forward:before {
  content: "\f050";
}
.fa-step-forward:before {
  content: "\f051";
}
.fa-eject:before {
  content: "\f052";
}
.fa-chevron-left:before {
  content: "\f053";
}
.fa-chevron-right:before {
  content: "\f054";
}
.fa-plus-circle:before {
  content: "\f055";
}
.fa-minus-circle:before {
  content: "\f056";
}
.fa-times-circle:before {
  content: "\f057";
}
.fa-check-circle:before {
  content: "\f058";
}
.fa-question-circle:before {
  content: "\f059";
}
.fa-info-circle:before {
  content: "\f05a";
}
.fa-crosshairs:before {
  content: "\f05b";
}
.fa-times-circle-o:before {
  content: "\f05c";
}
.fa-check-circle-o:before {
  content: "\f05d";
}
.fa-ban:before {
  content: "\f05e";
}
.fa-arrow-left:before {
  content: "\f060";
}
.fa-arrow-right:before {
  content: "\f061";
}
.fa-arrow-up:before {
  content: "\f062";
}
.fa-arrow-down:before {
  content: "\f063";
}
.fa-mail-forward:before,
.fa-share:before {
  content: "\f064";
}
.fa-expand:before {
  content: "\f065";
}
.fa-compress:before {
  content: "\f066";
}
.fa-plus:before {
  content: "\f067";
}
.fa-minus:before {
  content: "\f068";
}
.fa-asterisk:before {
  content: "\f069";
}
.fa-exclamation-circle:before {
  content: "\f06a";
}
.fa-gift:before {
  content: "\f06b";
}
.fa-leaf:before {
  content: "\f06c";
}
.fa-fire:before {
  content: "\f06d";
}
.fa-eye:before {
  content: "\f06e";
}
.fa-eye-slash:before {
  content: "\f070";
}
.fa-warning:before,
.fa-exclamation-triangle:before {
  content: "\f071";
}
.fa-plane:before {
  content: "\f072";
}
.fa-calendar:before {
  content: "\f073";
}
.fa-random:before {
  content: "\f074";
}
.fa-comment:before {
  content: "\f075";
}
.fa-magnet:before {
  content: "\f076";
}
.fa-chevron-up:before {
  content: "\f077";
}
.fa-chevron-down:before {
  content: "\f078";
}
.fa-retweet:before {
  content: "\f079";
}
.fa-shopping-cart:before {
  content: "\f07a";
}
.fa-folder:before {
  content: "\f07b";
}
.fa-folder-open:before {
  content: "\f07c";
}
.fa-arrows-v:before {
  content: "\f07d";
}
.fa-arrows-h:before {
  content: "\f07e";
}
.fa-bar-chart-o:before,
.fa-bar-chart:before {
  content: "\f080";
}
.fa-twitter-square:before {
  content: "\f081";
}
.fa-facebook-square:before {
  content: "\f082";
}
.fa-camera-retro:before {
  content: "\f083";
}
.fa-key:before {
  content: "\f084";
}
.fa-gears:before,
.fa-cogs:before {
  content: "\f085";
}
.fa-comments:before {
  content: "\f086";
}
.fa-thumbs-o-up:before {
  content: "\f087";
}
.fa-thumbs-o-down:before {
  content: "\f088";
}
.fa-star-half:before {
  content: "\f089";
}
.fa-heart-o:before {
  content: "\f08a";
}
.fa-sign-out:before {
  content: "\f08b";
}
.fa-linkedin-square:before {
  content: "\f08c";
}
.fa-thumb-tack:before {
  content: "\f08d";
}
.fa-external-link:before {
  content: "\f08e";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-trophy:before {
  content: "\f091";
}
.fa-github-square:before {
  content: "\f092";
}
.fa-upload:before {
  content: "\f093";
}
.fa-lemon-o:before {
  content: "\f094";
}
.fa-phone:before {
  content: "\f095";
}
.fa-square-o:before {
  content: "\f096";
}
.fa-bookmark-o:before {
  content: "\f097";
}
.fa-phone-square:before {
  content: "\f098";
}
.fa-twitter:before {
  content: "\f099";
}
.fa-facebook:before {
  content: "\f09a";
}
.fa-github:before {
  content: "\f09b";
}
.fa-unlock:before {
  content: "\f09c";
}
.fa-credit-card:before {
  content: "\f09d";
}
.fa-rss:before {
  content: "\f09e";
}
.fa-hdd-o:before {
  content: "\f0a0";
}
.fa-bullhorn:before {
  content: "\f0a1";
}
.fa-bell:before {
  content: "\f0f3";
}
.fa-certificate:before {
  content: "\f0a3";
}
.fa-hand-o-right:before {
  content: "\f0a4";
}
.fa-hand-o-left:before {
  content: "\f0a5";
}
.fa-hand-o-up:before {
  content: "\f0a6";
}
.fa-hand-o-down:before {
  content: "\f0a7";
}
.fa-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-globe:before {
  content: "\f0ac";
}
.fa-wrench:before {
  content: "\f0ad";
}
.fa-tasks:before {
  content: "\f0ae";
}
.fa-filter:before {
  content: "\f0b0";
}
.fa-briefcase:before {
  content: "\f0b1";
}
.fa-arrows-alt:before {
  content: "\f0b2";
}
.fa-group:before,
.fa-users:before {
  content: "\f0c0";
}
.fa-chain:before,
.fa-link:before {
  content: "\f0c1";
}
.fa-cloud:before {
  content: "\f0c2";
}
.fa-flask:before {
  content: "\f0c3";
}
.fa-cut:before,
.fa-scissors:before {
  content: "\f0c4";
}
.fa-copy:before,
.fa-files-o:before {
  content: "\f0c5";
}
.fa-paperclip:before {
  content: "\f0c6";
}
.fa-save:before,
.fa-floppy-o:before {
  content: "\f0c7";
}
.fa-square:before {
  content: "\f0c8";
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
  content: "\f0c9";
}
.fa-list-ul:before {
  content: "\f0ca";
}
.fa-list-ol:before {
  content: "\f0cb";
}
.fa-strikethrough:before {
  content: "\f0cc";
}
.fa-underline:before {
  content: "\f0cd";
}
.fa-table:before {
  content: "\f0ce";
}
.fa-magic:before {
  content: "\f0d0";
}
.fa-truck:before {
  content: "\f0d1";
}
.fa-pinterest:before {
  content: "\f0d2";
}
.fa-pinterest-square:before {
  content: "\f0d3";
}
.fa-google-plus-square:before {
  content: "\f0d4";
}
.fa-google-plus:before {
  content: "\f0d5";
}
.fa-money:before {
  content: "\f0d6";
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-up:before {
  content: "\f0d8";
}
.fa-caret-left:before {
  content: "\f0d9";
}
.fa-caret-right:before {
  content: "\f0da";
}
.fa-columns:before {
  content: "\f0db";
}
.fa-unsorted:before,
.fa-sort:before {
  content: "\f0dc";
}
.fa-sort-down:before,
.fa-sort-desc:before {
  content: "\f0dd";
}
.fa-sort-up:before,
.fa-sort-asc:before {
  content: "\f0de";
}
.fa-envelope:before {
  content: "\f0e0";
}
.fa-linkedin:before {
  content: "\f0e1";
}
.fa-rotate-left:before,
.fa-undo:before {
  content: "\f0e2";
}
.fa-legal:before,
.fa-gavel:before {
  content: "\f0e3";
}
.fa-dashboard:before,
.fa-tachometer:before {
  content: "\f0e4";
}
.fa-comment-o:before {
  content: "\f0e5";
}
.fa-comments-o:before {
  content: "\f0e6";
}
.fa-flash:before,
.fa-bolt:before {
  content: "\f0e7";
}
.fa-sitemap:before {
  content: "\f0e8";
}
.fa-umbrella:before {
  content: "\f0e9";
}
.fa-paste:before,
.fa-clipboard:before {
  content: "\f0ea";
}
.fa-lightbulb-o:before {
  content: "\f0eb";
}
.fa-exchange:before {
  content: "\f0ec";
}
.fa-cloud-download:before {
  content: "\f0ed";
}
.fa-cloud-upload:before {
  content: "\f0ee";
}
.fa-user-md:before {
  content: "\f0f0";
}
.fa-stethoscope:before {
  content: "\f0f1";
}
.fa-suitcase:before {
  content: "\f0f2";
}
.fa-bell-o:before {
  content: "\f0a2";
}
.fa-coffee:before {
  content: "\f0f4";
}
.fa-cutlery:before {
  content: "\f0f5";
}
.fa-file-text-o:before {
  content: "\f0f6";
}
.fa-building-o:before {
  content: "\f0f7";
}
.fa-hospital-o:before {
  content: "\f0f8";
}
.fa-ambulance:before {
  content: "\f0f9";
}
.fa-medkit:before {
  content: "\f0fa";
}
.fa-fighter-jet:before {
  content: "\f0fb";
}
.fa-beer:before {
  content: "\f0fc";
}
.fa-h-square:before {
  content: "\f0fd";
}
.fa-plus-square:before {
  content: "\f0fe";
}
.fa-angle-double-left:before {
  content: "\f100";
}
.fa-angle-double-right:before {
  content: "\f101";
}
.fa-angle-double-up:before {
  content: "\f102";
}
.fa-angle-double-down:before {
  content: "\f103";
}
.fa-angle-left:before {
  content: "\f104";
}
.fa-angle-right:before {
  content: "\f105";
}
.fa-angle-up:before {
  content: "\f106";
}
.fa-angle-down:before {
  content: "\f107";
}
.fa-desktop:before {
  content: "\f108";
}
.fa-laptop:before {
  content: "\f109";
}
.fa-tablet:before {
  content: "\f10a";
}
.fa-mobile-phone:before,
.fa-mobile:before {
  content: "\f10b";
}
.fa-circle-o:before {
  content: "\f10c";
}
.fa-quote-left:before {
  content: "\f10d";
}
.fa-quote-right:before {
  content: "\f10e";
}
.fa-spinner:before {
  content: "\f110";
}
.fa-circle:before {
  content: "\f111";
}
.fa-mail-reply:before,
.fa-reply:before {
  content: "\f112";
}
.fa-github-alt:before {
  content: "\f113";
}
.fa-folder-o:before {
  content: "\f114";
}
.fa-folder-open-o:before {
  content: "\f115";
}
.fa-smile-o:before {
  content: "\f118";
}
.fa-frown-o:before {
  content: "\f119";
}
.fa-meh-o:before {
  content: "\f11a";
}
.fa-gamepad:before {
  content: "\f11b";
}
.fa-keyboard-o:before {
  content: "\f11c";
}
.fa-flag-o:before {
  content: "\f11d";
}
.fa-flag-checkered:before {
  content: "\f11e";
}
.fa-terminal:before {
  content: "\f120";
}
.fa-code:before {
  content: "\f121";
}
.fa-mail-reply-all:before,
.fa-reply-all:before {
  content: "\f122";
}
.fa-star-half-empty:before,
.fa-star-half-full:before,
.fa-star-half-o:before {
  content: "\f123";
}
.fa-location-arrow:before {
  content: "\f124";
}
.fa-crop:before {
  content: "\f125";
}
.fa-code-fork:before {
  content: "\f126";
}
.fa-unlink:before,
.fa-chain-broken:before {
  content: "\f127";
}
.fa-question:before {
  content: "\f128";
}
.fa-info:before {
  content: "\f129";
}
.fa-exclamation:before {
  content: "\f12a";
}
.fa-superscript:before {
  content: "\f12b";
}
.fa-subscript:before {
  content: "\f12c";
}
.fa-eraser:before {
  content: "\f12d";
}
.fa-puzzle-piece:before {
  content: "\f12e";
}
.fa-microphone:before {
  content: "\f130";
}
.fa-microphone-slash:before {
  content: "\f131";
}
.fa-shield:before {
  content: "\f132";
}
.fa-calendar-o:before {
  content: "\f133";
}
.fa-fire-extinguisher:before {
  content: "\f134";
}
.fa-rocket:before {
  content: "\f135";
}
.fa-maxcdn:before {
  content: "\f136";
}
.fa-chevron-circle-left:before {
  content: "\f137";
}
.fa-chevron-circle-right:before {
  content: "\f138";
}
.fa-chevron-circle-up:before {
  content: "\f139";
}
.fa-chevron-circle-down:before {
  content: "\f13a";
}
.fa-html5:before {
  content: "\f13b";
}
.fa-css3:before {
  content: "\f13c";
}
.fa-anchor:before {
  content: "\f13d";
}
.fa-unlock-alt:before {
  content: "\f13e";
}
.fa-bullseye:before {
  content: "\f140";
}
.fa-ellipsis-h:before {
  content: "\f141";
}
.fa-ellipsis-v:before {
  content: "\f142";
}
.fa-rss-square:before {
  content: "\f143";
}
.fa-play-circle:before {
  content: "\f144";
}
.fa-ticket:before {
  content: "\f145";
}
.fa-minus-square:before {
  content: "\f146";
}
.fa-minus-square-o:before {
  content: "\f147";
}
.fa-level-up:before {
  content: "\f148";
}
.fa-level-down:before {
  content: "\f149";
}
.fa-check-square:before {
  content: "\f14a";
}
.fa-pencil-square:before {
  content: "\f14b";
}
.fa-external-link-square:before {
  content: "\f14c";
}
.fa-share-square:before {
  content: "\f14d";
}
.fa-compass:before {
  content: "\f14e";
}
.fa-toggle-down:before,
.fa-caret-square-o-down:before {
  content: "\f150";
}
.fa-toggle-up:before,
.fa-caret-square-o-up:before {
  content: "\f151";
}
.fa-toggle-right:before,
.fa-caret-square-o-right:before {
  content: "\f152";
}
.fa-euro:before,
.fa-eur:before {
  content: "\f153";
}
.fa-gbp:before {
  content: "\f154";
}
.fa-dollar:before,
.fa-usd:before {
  content: "\f155";
}
.fa-rupee:before,
.fa-inr:before {
  content: "\f156";
}
.fa-cny:before,
.fa-rmb:before,
.fa-yen:before,
.fa-jpy:before {
  content: "\f157";
}
.fa-ruble:before,
.fa-rouble:before,
.fa-rub:before {
  content: "\f158";
}
.fa-won:before,
.fa-krw:before {
  content: "\f159";
}
.fa-bitcoin:before,
.fa-btc:before {
  content: "\f15a";
}
.fa-file:before {
  content: "\f15b";
}
.fa-file-text:before {
  content: "\f15c";
}
.fa-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-sort-amount-asc:before {
  content: "\f160";
}
.fa-sort-amount-desc:before {
  content: "\f161";
}
.fa-sort-numeric-asc:before {
  content: "\f162";
}
.fa-sort-numeric-desc:before {
  content: "\f163";
}
.fa-thumbs-up:before {
  content: "\f164";
}
.fa-thumbs-down:before {
  content: "\f165";
}
.fa-youtube-square:before {
  content: "\f166";
}
.fa-youtube:before {
  content: "\f167";
}
.fa-xing:before {
  content: "\f168";
}
.fa-xing-square:before {
  content: "\f169";
}
.fa-youtube-play:before {
  content: "\f16a";
}
.fa-dropbox:before {
  content: "\f16b";
}
.fa-stack-overflow:before {
  content: "\f16c";
}
.fa-instagram:before {
  content: "\f16d";
}
.fa-flickr:before {
  content: "\f16e";
}
.fa-adn:before {
  content: "\f170";
}
.fa-bitbucket:before {
  content: "\f171";
}
.fa-bitbucket-square:before {
  content: "\f172";
}
.fa-tumblr:before {
  content: "\f173";
}
.fa-tumblr-square:before {
  content: "\f174";
}
.fa-long-arrow-down:before {
  content: "\f175";
}
.fa-long-arrow-up:before {
  content: "\f176";
}
.fa-long-arrow-left:before {
  content: "\f177";
}
.fa-long-arrow-right:before {
  content: "\f178";
}
.fa-apple:before {
  content: "\f179";
}
.fa-windows:before {
  content: "\f17a";
}
.fa-android:before {
  content: "\f17b";
}
.fa-linux:before {
  content: "\f17c";
}
.fa-dribbble:before {
  content: "\f17d";
}
.fa-skype:before {
  content: "\f17e";
}
.fa-foursquare:before {
  content: "\f180";
}
.fa-trello:before {
  content: "\f181";
}
.fa-female:before {
  content: "\f182";
}
.fa-male:before {
  content: "\f183";
}
.fa-gittip:before {
  content: "\f184";
}
.fa-sun-o:before {
  content: "\f185";
}
.fa-moon-o:before {
  content: "\f186";
}
.fa-archive:before {
  content: "\f187";
}
.fa-bug:before {
  content: "\f188";
}
.fa-vk:before {
  content: "\f189";
}
.fa-weibo:before {
  content: "\f18a";
}
.fa-renren:before {
  content: "\f18b";
}
.fa-pagelines:before {
  content: "\f18c";
}
.fa-stack-exchange:before {
  content: "\f18d";
}
.fa-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-toggle-left:before,
.fa-caret-square-o-left:before {
  content: "\f191";
}
.fa-dot-circle-o:before {
  content: "\f192";
}
.fa-wheelchair:before {
  content: "\f193";
}
.fa-vimeo-square:before {
  content: "\f194";
}
.fa-turkish-lira:before,
.fa-try:before {
  content: "\f195";
}
.fa-plus-square-o:before {
  content: "\f196";
}
.fa-space-shuttle:before {
  content: "\f197";
}
.fa-slack:before {
  content: "\f198";
}
.fa-envelope-square:before {
  content: "\f199";
}
.fa-wordpress:before {
  content: "\f19a";
}
.fa-openid:before {
  content: "\f19b";
}
.fa-institution:before,
.fa-bank:before,
.fa-university:before {
  content: "\f19c";
}
.fa-mortar-board:before,
.fa-graduation-cap:before {
  content: "\f19d";
}
.fa-yahoo:before {
  content: "\f19e";
}
.fa-google:before {
  content: "\f1a0";
}
.fa-reddit:before {
  content: "\f1a1";
}
.fa-reddit-square:before {
  content: "\f1a2";
}
.fa-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-stumbleupon:before {
  content: "\f1a4";
}
.fa-delicious:before {
  content: "\f1a5";
}
.fa-digg:before {
  content: "\f1a6";
}
.fa-pied-piper:before {
  content: "\f1a7";
}
.fa-pied-piper-alt:before {
  content: "\f1a8";
}
.fa-drupal:before {
  content: "\f1a9";
}
.fa-joomla:before {
  content: "\f1aa";
}
.fa-language:before {
  content: "\f1ab";
}
.fa-fax:before {
  content: "\f1ac";
}
.fa-building:before {
  content: "\f1ad";
}
.fa-child:before {
  content: "\f1ae";
}
.fa-paw:before {
  content: "\f1b0";
}
.fa-spoon:before {
  content: "\f1b1";
}
.fa-cube:before {
  content: "\f1b2";
}
.fa-cubes:before {
  content: "\f1b3";
}
.fa-behance:before {
  content: "\f1b4";
}
.fa-behance-square:before {
  content: "\f1b5";
}
.fa-steam:before {
  content: "\f1b6";
}
.fa-steam-square:before {
  content: "\f1b7";
}
.fa-recycle:before {
  content: "\f1b8";
}
.fa-automobile:before,
.fa-car:before {
  content: "\f1b9";
}
.fa-cab:before,
.fa-taxi:before {
  content: "\f1ba";
}
.fa-tree:before {
  content: "\f1bb";
}
.fa-spotify:before {
  content: "\f1bc";
}
.fa-deviantart:before {
  content: "\f1bd";
}
.fa-soundcloud:before {
  content: "\f1be";
}
.fa-database:before {
  content: "\f1c0";
}
.fa-file-pdf-o:before {
  content: "\f1c1";
}
.fa-file-word-o:before {
  content: "\f1c2";
}
.fa-file-excel-o:before {
  content: "\f1c3";
}
.fa-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-file-photo-o:before,
.fa-file-picture-o:before,
.fa-file-image-o:before {
  content: "\f1c5";
}
.fa-file-zip-o:before,
.fa-file-archive-o:before {
  content: "\f1c6";
}
.fa-file-sound-o:before,
.fa-file-audio-o:before {
  content: "\f1c7";
}
.fa-file-movie-o:before,
.fa-file-video-o:before {
  content: "\f1c8";
}
.fa-file-code-o:before {
  content: "\f1c9";
}
.fa-vine:before {
  content: "\f1ca";
}
.fa-codepen:before {
  content: "\f1cb";
}
.fa-jsfiddle:before {
  content: "\f1cc";
}
.fa-life-bouy:before,
.fa-life-buoy:before,
.fa-life-saver:before,
.fa-support:before,
.fa-life-ring:before {
  content: "\f1cd";
}
.fa-circle-o-notch:before {
  content: "\f1ce";
}
.fa-ra:before,
.fa-rebel:before {
  content: "\f1d0";
}
.fa-ge:before,
.fa-empire:before {
  content: "\f1d1";
}
.fa-git-square:before {
  content: "\f1d2";
}
.fa-git:before {
  content: "\f1d3";
}
.fa-hacker-news:before {
  content: "\f1d4";
}
.fa-tencent-weibo:before {
  content: "\f1d5";
}
.fa-qq:before {
  content: "\f1d6";
}
.fa-wechat:before,
.fa-weixin:before {
  content: "\f1d7";
}
.fa-send:before,
.fa-paper-plane:before {
  content: "\f1d8";
}
.fa-send-o:before,
.fa-paper-plane-o:before {
  content: "\f1d9";
}
.fa-history:before {
  content: "\f1da";
}
.fa-circle-thin:before {
  content: "\f1db";
}
.fa-header:before {
  content: "\f1dc";
}
.fa-paragraph:before {
  content: "\f1dd";
}
.fa-sliders:before {
  content: "\f1de";
}
.fa-share-alt:before {
  content: "\f1e0";
}
.fa-share-alt-square:before {
  content: "\f1e1";
}
.fa-bomb:before {
  content: "\f1e2";
}
.fa-soccer-ball-o:before,
.fa-futbol-o:before {
  content: "\f1e3";
}
.fa-tty:before {
  content: "\f1e4";
}
.fa-binoculars:before {
  content: "\f1e5";
}
.fa-plug:before {
  content: "\f1e6";
}
.fa-slideshare:before {
  content: "\f1e7";
}
.fa-twitch:before {
  content: "\f1e8";
}
.fa-yelp:before {
  content: "\f1e9";
}
.fa-newspaper-o:before {
  content: "\f1ea";
}
.fa-wifi:before {
  content: "\f1eb";
}
.fa-calculator:before {
  content: "\f1ec";
}
.fa-paypal:before {
  content: "\f1ed";
}
.fa-google-wallet:before {
  content: "\f1ee";
}
.fa-cc-visa:before {
  content: "\f1f0";
}
.fa-cc-mastercard:before {
  content: "\f1f1";
}
.fa-cc-discover:before {
  content: "\f1f2";
}
.fa-cc-amex:before {
  content: "\f1f3";
}
.fa-cc-paypal:before {
  content: "\f1f4";
}
.fa-cc-stripe:before {
  content: "\f1f5";
}
.fa-bell-slash:before {
  content: "\f1f6";
}
.fa-bell-slash-o:before {
  content: "\f1f7";
}
.fa-trash:before {
  content: "\f1f8";
}
.fa-copyright:before {
  content: "\f1f9";
}
.fa-at:before {
  content: "\f1fa";
}
.fa-eyedropper:before {
  content: "\f1fb";
}
.fa-paint-brush:before {
  content: "\f1fc";
}
.fa-birthday-cake:before {
  content: "\f1fd";
}
.fa-area-chart:before {
  content: "\f1fe";
}
.fa-pie-chart:before {
  content: "\f200";
}
.fa-line-chart:before {
  content: "\f201";
}
.fa-lastfm:before {
  content: "\f202";
}
.fa-lastfm-square:before {
  content: "\f203";
}
.fa-toggle-off:before {
  content: "\f204";
}
.fa-toggle-on:before {
  content: "\f205";
}
.fa-bicycle:before {
  content: "\f206";
}
.fa-bus:before {
  content: "\f207";
}
.fa-ioxhost:before {
  content: "\f208";
}
.fa-angellist:before {
  content: "\f209";
}
.fa-cc:before {
  content: "\f20a";
}
.fa-shekel:before,
.fa-sheqel:before,
.fa-ils:before {
  content: "\f20b";
}
.fa-meanpath:before {
  content: "\f20c";
}
/**
 * General
 */
.root {
  background: url('../img/bg-police.png') no-repeat center top;
  background-size: cover;
}
.root .wrapper {
  background: url('../img/bg-gedung.png') no-repeat center top;
}
/**
 * Header
 */
/**
 * Site logo
 */
.top_site-logo {
  position: relative;
  bottom: -25px;
  z-index: 100;
  max-width: 300px;
  text-align: center;
  margin: 0 auto;
}
.top_site-logo img {
  width: 100%;
}
.top_site-title {
  text-align: center;
  text-transform: uppercase;
  margin-top: 40px;
  font-family: Gotham, sans-serif;
}
.top_site-title h1 {
  margin: 0 0 15px;
  font-size: 72px;
  line-height: 68px;
  color: #0d1e51;
}
.top_site-title h2 {
  margin: 0;
  font-size: 38px;
  line-height: 30px;
  font-weight: 300;
  color: #2042a2;
}
.top_site-menu {
  background-image: -webkit-linear-gradient(top, #0000df 0%, #0000b5 100%);
  background-image: -o-linear-gradient(top, #0000df 0%, #0000b5 100%);
  background-image: linear-gradient(to bottom, #0000df 0%, #0000b5 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0000df', endColorstr='#ff0000b5', GradientType=0);
  border-bottom: 8px solid #e01f1f;
  position: relative;
  top: -60px;
}
.top_site-menu ul {
  margin: 0;
  padding: 0;
}
.top_site-menu li {
  float: left;
  position: relative;
}
.top_site-menu li:first-child {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.top_site-menu li:last-child {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.top_site-menu li > a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 14px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 1px solid rgba(255, 255, 255, 0.2);
}
.top_site-menu li > a:hover {
  background-image: none;
  background-color: #0a2558;
}
.top_site-menu li > a.active {
  background-color: #ffffff;
  color: #a72523;
  position: relative;
  z-index: 99999;
}
.top .b_fade-menu_content {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: #f0f0f0;
  color: #3f3f3f;
  z-index: 99999;
  width: 285px;
}
.top .b_login .b_login_form {
  padding: 20px 15px;
}
.top .b_login .b_login_form .b_form_field {
  margin-bottom: 15px;
}
.top .b_login .b_login_form .b_form_label {
  margin-bottom: 4px;
  font-size: 14px;
}
.top .b_login .b_login_form .b_form_control {
  padding: 8px 6px;
  font-size: 14px;
  font-family: 'PT Sans', sans-serif;
  width: 100%;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -ms-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -o-box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.top .b_login .b_login_form .btn {
  display: inline-block;
  border: 0 none;
  float: right;
  padding: 8px 15px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: #232323;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.top .b_login .b_login_form .btn:hover {
  background-color: #111111;
}
.top .b_login .b_login_form_remember {
  font-size: 13px;
}
.top .b_login .b_login_form_remember input {
  margin-right: 4px;
}
.top .b_login .b_login_links {
  padding: 10px 15px;
  background-color: #e6e6e6;
}
.top .b_login .b_login_links a {
  font-size: 13px;
  text-decoration: none;
  color: #9b212c;
}
.top .b_login .b_login_links a:hover {
  text-decoration: underline;
}
.top .b_login .b_login_social {
  padding: 10px 15px 20px;
  text-align: center;
}
.top .b_login .b_login_social_btn {
  padding-bottom: 8px;
}
.top .b_login .b_login_social_btn a {
  display: inline-block;
  width: 160px;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
.top .b_login .b_login_social_btn a i {
  vertical-align: middle;
  margin-right: 6px;
}
.top .b_login .b_login_social_btn_facebook {
  background-color: #3b5699;
}
.top .b_login .b_login_social_btn_twitter {
  background-color: #2ec0e7;
}
body {
  position: relative;
}
.b_page_overlay {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99990;
}
@media (max-width: 1200px) {
  .top_site-title {
    margin-top: 40px;
  }
  .top_site-title h1 {
    font-size: 58px;
    line-height: 40px;
  }
  .top_site-title h2 {
    font-size: 28px;
    line-height: 28px;
  }
  .top_site-menu {
    top: -50px;
  }
}
@media (max-width: 992px) {
  .top_site-logo {
    bottom: 0;
    margin-top: 30px;
    width: 220px;
  }
  .top_site-logo img {
    width: 100%;
  }
  .top_site-title {
    margin-top: 10px;
  }
  .top_site-title h1 {
    font-size: 48px;
    line-height: 30px;
  }
  .top_site-title h2 {
    font-size: 24px;
    line-height: 20px;
  }
  .top_site-menu {
    top: 0;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
/**
 * Main
 */
/**
 * Section
 */
.section .section_title {
  font-size: 14px;
  text-transform: uppercase;
  margin: 0 0 30px;
  color: #ffffff;
}
/**
 * Widget
 */
/**
 * General
 */
.sidebar {
  padding: 0;
}
.sidebar ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.widget_title {
  padding-left: 15px;
}
.widget_title h3 {
  margin: 0;
  font-size: 20px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  margin-bottom: 20px;
  text-align: left;
}
.widget_title h3 > .span {
  display: inline-block;
  margin: 0;
  position: relative;
}
.widget_title h3:after {
  content: "";
  height: 16px;
  margin: -8px 0 0 18px;
  position: absolute;
  top: 50%;
  background-color: #df7a1e;
  width: 100%;
}
.widget_shadow {
  -webkit-box-shadow: inset 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  -ms-box-shadow: inset 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  -o-box-shadow: inset 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  box-shadow: inset 5px 0 5px 0 rgba(0, 0, 0, 0.3);
  border-top: 1px solid #001125;
}
/**
 * Today
 */
.widget_today {
  padding: 10px 15px 15px;
}
.widget_today_date {
  padding: 0;
  margin: 0;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
}
.widget_today_celcius {
  text-align: right;
}
.widget_today_celcius strong {
  font-size: 18px;
}
.widget_today_celcius i {
  font-size: 18px;
  margin-right: 5px;
}
/**
 * Stat
 */
.widget_stat {
  border: 1px solid #4e4766;
}
.widget_stat_item {
  padding-top: 15px;
  padding-bottom: 15px;
  color: #ffffff;
}
.widget_stat_item i {
  font-size: 24px;
}
.widget_stat_item_value {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}
.widget_stat_item_label {
  font-size: 12px;
  text-transform: uppercase;
  font-style: normal;
}
.widget_stat_item_facebook {
  background-color: #3b5999;
  border-right: 1px solid #20283f;
}
.widget_stat_item_twitter {
  background-color: #00acee;
  border-right: 1px solid #20283f;
}
.widget_stat_item_visitor {
  background-color: #df7a1e;
}
/**
 * Search
 */
.widget_search {
  background-color: #0018aa;
  padding: 20px 10px 20px 15px;
}
.widget_search h3 {
  margin: 0 0 15px;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;
}
.widget_search_input {
  position: relative;
}
.widget_search_input i {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #7b7b7b;
}
.widget_search input[type="text"] {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #173279;
  width: 100%;
  padding: 7px 10px 7px 34px;
}
/**
 * Hot News
 */
.widget_hot-news {
  background-color: #0018aa;
  padding-top: 30px;
  padding-bottom: 30px;
}
.widget_hot-news_item {
  padding: 15px;
  border-bottom: 1px solid #001125;
  color: #ffffff;
}
.widget_hot-news_item_thumb {
  float: left;
  width: 115px;
}
.widget_hot-news_item_thumb img {
  width: 100%;
}
.widget_hot-news_item_content {
  margin-left: 130px;
}
.widget_hot-news_item_category {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ead41b;
}
.widget_hot-news_item_title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}
.widget_hot-news_item:last-child {
  border-bottom: 0 none;
}
/**
 * Ad
 */
.widget_ad {
  padding: 30px 15px;
  text-align: center;
  background-color: #0018aa;
}
.widget_ad img {
  width: 100%;
}
/**
 * Tweet
 */
.widget_tweet {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #0018aa;
}
.widget_tweet_item {
  padding: 15px;
  border-bottom: 1px solid #001125;
}
.widget_tweet_item_thumb {
  width: 74px;
  height: 74px;
  line-height: 74px;
  text-align: center;
  float: left;
}
.widget_tweet_item_thumb img {
  width: 100%;
}
.widget_tweet_item_text {
  margin-left: 88px;
}
.widget_tweet_item_name {
  margin: 0 0 10px;
  font-size: 14px;
}
.widget_tweet_item_name a {
  color: #ffffff;
  text-decoration: none;
}
.widget_tweet_item_content {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}
.widget_tweet_item_content a {
  color: #e7d02c;
  text-decoration: none;
}
.widget_tweet_item_time {
  font-size: 12px;
  font-weight: bold;
  color: #cfd5e7;
  text-transform: uppercase;
}
.widget_tweet_item:last-child {
  border-bottom: 0 none;
}
/**
 * Yahoo messager
 */
.widget_ym {
  padding: 30px;
  background-color: #0018aa;
  text-align: center;
}
.widget_ym a {
  display: block;
}
.widget_ym a img {
  width: 100%;
  max-width: 240px;
}
/**
 * Yahoo facebook
 */
.widget_facebook {
  padding: 20px 15px 30px;
  background-color: #0018aa;
  text-align: center;
}
.widget_facebook .widget_title {
  padding: 0;
  margin-right: -15px;
  margin-bottom: 30px;
}
.widget_facebook .fb-like-box {
  display: inline-block;
  background-color: #ffffff;
}
/**
 * Video
 */
.widget_video {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #560e0f;
}
.widget_video .widget_title h3:after {
  background-color: #af2322;
}
.widget_video_item {
  padding: 15px;
  border-bottom: 1px solid #d10303;
}
.widget_video_item_thumb {
  float: left;
  width: 115px;
}
.widget_video_item_thumb img {
  width: 100%;
}
.widget_video_item_info {
  margin-left: 130px;
  color: #ffffff;
}
.widget_video_item_info h3 {
  margin: 0 0 10px;
  font-size: 16px;
}
.widget_video_item_info h3 a {
  color: #ffffff;
  text-decoration: none;
}
.widget_video_item_meta {
  font-size: 12px;
}
.widget_video_item_meta strong {
  font-weight: normal;
}
.widget_video_item_meta_info:after {
  content: ".";
  font-weight: bold;
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
  padding-left: 5px;
  padding-right: 5px;
}
.widget_video_item_meta_info:last-child:after {
  display: none;
}
.widget_video_more {
  text-align: right;
  margin: 20px;
}
.widget_video_more a {
  color: #e6ca20;
  font-size: 14px;
  text-decoration: none;
}
.widget_video_more a i {
  color: #ffffff;
  margin-left: 8px;
  font-size: 16px;
}
.widget_video_more a:hover {
  text-decoration: underline;
}
/**
 * Bottom
 */
/**
 * Bottom
 */
.bottom {
  /**
     * About Us
     */
  /**
     * Latest News
     */
  /**
     * Bottom Nav
     */
}
.bottom .bottom_content .container,
.bottom .bottom_content .container10 {
  background-color: #570e0e;
  border-top: 8px solid #e01f1f;
}
.bottom .section {
  padding-top: 30px;
  padding-bottom: 30px;
}
.bottom .section:nth-child(2) {
  border-left: 1px solid #682727;
  border-right: 1px solid #682727;
}
.bottom .bottom_about-us p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
}
.bottom .bottom_news_item {
  margin-bottom: 15px;
}
.bottom .bottom_news_item_thumb {
  float: left;
  width: 115px;
}
.bottom .bottom_news_item_thumb img {
  width: 100%;
}
.bottom .bottom_news_item_content {
  margin-left: 130px;
}
.bottom .bottom_news_item_category {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #ead41b;
}
.bottom .bottom_news_item_title {
  margin: 0;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}
.bottom .bottom_nav ul {
  margin: 0;
  padding: 0;
}
.bottom .bottom_nav li {
  margin-bottom: 10px;
}
.bottom .bottom_nav i {
  color: #ab8787;
  margin-right: 10px;
}
.bottom .bottom_nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
}
.bottom .bottom_nav a:hover {
  color: #ead41b;
}
@media (max-width: 992px) {
  .bottom .section:nth-child(2) {
    border: 0 none;
    border-top: 1px solid #682727;
    border-bottom: 1px solid #682727;
  }
}
/**
 * Footer
 */
.bottom footer {
  padding-bottom: 100px;
}
.bottom footer .container,
.bottom footer .container10 {
  background-color: #e01f1f;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 20px;
}
.bottom footer .footer_copyright small {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}
.bottom footer .footer_createdby {
  text-transform: uppercase;
  text-align: center;
  font-size: 12px;
}
.bottom footer .footer_social-links {
  text-align: right;
}
.bottom footer .footer_social-links a {
  display: inline-block;
  color: #ffffff;
  padding: 0 8px;
  font-size: 16px;
}
@media (max-width: 992px) {
  .bottom footer {
    text-align: center;
  }
  .bottom footer .footer_createdby {
    margin-top: 15px;
  }
  .bottom footer .footer_social-links {
    text-align: center;
    margin-top: 30px;
  }
}
/**
 * Primary
 */
.primary {
  padding: 0;
}
.primary .b_tab {
  position: relative;
}
.primary .b_tab_menu {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left top 0;
  -moz-transform-origin: left top 0;
  -ms-transform-origin: left top 0;
  -o-transform-origin: left top 0;
  transform-origin: left top 0;
}
.primary .b_tab_menu a {
  float: left;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
  padding: 8px 12px;
  color: #ffffff;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #444444;
}
.primary .b_tab_menu a:hover,
.primary .b_tab_menu a.active {
  font-size: 14px;
  padding: 10px 12px;
}
.primary .b_tab_menu a[href="#edukasi-syarat"] {
  background-color: #af2322;
}
.primary .b_tab_menu a[href="#edukasi-soal"] {
  background-color: #2371af;
}
.primary .b_tab_menu a[href="#edukasi-simulasi"] {
  background-color: #e5ca35;
}
.primary .b_tab_content {
  background-color: #ffffff;
}
.primary .b_post_headline {
  position: relative;
  padding: 30px 20px 20px;
}
.primary .b_post_headline_thumb {
  float: left;
  width: 120px;
  height: 120px;
  line-height: 120px;
  text-align: center;
}
.primary .b_post_headline_thumb img {
  display: block;
  width: 100%;
}
.primary .b_post_headline_main {
  margin-left: 140px;
}
.primary .b_post_headline_title {
  margin: 0 0 15px;
}
.primary .b_post_headline_title a {
  text-decoration: none;
  color: #000000;
}
.primary .b_post_headline_title a:hover {
  color: #a62520;
}
.primary .b_post_headline_content {
  font-size: 14px;
}
.primary .b_post_headline_connect {
  margin-top: 15px;
}
.primary .b_post_more-link {
  padding: 15px 20px;
  border-top: 1px solid #dfdfdf;
  border-bottom: 1px solid #dfdfdf;
  position: relative;
}
.primary .b_post_more-link:after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 10px;
  border-top-color: #ffffff;
  position: absolute;
  left: 41px;
  bottom: -20px;
}
.primary .b_post_more-link:before {
  content: '';
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 11px;
  position: absolute;
  border-top-color: #dfdfdf;
  left: 40px;
  bottom: -22px;
}
.primary .b_post_more-link a {
  font-size: 14px;
  color: #9d2227;
  text-decoration: none;
}
.primary .b_post_more-link a:hover {
  text-decoration: underline;
}
.primary .b_post_more-link span {
  color: #909090;
}
.primary .b_post_list {
  padding: 10px 20px 25px;
  position: relative;
}
.primary .b_post_item {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #dfdfdf;
}
.primary .b_post_thumb {
  float: left;
  width: 155px;
}
.primary .b_post_thumb img {
  display: block;
  width: 100%;
}
.primary .b_post_main {
  margin-left: 175px;
}
.primary .b_post_header {
  margin-bottom: 15px;
  position: relative;
}
.primary .b_post_category {
  color: #919191;
  font-size: 12px;
  text-transform: uppercase;
}
.primary .b_post_title {
  margin: 0 0 4px;
}
.primary .b_post_title a {
  color: #000000;
  text-decoration: none;
  font-size: 20px;
}
.primary .b_post_title a:hover {
  color: #9d2227;
}
.primary .b_post_date {
  font-size: 12px;
  color: #5a5a5a;
}
.primary .b_post_content {
  font-size: 14px;
}
.primary .b_post_comment-count {
  position: absolute;
  top: 0;
  right: 0;
  color: #989898;
  font-size: 12px;
}
.primary .b_connect-link {
  display: inline-block;
  vertical-align: middle;
  margin-left: 30px;
}
.primary .b_connect-link a {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  padding-left: 3px;
  padding-right: 3px;
  color: #ffffff;
  text-decoration: none;
}
.primary .b_connect-link_facebook {
  background-color: #3f55a1;
}
.primary .b_connect-link_twitter {
  background-color: #00afeb;
}
.primary .b_connect-link_google-plus {
  background-color: #dd4a43;
}
.primary .b_connect-link_linkedin {
  background-color: #0078b4;
}
.primary .b_connect-link_youtube {
  background-color: #bc0000;
}
