.tweet .e-entry-title{
  color: #fff;
}
a.customisable-highlight {
  color: #fff!important;
}
.p-author a.profile:hover .p-name, .p-author .profile .p-name{
  color: #fff!important;
}
.p-nickname{
  color: #e7d02c!important;
}
