//==============================================
// Line side mixins
//==============================================
._line-side( @width: 3px; @color: #dddddd ) {
    .ofh;
    
    >.span {
        .dib;
        .m0;
        .por;
    }
}
.line-side-right( @width: 3px; @color: #dddddd ) {
    @top: ceil( @width/2 ) * -1;
    ._line-side();
    &:after {
        content: "";
        .h ( @width );
        .m( @top 0 0 18px );
        .poa;
        .t( 50% );
        .bgc( @color );
        .w( 100% );
    }
}
.line-side-left( @width: 3px; @color: #dddddd ) {
    @top: ceil( @width/2 ) * -1;
    ._line-side();
    &:before {
        content: "";
        .h ( @width );
        .m( @top 18px 0 0 );
        .poa;
        .t( 50% );
        .bgc( @color );
        .w( 100% );
    }
}