//==============================================
// Line side setup
//==============================================

@import 'variables.less';
@import 'mixins.less';

@line-side-class: ~"@{prefix}@{line-side-prefix}";
.@{line-side-class} {
    &@{single-separator}@{line-side-right-prefix} {
        .line-side-right();
    }
    &@{single-separator}@{line-side-left-prefix} {
        .line-side-left();
    }
}