// ===============================================
// Button icon mixins
// ===============================================
.button-icon() 
{
    @border-color: darken( @button-icon-color, 60% );
    @text-color: darken( @button-icon-color, 30% );
    
    .td0;
    .dib;
    .hlh( @button-icon-height );
    .c( @text-color );
    .bgc( @button-icon-color );
    .bo( @border-color; 2px );
    .rad( @button-icon-radius );
    .content-box;
    .ol0;
    #box-shadow>.innerY( 0; 4px; rgba(0,0,0,0.2) );
    
    i {
        @font-size: @button-icon-font + 2;
        
        .fs( @font-size );
        .dib;
        .hlh( @button-icon-height );
        .px( @button-icon-padding );
        .bor( rgba(0,0,0,.2) );
        #box-shadow>.outer( 1px; 0; 0; 0; rgba(255,255,255,0.2) );
    }
    span {
        @padding-right: @button-icon-padding + 4;
        @padding: ~"0 @{padding-right} 0 @{button-icon-padding}";
        
        .fs( @button-icon-font );
        .fb;
        .fi;
        .dib;
        .vam;
        .hlh( @button-icon-height );
        .p( @padding );
    }
}

//Coloring
.button-icon-color-gradation( @color ) when (lightness(@color) >= 50%) and (lightness(@color) <= 80%)
{
    @dark-color:   darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @icon-color:   darken( @color, 50% );
    @text-color:   darken( @color, 60% );
    
    #gradient>.vertical( @color; @dark-color );
    .boc( @border-color );
    
    i {
        .c( @icon-color );
    }
    span {
        .c( @text-color );
    }
}
.button-icon-color-gradation( @color ) when (lightness(@color) >= 80%)
{
    @dark-color:   darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @icon-color:   darken( @color, 70% );
    @text-color:   darken( @color, 80% );
    
    #gradient>.vertical( @color; @dark-color );
    .boc( @border-color );
    
    i {
        .c( @icon-color );
    }
    span {
        .c( @text-color );
    }
}
.button-icon-color-gradation( @color ) when ( lightness(@color) <= 50% ) and (lightness(@color) >= 30%)
{
    @dark-color:   darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @icon-color:   lighten( @color, 50% );
    @text-color:   lighten( @color, 60% );
    
    #gradient>.vertical( @color; @dark-color );
    .boc( @border-color );
    
    i {
        .c( @icon-color );
    }
    span {
        .c( @text-color );
    }
}
.button-icon-color-gradation( @color ) when (lightness(@color) <= 30%)
{
    @dark-color:   darken( @color, 20% );
    @border-color: darken( @color, 30% );
    @icon-color:   lighten( @color, 80% );
    @text-color:   lighten( @color, 90% );
    
    #gradient>.vertical( @color; @dark-color );
    .boc( @border-color );
    
    i {
        .c( @icon-color );
    }
    span {
        .c( @text-color );
    }
}