// ===============================================
// Button icon setup
// ===============================================
@import 'variables.less';
@import 'mixins.less';

@button-icon-class: ~"@{prefix}@{button-icon-prefix}";
.@{button-icon-class} {
    .button-icon();
    
    &&@{single-separator}default {
        .button-icon-color-gradation( @button-icon-color );
    }
    &&@{single-separator}primary {
        .button-icon-color-gradation( @button-icon-primary-bgcolor );
    }
    &&@{single-separator}success {
        .button-icon-color-gradation( @button-icon-success-bgcolor );
    }
    &&@{single-separator}danger {
        .button-icon-color-gradation( @button-icon-danger-bgcolor );
    }
    &&@{single-separator}warning {
        .button-icon-color-gradation( @button-icon-warning-bgcolor );
    }
    &&@{single-separator}info {
        .button-icon-color-gradation( @button-icon-info-bgcolor );
    }
}