// ===============================================
// Button icon variables
// ===============================================

@button-icon-prefix:            btn-icon;
@button-icon-height:            32px;
@button-icon-color:             #999999;
@button-icon-border-width:      2px;
@button-icon-font:              14px;
@button-icon-padding:           8px;
@button-icon-radius:            5px;

@button-icon-primary-bgcolor:    #76b8e8;
@button-icon-success-bgcolor:    #5aa259;
@button-icon-danger-bgcolor:     #cd4340;
@button-icon-warning-bgcolor:    #dca04a;
@button-icon-info-bgcolor:       #cfe2f0;