// ===============================================
// Text class
// ===============================================

//Clear
.clear {
    .clearfix;
}

//Font decoration
.bold {
    .fb();
}
.italic {
    .fi();
}
.nobold {
    .fb0;
}
.noitalic {
    .fi0;
}
.underline {
    .tdul;
}
.strike {
    .tdlt;
}
.nodeco {
    .td0;
}

//Text Align
.text-left {
    .tal;
}
.text-right {
    .tar;
}

//Font Family
.ff-text {
    .ff( @font-family-text );
}
.ff-title {
    .ff( @font-family-title );
}
.ff-subtitle {
    .ff( @font-family-subtitle );
}

