//==============================================
// Import general less
//==============================================
@import 'general.less';


/**
 * Primary
 */
.primary {
    .p0;
    
    //
    //Tab
    .b_tab {
        .por;
        
        //
        //Tab menu
        
        &_menu {
            .poa;
            .t0;
            .l0;
            .rotate( 90deg );
            .origin( left; top 0 );
            
            a {
                .fol;
                .td0;
                .fs( 12px );
                .fb;
                .p( 8px 12px );
                .c( #ffffff );
                #rad>.top( 4px );
                .rotate( 180deg );
                .transition( all 0.2s );
                .bgc( #444444 );
                
                &:hover,
                &.active {
                    .fs( 14px );
                    .p( 10px 12px );
                }
                
                &[href="#edukasi-syarat"] {
                    .bgc( #af2322 );
                }
                &[href="#edukasi-soal"] {
                    .bgc( #2371af );
                }
                &[href="#edukasi-simulasi"] {
                    .bgc( #e5ca35 );
                }
            }
        }
        
        //
        //Tab Content
        &_content {
            .bgc( #ffffff );
        }       
    }
    
    //
    //post
    .b_post {
    
        //
        //Headline
        &_headline {
            .por;
            .p( 30px 20px 20px );
            
            &_thumb {
                .fol;
                .square( 120px );
                
                img {
                    .db;
                    .w( 100% );
                }
            }
            
            &_main {
                .ml( 140px );
            }
            
            &_title {
                .m( 0 0 15px );
                
                a {
                    .td0;
                    .c( #000000 );
                    
                    &:hover {
                        .c( #a62520 );
                    }
                }
            }
            
            &_content {
                .fs( 14px );
            }
            
            &_connect {
                .mt( 15px );
            }
        }
        
        //
        //More link
        &_more-link {
            .p( 15px 20px );
            .bot( #dfdfdf );
            .bob( #dfdfdf );
            .por;
            
            &:after {
                #arrow>.down( #ffffff );
                .poa;
                .l( 41px );
                .b( -20px );
            }
            &:before {
                #arrow>.down( #dfdfdf; 11px );
                .l( 40px );
                .b( -22px );
            }
            
            a {
                .fs( 14px );
                .c( #9d2227 );
                .td0;
                
                &:hover {
                    .tdul;
                }
            }
            span {
                .c( #909090 );
            }
        }
        
        //
        //List
        &_list {
            .p( 10px 20px 25px );
            .por;
        }
        &_item {
            .py( 20px );
            .bob( #dfdfdf );
        }
        &_thumb {
            .fol;
            .w( 155px );
            
            img {
                .db;
                .w( 100% );
            }
        }
        &_main {
            .ml( 175px );
        }
        &_header {
            .mb( 15px );
            .por;
        }
        &_category {
            .c( #919191 );
            .fs( 12px );
            .ttuc;
        }
        &_title {
            .m( 0 0 4px );
            
            a {
                .c( #000000 );
                .td0;
                .fs( 20px );
                
                &:hover {
                    .c( #9d2227 );
                }
            }
        }
        &_date {
            .fs( 12px );
            .c( #5a5a5a );
        }
        &_content {
            .fs( 14px );
        }
        &_comment-count {
            .poa;
            .t0;
            .r0;
            .c( #989898 );
            .fs( 12px );
        }
    }
    
    .b_connect-link {
        .dib;
        .vam;
        .ml( 30px );
        
        a {
            .dib;
            .square( 32px );
            .px( 3px );
            .c( #ffffff );
            .td0;
        }
        
        &_facebook {
            .bgc( #3f55a1 );
        }
        &_twitter {
            .bgc( #00afeb );
        }
        &_google-plus {
            .bgc( #dd4a43 );
        }
        &_linkedin {
            .bgc( #0078b4 );
        }
        &_youtube {
            .bgc( #bc0000 );
        }
    }
}



