//==============================================
// Import general less
//==============================================
@import 'general.less';


/**
 * Primary
 */
.primary {
    .p0;
}

/**
 * Video top
 */
@import 'flexslider.less';
.block-video {
    .bgc( #ffffff );
    .p( 10px );
    .mt( -20px );
    .mb( 40px );
    .por;
    
    &_item {
        .dib;
        
        &_inner {
            .px( 10px );
        }
        
        &_thumb {
            .w( 136px );
            .fol;
        }
        &_title {
            .ml( 150px );
            
            a {
                .db;
                .fs( 16px );
                .fb;
                .mb( 8px );
                .td0;
                .c( #000000 );
            }
            .post-date {
                .fs( 12px );
                .c( #1d1d1d );
            }
        }
    }
    .flexslider {
        .mb(0);
        
        .flex-direction-nav {
            a { 
                &:before  { 
                    .d0;
                    content: '';
                }
                &.flex-next:before { 
                    content: '';
                    .d0;
                }
            }
        }
        
        &:hover .flex-direction-nav {
            .flex-prev { 
                left: -30px;
            }
            
            .flex-next { 
              right: -30px;
            }
        }
    }
}

/**
 * Headline
 */
.news-headline {
    
    .por;
    .m0;
    .p0;
    .bo0;
    
    ul {
        .p0;
        .m0;
        .ls0;
    }
    
    &_item {
        .por;
        .bob( #ffffff; 7px );
        
        &_thumb {
            img {
                .w( 100% );
                .db;
            }
        }
        
        &_content {
            .poa;
            .l0;
            .b0;
            .bgc( rgba( 0,0,0,.7 ) );
            .p( 20px 15px );
            .w( 60% );
        }
        &_category {
            .fs( 12px );
            .ttuc;
            .fb;
            .mb( 15px );
            .c( #ffffff );
        }
        &_title {
            .m0;
            .fs( 24px );
            .lh( 28px );
                
            a {
                .c( #ffffff );
                .td0;
            }
        }
        &_link {
            .mt( 15px );
            .tar;
            
            a {
                .c( #ead41b );
                .td0;
                .fs( 12px );
                .fb;
                .fi;
                .ttuc;
                
                i {
                    .ml( 6px );
                }
                &:hover {
                    .tdul;
                }
            }
        }
        
        &_meta {
            .poa;
            .t( 15px );
            .r( 15px );
            .c( #ffffff );
            .fs( 18px );
            
            &_info {
                .dib;
                .p( 0 10px );
                .bol( #ffffff; 2px; dotted );
                
                &:first-child {
                    .bol0;
                }
            }
        }
    }
    
    //
    //Flexslider
    .flex-control-nav {
        .m0;
        .p0;
        .ls0;
        .poa;
        .zi( 100 );
        .b( 20px );
        .r( 20px );
        
        li {
            .dib;
            .px( 0px );
        }
        a {
            .dib;
            .circle( 12px );
            .bgc( #ffffff );
            .ti( -9999px );
            
            &:hover {
                .cup;
            }
            &.flex-active {
                .bgc( #8d8b8b );
            }
        }
    }
}

/**
 * News Main
 */
.news-main {
    &_item {
        .bgc( #ffffff );
        .por;
        
        &_main {
            .por;
        }
        
        &_thumb {
            img { 
                .w( 100% );
            }
        }
        
        //
        //Content
        &_content {
            .ml( 72px );
            .mt( -40px );
            .bgc( #ffffff );
            .p( 20px );
            .por;
        }
        &_meta {
            .fs( 12px );
            .ttuc;
            .c( #878787 );
            
            .dot {
                .fs( 18px );
                .fb;
                .dib;
                .px( 6px );
            }
        }
        &_comment {
            .dib;
            .vam;
            .fs( 14px );
            .mt( 3px );
            
            i {
                .ml( 8px );
            }
        }
        
        //
        //Title
        &_title {
            .m( 10px 0 15px );
            .fs( 22px );
            .lh( 26px );
            
            a {
                .td0;
                .c( #000000 );
                
                &:hover {
                    .c( #af2322 );
                }
            }
        }
        
        //
        //Share
        &_share {
            .poa;
            .t( 40px );
            .l0;
            .tac;
            .px( 15px );
            
            h3 {
                .fs( 12px );
                .ttuc;
                .c( #4d4d4d );
                .mb( 20px );
            }
            
            ul {
                .m0;
                .p0;
                .ls0;
            }
            li {
                .mb( 8px );
            }
            a {
                .dib;
                .square( 32px );
                .c( #ffffff );
            }
            &_facebook a {
                .bgc( #3b589c );
            }
            &_twitter a {
                .bgc( #00acf0 );
            }
        }
        
        //
        //Ribbon
        &_ribbon {
            .poa;
            .t( 10px );
            .l( -10px );
            .bgc( #af2322 );
            .c( #ffffff );
            .fs( 12px );
            .ttuc;
            .p( 10px 15px );
            
            &:before {
                #triangle>.topright( #82030a );
                .b( -10px );
                .l0;
            }
        }
        
        //
        //Text
        &_text {
            .fs( 14px );
            
            ul {
                .pl( 18px );
                .lst( square );
            }
        }
    }
}

/**
 * CCTV Video - Temp
 */
.cctv-video img {
    .w( 100% );
}
 

/**
 * Content category
 */
.content_category {
    &_item {
        .p0;
        .bgc( #ffffff );
        
        &:last-child {
            .content_category_item_title {
                .bor0;
            }
        }
        
        //
        // Title
        &_title {
            .p( 15px 10px );
            .por;
            .bor( #dbdbdb );
            
            h2 {
                .m0;
                .fs( 12px );
                .ttuc;
            }
            i {
                .poa;
                .r( 20px );
                .t( 12px );
                .circle( 20px );
                .bo( #999999; 2px );
                .fs( 10px );
                .c( #26ae42 );
                .lh( 16px );
            }
        }
        
        //
        //Main
        &_main {
            .por;
            
            img {
                .w( 100% );
            }
            h3 {
                .m0;
                .poa;
                .l( 15px );
                .b( 20px );
                .fs( 18px );
                .lh( 24px );
                .c( #ffffff );
            }
        }
        
        //
        //Other
        &_other {
            .p( 15px 15px 40px );
            
            ul {
                .m0;
                .p0;
                .ls0;
            }
            li {
                .py( 10px );
                .bob( #7f7f7f; 1px; dotted );
            }
            i {
                .fol;
                .por;
                .t( 3px );
            }
            a {
                .db;
                .ml( 27px );
                .td0;
                .fs( 14px );
                .c( #000000 );
                
                &:hover {
                    .c( #1a3481 );
                }
            }
        }
    }
}


