/* Ico moon definition */

@br-icons-list: download, warning, cloud, locked, inbox, comment, mic, envelope, briefcase, cart, contrast, clock, user, cog, music, twitter, pencil, frame, switch, star, key, chart, apple, file, plus, minus, picture, folder, camera, search, dribbble, forrst, feed, blocked, target, play, pause, bug, console, film, type, home, earth, location, info, eye, heart, bookmark, wrench, calendar, window, monitor, mobile, droplet, mouse, refresh, location2, tag, phone, star2, pointer, thumbs-up, thumbs-down, headphones, move, checkmark, cancel, skype, gift, cone, alarm, coffee, basket, flag, ipod, trashcan, bolt, ampersand, compass, list, grid, volume, volume2, stats, target2, forward, paperclip, keyboard, crop, floppy, filter, trophy, diary, address-book, stop, smiley, shit, bookmark2, camera2, lamp, disk, button, database, credit-card, atom, winsows, target3, battery, code;

@br-icon-lenght: length( @br-icons-list );
.add-br-icon( @index ) when ( @index <= @br-icon-lenght ) {
    @var: extract( @br-icons-list, @index );
    @attr: ~".@{br-css-prefix}-@{var}";
    @vname: ~"br-var-@{var}";
    
    @{attr}:before { content: @@vname; }
    
    @newindex: @index + 1;
    .add-br-icon( @newindex );
}
.add-br-icon(1);