// Variables
// --------------------------

@br-font-path:              "../fonts/br";
@br-css-prefix:             br;

@br-var-download:           "\e600";
@br-var-warning:            "\e600";
@br-var-cloud:              "\e601";
@br-var-locked:             "\e602";
@br-var-inbox:              "\e603";
@br-var-comment:            "\e604";
@br-var-mic:                "\e605";
@br-var-envelope:           "\e606";
@br-var-briefcase:          "\e607";
@br-var-cart:               "\e608";
@br-var-contrast:           "\e609";
@br-var-clock:              "\e60a";
@br-var-user:               "\e60b";
@br-var-cog:                "\e60c";
@br-var-music:              "\e60d";
@br-var-twitter:            "\e60e";
@br-var-pencil:             "\e60f";
@br-var-frame:              "\e610";
@br-var-switch:             "\e611";
@br-var-star:               "\e612";
@br-var-key:                "\e613";
@br-var-chart:              "\e614";
@br-var-apple:              "\e615";
@br-var-file:               "\e616";
@br-var-plus:               "\e617";
@br-var-minus:              "\e618";
@br-var-picture:            "\e619";
@br-var-folder:             "\e61a";
@br-var-camera:             "\e61b";
@br-var-search:             "\e61c";
@br-var-dribbble:           "\e61d";
@br-var-forrst:             "\e61e";
@br-var-feed:               "\e61f";
@br-var-blocked:            "\e620";
@br-var-target:             "\e621";
@br-var-play:               "\e622";
@br-var-pause:              "\e623";
@br-var-bug:                "\e624";
@br-var-console:            "\e625";
@br-var-film:               "\e626";
@br-var-type:               "\e627";
@br-var-home:               "\e628";
@br-var-earth:              "\e629";
@br-var-location:           "\e62a";
@br-var-info:               "\e62b";
@br-var-eye:                "\e62c";
@br-var-heart:              "\e62d";
@br-var-bookmark:           "\e62e";
@br-var-wrench:             "\e62f";
@br-var-calendar:           "\e630";
@br-var-window:             "\e631";
@br-var-monitor:            "\e632";
@br-var-mobile:             "\e633";
@br-var-droplet:            "\e634";
@br-var-mouse:              "\e635";
@br-var-refresh:            "\e636";
@br-var-location2:          "\e637";
@br-var-tag:                "\e638";
@br-var-phone:              "\e639";
@br-var-star2:              "\e63a";
@br-var-pointer:            "\e63b";
@br-var-thumbs-up:          "\e63c";
@br-var-thumbs-down:        "\e63d";
@br-var-headphones:         "\e63e";
@br-var-move:               "\e63f";
@br-var-checkmark:          "\e640";
@br-var-cancel:             "\e641";
@br-var-skype:              "\e642";
@br-var-gift:               "\e643";
@br-var-cone:               "\e644";
@br-var-alarm:              "\e645";
@br-var-coffee:             "\e646";
@br-var-basket:             "\e647";
@br-var-flag:               "\e648";
@br-var-ipod:               "\e649";
@br-var-trashcan:           "\e64a";
@br-var-bolt:               "\e64b";
@br-var-ampersand:          "\e64c";
@br-var-compass:            "\e64d";
@br-var-list:               "\e64e";
@br-var-grid:               "\e64f";
@br-var-volume:             "\e650";
@br-var-volume2:            "\e651";
@br-var-stats:              "\e652";
@br-var-target2:            "\e653";
@br-var-forward:            "\e654";
@br-var-paperclip:          "\e655";
@br-var-keyboard:           "\e656";
@br-var-crop:               "\e657";
@br-var-floppy:             "\e658";
@br-var-filter:             "\e659";
@br-var-trophy:             "\e65a";
@br-var-diary:              "\e65b";
@br-var-address-book:       "\e65c";
@br-var-stop:               "\e65d";
@br-var-smiley:             "\e65e";
@br-var-shit:               "\e65f";
@br-var-bookmark2:          "\e660";
@br-var-camera2:            "\e661";
@br-var-lamp:               "\e662";
@br-var-disk:               "\e663";
@br-var-button:             "\e664";
@br-var-database:           "\e665";
@br-var-credit-card:        "\e666";
@br-var-atom:               "\e667";
@br-var-winsows:            "\e668";
@br-var-target3:            "\e669";
@br-var-battery:            "\e66a";
@br-var-code:               "\e66b";