// Font awesome setup
// --------------------------

@import "variables.less";

/* FONT PATH
 * -------------------------- */
@font-face {
    font-family: 'FontAwesome';
    src: url('@{fa-font-path}/fontawesome-webfont.eot?v=@{fa-version}');
    src: url('@{fa-font-path}/fontawesome-webfont.eot?#iefix&v=@{fa-version}') format('embedded-opentype'),
         url('@{fa-font-path}/fontawesome-webfont.woff?v=@{fa-version}') format('woff'),
         url('@{fa-font-path}/fontawesome-webfont.ttf?v=@{fa-version}') format('truetype'),
         url('@{fa-font-path}/fontawesome-webfont.svg?v=@{fa-version}#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* Base Class Definition
 * -------------------------- */
.@{fa-css-prefix} {
    display: inline-block;
    vertical-align: middle;
    margin-top: -1px;
    font: normal normal normal 14px/1 FontAwesome; // shortening font declaration
    font-size: inherit; // can't have font-size inherit on line above, so need to override
    text-rendering: auto; // optimizelegibility throws things off #1094
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@import "icons.less";