/**
 * Bottom
 */
.bottom {
    & &_content {
        .container {
            .bgc( #570e0e );
            .bot( #e01f1f; 8px );
        }
    }
    
    .section {
        .py( 30px );
        
        &:nth-child(2) {
            .bol( #682727 );
            .bor( #682727 );
        }
    }
    
    /**
     * About Us
     */
    & &_about-us {
        p {
            .mb( 0 );
            .fs( 14px );
            .lh( 18px );
            .c( #ffffff );
        }
    }
    
    /**
     * Latest News
     */
    & &_news {
        &_item {
            .mb( 15px );
            
            &_thumb {
                .fol;
                .w( 115px );
                
                img {
                    .w( 100% );
                }
            }
            &_content {
                .ml( 130px );
            }
            &_category {
                .fs( 12px );
                .fb;
                .ttuc;
                .mb( 10px );
                .c( #ead41b );
            }
            &_title {
                .m0;
                .fs( 18px );
                .lh( 24px );
                .c( #ffffff );
            }
        }
    }
    
    /**
     * Bottom Nav
     */
    & &_nav {
        ul {
            .m0;
            .p0;
        }
        li {
            .mb( 10px );
        }
        i {
            .c( #ab8787 );
            .mr( 10px );
        }
        a {
            .td0;
            .c( #ffffff );
            .fs( 14px );
            
            &:hover {
                .c( #ead41b );
            }
        }
    }
}

@media (max-width: @screen-md-min) {

    .bottom {
        .section {
            &:nth-child(2) {
                .bo0;
                .bot( #682727 );
                .bob( #682727 );
            }
        }
    }
}