/**
 * Footer
 */
.bottom footer {
    .pb( 100px );
    
    .container {
        .bgc( #e01f1f );
        .c( #ffffff );
        .py( 20px );
    }
    
    .footer_ {
        &copyright small {
            .ttuc;
            .fs( 12px );
            .fb;
        }
        
        &createdby {
            .ttuc;
            .tac;
            .fs( 12px );
        }
        
        &social-links {
            .tar;
            
            a {
                .dib;
                .c( #ffffff );
                .p( 0 8px );
                .fs( 16px );
            }
        }
    }
}

@media (max-width: @screen-md-min) {
    
    .bottom footer {
        .tac;
        
        .footer_ {
            &createdby {
                .mt( 15px );
            }
            
            &social-links {
                .tac;
                .mt( 30px );
            }
        }
    }
}