/**
 * Site logo
 */
.top {
    &_site-logo {
        .por;
        .b( -25px );
        .zi( 100 );
        .maxw( 300px );
        .tac;
        .m( 0 auto );
        
        img {
            .w( 100% );
        }
    }
    
    &_site-title {
        .tac;
        .ttuc;
        .mt( 40px );
        .ff-title;
        
        h1 {
            .m( 0 0 15px );
            .fs( 72px );
            .lh( 68px );
            .c( #0d1e51 );
        }
        h2 {
            .m0;
            .fs( 38px );
            .lh( 30px );
            .fb( 300 );
            .c( #2042a2 );
        }
    }
    
    &_site-menu {
        #gradient>.vertical( #0000df; #0000b5  );
        .bob( #e01f1f; 8px );
        .por;
        .t( -60px );
        
        ul {
            .m0;
            .p0;
        }
        li {
            .fol;
            .por;
            
            &:first-child {
                .bol( rgba( 0,0,0,.2) );
            }
            &:last-child {
                .bor( rgba( 255,255,255,.2) );
            }
        }
        li>a {
            .c( #ffffff );
            .td0;
            .db;
            .hlh( 50px );
            .p( 0 14px );
            .fs( 14px );
            .fb;
            .ttuc;
            .bor( rgba( 0,0,0,.2) );
            .bol( rgba( 255,255,255,.2) );
            
            &:hover {
                .bgi0;
                .bgc( #0a2558 );
            }
            
            &.active {
                .bgc( #ffffff );
                .c( #a72523 );
                .por;
                .zi( 99999 );   
            }
        }
    }
    
    .b_fade-menu_content {
        .poa;
        .t( 50px );
        .r( 0 );
        .bgc( #f0f0f0 );
        .c( #3f3f3f );
        .zi( 99999 );
        .w( 285px );
    }
    
    //Login form
    .b_login {
        .b_login_form {
            .p( 20px 15px );
            
            .b_form_field {
                .mb( 15px );
            }
            .b_form_label {
                .mb( 4px );
                .fs( 14px );
            }
            .b_form_control {
                .p( 8px 6px );
                .fs( 14px );
                .ff-text;
                .w( 100% );
                .rad( 4px );
                .bo( #cccccc );
                #box-shadow>.inner( 0; 0; 1px; 1px; rgba( 0,0,0,.1 ) );
            }
            
            .btn {
                .dib;
                .bo0;
                .for;
                .p( 8px 15px );
                .rad( 4px );
                .bgc( #232323 );
                .c( #ffffff );
                .fs( 12px );
                .fb;
                .ttuc;
                
                &:hover {
                    .bgc( #111111 );
                }
            }
            
            &_remember {
                .fs( 13px );
                
                input {
                    .mr( 4px );
                }
            }
        }
        
        .b_login_links {
            .p( 10px 15px );
            .bgc( #e6e6e6 );
            
            a {
                .fs( 13px );
                .td0;
                .c( #9b212c );
                
                &:hover {
                    .tdul;
                }
            }
        }
        
        .b_login_social {
            .p( 10px 15px 20px );
            .tac;
            
            &_btn {
                .pb( 8px );
                
                a {
                    .dib;
                    .w( 160px );
                    .py( 8px );
                    .tac;
                    .c( #ffffff );
                    .fs( 12px );
                    .fb;
                    .td0;
                    .rad( 4px );
                    
                    i {
                        .vam;
                        .mr( 6px );
                    }
                }
                &_facebook {
                    .bgc( #3b5699 );
                }
                &_twitter {
                    .bgc( #2ec0e7 );
                }
            }
        }
    }
}

//
//Page overlay
body {
    .por;
}
.b_page_overlay {
    .d0;
    .poa;
    .xy0;
    .bgc( rgba( 0,0,0,.6 ) );
    .zi( 99990 );
}

@media (max-width: @screen-lg-min) {
    
    .top {
        &_site-title {
            .mt( 40px );
            h1 {
                .fs( 58px );
                .lh( 40px );
            }
            h2 {
                .fs( 28px );
                .lh( 28px );
            }
        }
        &_site-menu {
            .t( -50px );
        }
    }
}

@media (max-width: @screen-md-min) {
    
    .top {
        &_site-logo {
            .b0;
            .mt( 30px );
            .w( 220px );
            
            img {
                .w( 100% );
            }
        }
        &_site-title {
            .mt( 10px );
            h1 {
                .fs( 48px );
                .lh( 30px );
            }
            h2 {
                .fs( 24px );
                .lh( 20px );
            }
        }
        &_site-menu {
            .t0;
            .my( 20px );
        }
    }
}