/**
 * General
 */
.sidebar {
    .p0;
    
    ul {
        .p0;
        .m0;
        .ls0;
    }
}

@import 'libs/blocks/line/_side/mixins.less';
.widget {
    &_title {
        .pl( 15px );
        
        h3 {
            .m0;
            .fs( 20px );
            .c( #ffffff );
            .ttuc;
            .por;
            .line-side-right( 16px; #df7a1e );
            .mb( 20px );
            .tal;
        }
    }
    
    //
    //Shadow
    &_shadow {
        #box-shadow>.inner( 5px; 0; 5px; 0; rgba( 0,0,0,.3 ) );
        .bot( #001125 );
    }
}

 
/**
 * Today
 */
.widget_today {
    .p( 10px 15px 15px );

    &_date {
        .p0;
        .m0;
        .fs( 11px );
        .fb;
        .ttuc;
    }
    &_celcius {
        .tar;
        strong {
            .fs( 18px );
        }
        i {
            .fs( 18px );
            .mr( 5px );
        }
    }
}

/**
 * Stat
 */
.widget_stat {
    
    .bo( #4e4766 );
    
    &_item {
        .py( 15px );
        .c( #ffffff );
        
        i {
            .fs( 24px );
        }
        &_value {
            .db;
            .fs( 20px );
            .fb;
            .mt( 10px );
        }
        &_label {
            .fs( 12px );
            .ttuc;
            .fi0;
        }
        
        &_facebook {
            .bgc( #3b5999 );
            .bor( #20283f );
        }
        &_twitter {
            .bgc( #00acee );
            .bor( #20283f );
        }
        &_visitor {
            .bgc( #df7a1e );
        }
    }
}

/**
 * Search
 */
.widget_search {
    .bgc( #0018aa );
    .p( 20px 10px 20px 15px );
    
    h3 {
        .m( 0 0 15px );
        .fs( 14px );
        .ttuc;
        .c( #ffffff );
    }
    
    &_input {
        .por;
        
        i {
            .poa;
            .t( 10px );
            .l( 10px );
            .c( #7b7b7b );
        }
    }
    
    input[type="text"] {
        .rad( 4px );
        .bo( #173279 );
        .w( 100% );
        .p( 7px 10px 7px 34px );
    }
}

/**
 * Hot News
 */
.widget_hot-news {
    .bgc( #0018aa );
    .py( 30px );
    
    &_item {
        .p( 15px );
        .bob( #001125 );
        .c( #ffffff );
        
        &_thumb {
            .fol;
            .w( 115px );
            
            img {
                .w( 100% );
            }
        }
        &_content {
            .ml( 130px );
        }
        &_category {
            .fs( 12px );
            .fb;
            .ttuc;
            .mb( 10px );
            .c( #ead41b );
        }
        &_title {
            .m0;
            .fs( 16px );
            .lh( 20px );
            .c( #ffffff );
        }
        
        &:last-child {
            .bob0;
        }
    }
}

/**
 * Ad
 */
.widget_ad {
    .p( 30px 15px );
    .tac;
    .bgc( #0018aa );
    
    img {
        .w( 100% );
    }
}

/**
 * Tweet
 */
.widget_tweet {
    .py( 30px );
    .bgc( #0018aa );
    
    &_item {
        .p( 15px );
        .bob( #001125 );
        
        &_thumb {
            .square( 74px );
            .fol;
            
            img {
                .w( 100% );
            }
        }
        &_text {
            .ml( 88px );
        }
        &_name {
            .m( 0 0 10px );
            .fs( 14px );
            
            a {
                .c( #ffffff );
                .td0;
            }
        }
        &_content {
            .fs( 14px );
            .c( #ffffff );
            .mb( 10px );
            
            a {
                .c( #e7d02c );
                .td0;
            }
        }
        &_time {
            .fs( 12px );
            .fb;
            .c( #cfd5e7 );
            .ttuc;
        }
        
        &:last-child {
            .bob0;
        }
    }
}

/**
 * Yahoo messager
 */
.widget_ym {
    .p( 30px );
    .bgc( #0018aa );
    .tac;
    
    a {
        .db;
        
        img {
            .w( 100% );
            .maxw( 240px );
        }
    }
}

/**
 * Yahoo facebook
 */
.widget_facebook {
    .p( 20px 15px 30px );
    .bgc( #0018aa );
    .tac;
    
    .widget_title {
        .p0;
        .mr( -15px );
        .mb( 30px );
    }
    .fb-like-box {
        .dib;
        .bgc( #ffffff );
    }
}

/**
 * Video
 */
.widget_video {
    .py( 30px );
    .bgc( #560e0f );
    
    .widget_title h3:after {
        .bgc( #af2322 );
    }
    
    &_item {
        .p( 15px );
        .bob( #d10303 );
        
        &_thumb {
            .fol;
            .w( 115px );
            
            img {
                .w( 100% );
            }
        }
        &_info {
            .ml( 130px );
            .c( #ffffff );
            
            h3 {
                .m( 0 0 10px );
                .fs( 16px );
                
                a {
                    .c( #ffffff );
                    .td0;
                }
            }
        }
            
        &_meta {
            .fs( 12px );
            
            strong {
                .fb0;
            }
            
            &_info {
                &:after {
                    content: ".";
                    .fb;
                    .fs( 18px );
                    .dib;
                    .vab;
                    .px( 5px );
                }
                
                &:last-child:after {
                    .d0;
                }
            }
        }
    }
    
    &_more {
        .tar;
        .m( 20px );
        
        a {
            .c( #e6ca20 );
            .fs( 14px );
            .td0;
            
            i {
                .c( #ffffff );
                .ml( 8px );
                .fs( 16px );
            }
            
            &:hover {
                .tdul;
            }
        }
    }
}