//==============================================
// Line two color mixins
//==============================================

._line-2-color( @width: 2px ) {
    .w( 100% );
    .h( @width );
    .poa();
    .t0;
}
.line-2-color( @left-color; @right-color; @width: 2px ) {
    
    ._line-2-color( @width );
    .bgc( @right-color );
    .l0;
    
    &:after {
        content: '';
        ._line-2-color( @width );
        .bgc( @left-color );
        .l( -50% );
    }
}