//
// Input Addon
//
.ipbe-form {
    .ipbe-input-group {
        .d( inline-table );
        
        .ipbe-input-addon {
            .d( table-cell );
            .vam;
            .p( 6px 10px );
            .bgc( #eeeeee );
            .c( #999999 );
            .bo( #dddddd );
            .bol0;
            #rad>.right( 4px );
        }
        .ipbe-input {
            .d( table-cell );
            .m0;
        }
    }
}