//
// Help
//
.ipbe-form {
    .ipbe-help {
        .dib;
        .vam;
        .por;
        .ml( 10px );
        
        //Button
        .ipbe-btn-help {
            .p0;
            .circle( 22px );
            
            i {
                .mr( 0 );
            }
        }
        
        //Content
        .ipbe-help-content {
            .poa;
            .t( 32px );
            .r( -8px );
            .bo( #dddddd );
            .p( 7px );
            .rad( 5px );
            .c( #555555 );
            .fs( 12px );
            .bgc( #f9f9f9 );
            .zi( 9999 );
            .w( 400px );
            
            &:before {
                #arrow>.up( #dddddd );
                .r( 8px );
                .t( -20px );
            }
            &:after {
                #arrow>.up( #ffffff );
                .r( 8px );
                .t( -18px );
            }
        }
        
        &:hover .ipbe-help-content {
            .db;
            .vi();
        }
    }
    .ipbe-help-abs {
        .pr( 50px );
        
        .ipbe-help {
            .poa;
            .t( 2px );
            .r( -34px );
        }
    }
}