//
// Input Size
//
.ipbe-form {
    .ipbe-input-full {
        .w( 100% );
        .mr( 20px );
    }
    .ipbe-input-xs {
        .w( 80px );
    }
    .ipbe-input-sm {
        .w( 140px );
    }
    .ipbe-input-md {
        .w( 220px );
    }
    .ipbe-input-lg {
        .w( 320px );
    }
    .ipbe-input-v-lg {
        .py( 10px );
        .fs( 16px );
        .fb;
    }
}