//
// Main
//
.ipbe-form {
    
    .ipbe-field-row {
        .p( 16px 20px );
        .bob( #dddddd );
        .por;
        
        &:first-child {
            .pt( 25px );
        }
        &:last-child {
            .bob0;
        }
    }
    .ipbe-form-label {
        .fb();
        .fs( 14px );
        .ff-title;
        .mb( 5px );
    }
    .ipbe-field-x {
        &:extend( .clearfix all );
        .p( 20px 5px );
    }
    .ipbe-field {
        .por;
    }
    
    //Field title
    .ipbe-field-title {
        .p( 20px 15px );
        .m0;
        .fs( 18px );
        .ff-title;
        .bgc( #f7f7f7 );
        .bob( #dddddd );
        .c( #444444 );
    }
}