//==============================================
// Label flat mixins
//==============================================
.panel-flat() 
{
    @border-color: darken( @panel-flat-color, 20% );
    @icon-color:   darken( @panel-flat-color, 50% );
    @title-color:  darken( @panel-flat-color, 70% );
    
    .m( @panel-flat-margin );
    
    //Header
    &@{single-separator}@{panel-flat-header-class} {
        .p( @panel-flat-padding );
        #rad>.top( @panel-flat-radius );
        .bgc( @panel-flat-color );
        .bo( @border-color );
        .por();
        #box-shadow>.outerY( 1px, 2px, rgba(0,0,0,0.1) );
        
        //Title
        &@{single-separator}@{panel-flat-title-class} {
            .m0;
            .fs( @panel-flat-title-font-size );
            .ff( @panel-flat-title-font-family );
            .c( @title-color );
        }
        //Icon
        &@{single-separator}@{panel-flat-icon-class} {
            .fs( @panel-flat-title-font-size );
            .c( @icon-color );
            .mr( 6px );
        }
        
        //Toggle
        &@{single-separator}@{panel-flat-toggle-class} {
            .poa();
            .t( 13px );
            .r( 10px );
            .ol0!important;
            
            &:active,
            &:hover {
                .ol0!important;
            }
        }
    }
    //Body
    &@{single-separator}@{panel-flat-body-class} {
        .bgc( #ffffff );
        .bo( @border-color );
        #rad>.bottom( @panel-flat-radius );
        .bot0;
    }
}