//==============================================
// Label flat variables
//==============================================

@panel-flat-prefix:                 panel;
@panel-flat-header-class:           header;
@panel-flat-body-class:             body;
@panel-flat-toggle-class:           toggle;
@panel-flat-title-class:            title;
@panel-flat-icon-class:             icon;

@panel-flat-margin:                 0 0 20px;
@panel-flat-padding:                12px 15px;
@panel-flat-radius:                 15px;
@panel-flat-color:                  #eeeeee;
@panel-flat-title-font-size:        16px;
@panel-flat-title-font-family:      @font-family-title;