//==============================================
// Line bottom mixins
//==============================================

.line-bottom( @color; @width: 2px; @space: 3px ) {
    .m0;
    .p( 0 0 @space );
    .bob( @color, @width );
}
.line-bottom-double( @color; @width: 3px; @space: 8px ) {
    @color-bottom: lighten( @color, 10% );
    
    .line-bottom( @color; 1px; @space );
    #box-shadow>.outerY( @width; 0; @color-bottom );
}