//==============================================
// Line bottom setup
//==============================================

@import 'variables.less';
@import 'mixins.less';

@line-bottom-class: ~"@{prefix}@{line-bottom-prefix}";
.@{line-bottom-class} {
    .line-bottom( @line-bottom-color );
    
    &@{single-separator}lg {
        .line-bottom( @line-bottom-color; @line-bottom-lg-width; @line-bottom-lg-space );
    }
}

@line-bottom-double-class: ~"@{prefix}@{line-bottom-double-prefix}";
.@{line-bottom-double-class} {
    .line-bottom-double( @line-bottom-double-color );
}