//==============================================
// Line bottom variables
//==============================================

@line-bottom-prefix:            line-bottom;
@line-bottom-color:             #ebebeb;

@line-bottom-lg-width:          4px;
@line-bottom-lg-space:          10px;

@line-bottom-double-prefix:     line-bottom-double;
@line-bottom-double-color:      #dddddd;